.btn{ border-radius: 0px; font-family: $font-family-head; font-weight: bold; font-size: 12px;}
.btn-primary {
    color: $white;
    background-color: $deep-blue;
    border-color: $deep-blue;
    &:hover {
        color: $white;
        background-color: $deep-cyan-blue;
        border-color: $deep-cyan-blue;
    
    }
    &:active {
		&:hover {
			color: $white;
			background-color: $deep-cyan-blue;
			border-color: $deep-cyan-blue;
		}
		&:focus {
			color: $white;
			background-color: $deep-cyan-blue;
			border-color: $deep-cyan-blue;
		}
	}
}
.btn-outline-primary {
    color: $deep-blue;
    background-color: transparent;
    background-image: none;
    border-color: $deep-blue;
    &:hover {
        color: $white;
        background-color: $deep-blue;
        border-color: $deep-blue;
    
    }
}
.btn-dark {
    color: $white;
    background-color: $gray-800;
    border-color: $gray-800;
    &:hover {
        color: $white;
        background-color: $gray-900;
        border-color: $gray-900;
    }
}
.btn-outline-dark {
    color: $gray-800;
    background-color: transparent;
    background-image: none;
    border-color: $gray-800;
    &:hover {
        color: $white;
        background-color: $gray-800;
        border-color: $gray-800;
    
    }
}
.btn-secondary {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    &:hover,&:focus {
        color: $white;
        background-color: $deep-cyan-blue;
        border-color: $deep-cyan-blue;
    }
}

.btn-outline-secondary {
    color: $blue;
    background-color: transparent;
    border-color: $blue;
    &:hover {
        color: $white;
        background-color: $blue;
        border-color: $blue;
    }
}

.btn-gray {
    color: $white;
    background-color: $gray-600;
    border-color: $gray-600;
    &:hover {
        color: $white;
        background-color: $gray-600;
        border-color: $gray-600;
    }
}

.btn-white {
    color: $black;
    background-color: $white;
    border-color: $black;
    &:hover {
        color: $white;
        background-color: $gray-600;
        border-color: $gray-600;
    }
}

.btn-outline-white {
    color: $white;
    background-color: transparent;
    background-image: none;
    border-color: $white;
    &:hover {
        color: $white;
        background-color: $blue;
        border-color: $blue;
    
    }
}
.btn-label-default{
    color: $gray-800;
    background-color: transparent;
    background-image: none;
    border: $gray-800 1px solid;
    padding: 6px 12px;
    display: inline-block;
}