.btn{ border-radius: 0px;}
.btn-primary {
    color: #fff;
    background-color: #1a2940;
    border-color: #1a2940;
    &:hover {
        color: #fff;
        background-color: #314d77;
        border-color: #314d77;
    
    }
    &:active {
		&:hover {
			color: #fff;
			background-color: #314d77;
			border-color: #314d77;
		}
		&:focus {
			color: #fff;
			background-color: #314d77;
			border-color: #314d77;
		}
	}
}
.btn-outline-primary {
    color: #1a2940;
    background-color: transparent;
    background-image: none;
    border-color: #1a2940;
    &:hover {
        color: #fff;
        background-color: #1a2940;
        border-color: #1a2940;
    
    }
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    &:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
    }
}
.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    &:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    
    }
}
.btn-secondary {
    color: #fff;
    background-color: #1D74CE;
    border-color: #1D74CE;
    &:hover {
        color: #fff;
        background-color: #1D74CE;
        border-color: #1D74CE;
    }
}

.btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    &:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
}
.btn-outline-white {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
    &:hover {
        color: #fff;
        background-color: #1D74CE;
        border-color: #1D74CE;
    
    }
}