a { color: #344c70;
	&:hover{ text-decoration: none;}
}
.dark-blue-bg{ background: #1a2940;}
.light-blue-bg{ background: #316aa3;}
.dark-light-blue-bg{ background: #344c70;
color: #fff;
	a { color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}
.grey-bg {background-color: #e9ecef;}
.gray-light-bg{ background: #eee;}
.pt-7{ padding-top: 70px;}
.pb-7{ padding-bottom: 70px;}
.pb-6{ padding-bottom: 60px;}
.pt-6{ padding-top: 60px;}
.pt-5{ padding-top: 50px;}
.pb-5{ padding-bottom: 50px;}
.pt-4{ padding-top: 40px;}
.pb-4{ padding-bottom: 40px;}
.pr-4{ padding-right: 40px;}
.pl-4{ padding-left: 40px;}
.pt-3{ padding-top: 30px;}
.pb-3{ padding-bottom: 30px;}
.pr-3{ padding-right: 30px;}
.pl-3{ padding-left: 30px;}
.pr-2{ padding-right: 20px;}
.pl-2{ padding-left: 20px;}
.pr-1{ padding-right: 10px;}
.pl-1{ padding-left: 10px;}
.p-0{ padding: 0px !important;}
.mb-2{margin-bottom: 20px;}
.mt-2{ margin-top: 20px;}
.mb-7{margin-bottom: 70px;}
.mt-7{ margin-top: 70px;}
.mr-2{margin-right: 20px;}
.ml-2{ margin-left: 20px;}
.mr-4{margin-right: 40px;}
.ml-4{ margin-left: 40px;}
.mt-4{margin-top: 40px;}
.mb-4{ margin-bottom: 40px;}

.mr-3{margin-right: 30px;}
.ml-3{ margin-left:30px;}
.mt-3{margin-top: 30px;}
.mb-3{ margin-bottom:30px;}

.mr-1{margin-right: 10px;}
.ml-1{ margin-left: 10px;}
.mt-1{margin-top: 10px;}
.mb-1{ margin-bottom: 10px;}
.mr-15{margin-right: 15px;}
.ml-15{ margin-left: 15px;}
.mt-25{margin-top: 25px;}
.mb-25{ margin-bottom: 25px;}
.border{border: $border;}
.borderTopDarkblue {  border-top: solid 3px #1a2940 !important;}
.border-bottom { border-bottom: 1px solid #dee2e6 !important;}
.list {
    padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 18px;
		border-bottom: solid 1px #e7e7e7;
		a {
			color: #344c70;
			font-weight: 400;
		}
	}
}
.list-hover {
	li {
		background-color: #ebebeb;
		border-bottom: solid 1px #fff;
		&:hover {
			background-color: #f1f1f1;
			
		}
	}
}
.section-title {
	border-top: 3px solid #1a2940;
	border-bottom: 1px solid #e6e7e8;
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 12px 18px;
	color: #58595b;
	font-weight: 400;
	margin-bottom: 0px;
	margin-bottom: 0px;
	
}
.thumb_block {
    width: 80px;
    height: 80px;
    float: left;
	margin-right: 10px;
	img{
		width: 100%;
		height: 80px;
		object-fit: cover;
	}
}
.item-title{ font-size: 14px;}
.date {
    margin-top: 6px;
    display: block;
	color: #aaa;
	font-size: 14px;

}
.content-max-height{height: 100px; overflow: hidden;}
.breadcrumbBlock{ background-color: #f5f5f5; border-bottom: solid 1px #ebebeb;
	.breadcrumb {
		margin-top: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 14px;
		margin-bottom:0px;
		li {
			+ {
				li {
					&::before {
						padding: 0 5px;
						color: #ccc;
						content: "\003e ";
					}
				}
			}
		}
	}
	
}
.rightBlockSection {
	width: 100%;
}
.contactUs {
	background: url(https://www.dezshira.com/themes/dsa/images/topics-banners/RightContact-us_Background.jpg) no-repeat top left;
	width: auto;
    height: 420px;
    background-size: cover;
	.BannerCaption {
		padding: 30px;
		h3 {
			margin: 0;
			padding: 30px 20px 0 0;
			color: #FFF;
			font-size: 22px;
            font-style: normal;
            a {
                color: #fff;
            }
		}
		p {
			margin: 0;
			padding: 20px 18px 0 0;
            color: #fff;
            a {
                color: #fff;
            }
		}
		
        
	}
}

.contactUs.contact-Us-Small {
	background: url(https://www.dezshira.com/themes/dsa/images/topics-banners/RightContact-us_Background-small.jpg) no-repeat top left;
	height: 290px;
	h3{ padding-top: 20px;
		padding-right: 0px;
		font-size: 16px;
	}
	p{ padding-top: 10px; padding-right: 0px;}
}

.light-blue-bg{
	background-color: #316aa3;
	color: #FFF;
	.BannerCaption {
		padding: 30px 29px 30px 30px;
		h3 {
			margin: 0;
			padding: 10px 0 0;
			color: #FFF;
			font-weight: 400;
			font-size: 16px;
			font-style: normal;
		}
		p {
			margin: 0;
			padding: 10px 0 0;
			color: #fff;
			font-size: 22px;
			line-height: 1.3;
			font-weight: 700;
        }
        
        a {
			color: #fff;
		}
	}
}
.contactBlockSmall {
	.BannerCaption {
		padding: 30px 29px 30px 30px;
	}
}

section.blue {
	background-color: #316aa3;
	padding: 35px 0;
	color: #FFF;
	line-height: 36px;
	h5 {
		font-size: 18px;
		color: #FFF;
		line-height: 20px;
		font-weight: 400;
	}
	h1{ color: white;
	a{ color: white;}}
}

.listRightContent {

    padding-left: 150px;

}
.greyLeftBorder {

    border-left: solid 1px #e1e1e1;

}

.locationThumbnail {
	width: 362px;
	height: 204px;
	position: relative;
	margin-bottom: 30px;
	.title {
		font-weight: 400;
		line-height: 26px;
		font-size: 24px;
		position: absolute;
		left: 4%;
		bottom: 10%;
		z-index: 1;
		color: #FFF;
	}
	img {
		width: 100%;
		height: 204px;
		object-fit: cover;
	}
}
figure {
	margin: 0;
}
.hoverImage {
	overflow: hidden;
	figure {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}

.name{
	font-size: 22px; color: #000;
	a{ color: #000!important;}
}
.social_media{
	font-size: 20px;
	a{ color: #d1d3d4!important;}
}
.expertise{
	color: #58595b;
	font-weight: 600;
}
.designation{
    color: #344c70;
	font-size: 18px;
	font-weight: 500;
	a{ font-weight: 500;}
}
.country{
	color: #939598;
	font-size: 13px;
}
.publications-thumb{ float: left; width: 150px;}