@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu { display: block; }
  } 
@media screen and (max-width:768px) {
///header
	#header {
		.btn-primary {
			width: auto;
			margin-top: 18px;
			padding: 4px 10px;
			font-size: 24px;
			vertical-align: middle;
			height: 39px;
			margin-right: 0px;
			span {
				font-size: 0px;
			}
		}
		.btn-primary#agree_cookie_terms {
			position: inherit;
			float: inherit;
			display: block;
			margin: 15px auto 5px auto;
			right: 0;
			top: 0;
        }
        .top-right-links {
            width: auto;
            position: relative;
            z-index: 11;
            #accordion {
				width: auto;
				.panel{ background: transparent;}
            }
        }
        .logo {
            width: 100%;
            max-width: 100%;
		}
		.panelTab{ border: none;}
	}

    ///navigation
	.navbar-header {
		width: 64px;
		float: left;
	}
	.navbar-toggle {
		float: left;
		right: 0px;
		background-color: #FFF;
		width: auto;
        top: 5px;
        margin-left: 15px;
	}
	.navbar {
		margin-top: -50px;
		min-height: 55px;
		border-top: 0;
	}
	.navbar-inverse {
		background: #ebebeb;
		z-index: 10;
		border-top: solid 3px #1a2940;
		.navbar-toggle {
            border-radius: 0;
			.icon-bar {
				background-color: #1a2940;
			}
			border: solid 1px #e7e7e7;
			&:focus {
				background-color: transparent;
			}
			&:hover {
				background-color: transparent;
			}
		}
		.navbar-collapse {
			border-color: #1a2940;
			border-color: #1a2940;
			border-color: #939598;
			margin-top: 50px;
		}
		.navbar-form {
			border-color: #1a2940;
			border-color: #1a2940;
			border-color: #939598;
			margin-top: 50px;
		}
		.navbar-nav.navbar-right {
			>li {
				>a {
					float: left;
					padding: 10px 10px 10px 30px;
				}
			}
		}
    }
    

///home page banner carousel
#HomeBannerSlide{
    .carousel-inner {
        .carousel-caption{ 
            left: 5%;
            width: 90%;
            right: 0;
        
        }
    }
}

	.featureResources {
		.carousel-inner {
			>.item {
				>a {
					img {
						height: auto;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.carousel-inner {
		>.item {
			>a {
				>img {
					height: 100%;
				}
			}
			>img {
				height: 100%;
			}
		}
	}
	.bannerSlide {
		.carousel-caption {
			width: 90%;
			top: 10%;
		}
	}
	.viewOnHover-first {
		img {
			width: 100%;
			height: auto;
		}
	}
	.viewOnHover {
		height: auto;
	}
	section.TopBanner {
		height: auto;
		img {
			height: 100%;
		}
		.BannerCaption {
			margin-top: 0px;
			padding-top:30px;
			padding-bottom:30px;
		}
	}
	.panelTab {
		a.disable-links {
			pointer-events: auto;
		}
	}
	.multimediaLargeThumbnail {
		height: auto;
		width: 100%;
		margin-bottom: 10px;
		img {
			height: auto;
			width: 100%;
		}
	}
	.locationThumbnail.smallThumbnail {
		width: 100%;
	}
	.locationThumbnail {
		width: 100%;
	}
	.hoverImage {
		figure {
			img {
				width: 100%;
			}
		}
    }

    .listRightContent{ padding-left: 0px;}
    #cookiesModal {   display: none;}

    //footer
    .footer{ text-align: center;
            .footer-copyright {
                .links {
                    ul.list-inline{ text-align: center;}
                }
            }
            .footer-social{ padding-top: 35px; padding-bottom: 35px;}
	}
	//international desk
	.international-desks{ 
		min-height: 100%;
		padding-bottom: 20px;
	}

	//career page
	.internship, .fullTime{ padding-left: 15px; padding-right: 15px;}

	.MeetOurPeople {
		p{ padding-right: 15px;}

		.carousel-inner{
		.item {
			img{ height: auto;}
		}
			}
	}

	//contact form
	.kform {
		.btn-primary{ float:inherit; margin-top: 30px; }
	}

	//asiapedia
	.TopBanner.asiapedia-banner{
		height: auto;
		.BannerCaption{
			margin-top: 0px;
		}
	}
	.asiapedia_page{
		.locationThumbnail{ width: 100%;}
	}
	.services_link { margin-top: 15px;
		margin-left: 15px;
		li{ float: none;
			&:first-child{ list-style:inherit ;}
		}
	}

	//service contact form
	form#contact_form #loading {width:100%;left:0;}
	.list-inline.research {
	li{ width:100%;}
	}
	.rightBlockPosition{ display:none;}
	.leftBlockSection{ display:none;}
	section.contact.service_cta {
	.fa-envelope{ text-align:left; float:none;}
	.submit_btn{ margin-top:30px; float:none;}
}

.text-align{ text-align:left;}

//brochure
#brochure.brochure_dropdown .brochureCaption{ padding: 0px;}
.asiapedia.servicesFlyers{ min-height: auto;}
//newspage
#related_reading.list{
	li{
		.listRightContent{ padding-left: 0px;}
	}	
}

.publications-thumb{ float: inherit;}

//bottom banner
section.TopBanner.bottom-banner{
	height: auto;

	.BannerCaption{ padding: 20px 0px;}
}

}
