.asiapedia_homepage {
	.list-inline {
		margin-left: 0;
        text-align: center;
        li{
        padding-left: 1px; 
        padding-right: 1px;}
	}
}
.multimediaSmallThumbnail {
	width: 282px;
	height: 158px;
	position: relative;
	.icon_player {
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		color:$white;
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		a { 
			color: $white;
		}
	}
	img {
		width: 100%;
		height: 156px;
	}
}
.multimediaLargeThumbnail {
	.icon_player {
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		color: $white;
	}
}
.hoverImage {
	overflow: hidden;
	overflow: hidden;
	figure {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}
.brochure {
	.gray-light-bg{
		overflow: hidden;
	}
	.downloadIcon {
	float: left;
    height: 170px;
    margin-right: 25px;
    width: 76px;

}
	.about-us{
		float: left;
		width: 80%;
		h2{ color: $cyan-blue;
			font-size: 22px;
			font-weight: bold;
		a{color: $cyan-blue;}
	}
		h3{ color: $deep-blue;
			font-size: 18px;
		a{color: $deep-blue;}
		}
	}
	}

	.resource{

		.event-block{
			.item-title{ height: 29px; overflow: hidden; margin-bottom: 0px; margin-top: 5px;
			a{ color: #2f3238;}}
			.date{ margin-top: 0px; color: $cyan-blue; 
				font-size: 16px; 
				font-family:$font-family-base;
				line-height: 18px; 
			a{ color: $cyan-blue;}
		}
			li{
				&:last-child{ padding-bottom: 5px; padding-top: 5px; background: transparent;
				border-bottom: solid 1px #e7e7e7;}
			}
			

		}
		.latest-news-block{
			li{ padding-top: 14px; padding-bottom: 14px;
				&:last-child{ padding-bottom: 5px; padding-top: 5px; }
				
			}
			.item-title{ height: 55px; overflow: hidden; line-height: 18px;
			a{ color: #2f3238;}
			}
		}
	}
	#logoDownload,#Loginpopup,#loginForm{
		.modal-content{ border-radius: $border-radius-none;
			
		}
		.modal-header{ border: $border-none;
			.close {				
				color: $deep-blue;
				outline: 0;
				opacity: inherit;
			
			}
		}
		.fa-cloud-download-alt {			
			color: #d3d3d3;
		
		}
	}
	#Loginpopup,#loginForm{
		.modal-header{ border-top: solid 3px $bluedark; }
		.modal-title{ color: $bluedark;}
		.subscriptionBlock {
			.carousel  {
				.item {
					min-height: 260px; text-align: center;
			}
			.carousel-caption{ color: #404040; text-shadow: none; width: 90%; right: 5%; left: 5%;;
				p{ padding-top: 20px;}
			}
		}
		.carousel-indicators  { bottom: 0;
			.active {
				background-color: #b7b8bb;
				margin: 0px 2px;
				}
			li {
				background-color: #d6d6d6;
				height: 12px;
				width: 12px;
			}
		
		}
	}
	}
	#loginForm{ padding: 0px 10px 0px 10px;
		.form-control{ border-left: 0px;box-shadow:none;
		&:focus{ border-color: #ccc;}
		}
	}
	.sec-block{
		h2{ font-size: 24px;}
	}