.asiapedia_homepage {
	.list-inline {
		margin-left: 0;
        text-align: center;
        li{
        padding-left: 1px; 
        padding-right: 1px;}
	}
}
.multimediaSmallThumbnail {
	width: 282px;
	height: 158px;
	position: relative;
	.icon_player {
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		color: #FFF;
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		a { 
			color: #FFF;
		}
	}
	img {
		width: 100%;
		height: 156px;
	}
}
.multimediaLargeThumbnail {
	.icon_player {
		position: absolute;
		left: 45%;
		top: 40%;
		z-index: 1;
		width: 20px;
		height: 20px;
		color: #FFF;
	}
}
.hoverImage {
	overflow: hidden;
	overflow: hidden;
	figure {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}
.brochure {
	.gray-light-bg{
		overflow: hidden;
	}
	.downloadIcon {
	float: left;
    height: 170px;
    margin-right: 25px;
    width: 76px;

}
	.about-us{
		float: left;
		width: 80%;
		h2{ color: #344c70;
			font-size: 22px;
			font-weight: bold;
		a{color: #344c70;}
	}
		h3{ color: #1a2940;
			font-size: 18px;
		a{color: #1a2940;}
		}
	}
	}

	.resource{

		.event-block{
			.item-title{ height: 35px; overflow: hidden; margin-bottom: 0px;}
			li{
				&:last-child{ padding-bottom: 5px; padding-top: 5px; background: transparent;
				border-bottom: solid 1px #e7e7e7;}
			}
			

		}
		.latest-news-block{
			li{
				&:last-child{ padding-bottom: 5px; padding-top: 5px; }
				
			}
		}
	}
