footer
  .footer
    .container
      .row
        .col-sm-7.col-md-7.col-lg-7
          ul.links
            li
              a(href='https://www.dezshira.com/services') Services
            li
              a(href='https://www.dezshira.com/about-us/media.html') Media
            li
              a(href='https://www.dezshira.com/international-desk') International Desks
            li
              a(href='https://www.dezshira.com/library') Asiapedia
          ul.socialList
            li Follow Us
            li
              a(href='https://www.facebook.com/DezanShira', target='_blank')
                i.sprite.sprite-retina.icon-facebook
            li
              a(href='https://twitter.com/dezanshira', target='_blank')
                i.sprite.sprite-retina.icon-twitter
            li
              a(href='https://www.linkedin.com/company/51688', target='_blank')
                i.sprite.sprite-retina.icon-linkedin
            li
              a(href='https://www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA', target='_blank')
                i.sprite.sprite-retina.icon-youtube
        .col-sm-5.col-md-5.col-lg-5
          h3 Foreign Investment News for Asia Direct to Your Inbox
          form(action='https://www.dezshira.com/register', method='GET')
            .input-group.input-group-lg
              input.form-control(type='text', name='email', placeholder='Enter your email')
              .input-group-btn
                button.btn.btn-lg.btn-outline.lightBlue-btn(type='submit') Sign Up
      .row
        .col-sm-12.col-md-12.col-lg-12
          p
            | Dezan Shira &amp; Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax and operational advisory to international corporate investors. Operational throughout China, ASEAN and India, our mission is to guide foreign companies through Asia&rsquo;s complex regulatory environment and assist them with all aspects of establishing, maintaining and growing their business operations in the region. With more than 25 years of on-the-ground experience and a large team of lawyers, tax experts and auditors, in addition to researchers and business analysts, we are your partner for growth in Asia.
      .row
        .copyright
          .col-sm-6.col-md-6.col-lg-7
            small &copy; 1992-2019 Dezan Shira &amp; Associates All Rights Reserved.
          .col-sm-6.col-md-6.col-lg-5
            ul.inlineList
              li
                a(href='https://www.dezshira.com/about-us/our-firm.html') About Us
              li
                a(href='https://www.dezshira.com/contact') Contact Us
              li
                a(href='https://www.dezshira.com/terms-of-use.html') Terms of Use
              li
                a(href='https://www.dezshira.com/privacy-policy.html') Privacy Policy
