#header
  .container
    .row
      .col-sm-5.col-md-4
        // logo
        .logo.align-center
          a#logo(href='https://www.dezshira.com/', data-target='#logoDownload')
            img.img-responsive.mt-4.mb-4(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png?v2', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png?v2 2x')
      .col-sm-7.col-md-8
        // hedare top right side links
      .top-right-links
        a.btn.btn-primary.pull-right(href='https://www.dezshira.com/contact')
          span.hidden-xs Contact Us
          i.fa.fa-envelope.hidden-md.hidden-sm.hidden-lg
        .loginBrochure_block.mt-2
          a.connectdevelop.marginLeftRight_none(href='#', data-toggle='modal', data-target='#Loginpopup')
            i.sprite.sprite-retina.icon-login(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Subscribe/Login')
          a.connectdevelop(href='https://www.dezshira.com/brochure', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Download Brochure')
            i.sprite.sprite-retina.icon-download
        #accordion.pull-right
          .panel
            .panelTab(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='International Desks')
              a.disable-links(href='javascript:;')
                i.sprite.sprite-retina.icon-globe
            .panelContent.globtab
              ul.list-inline
                li
                  a(href='https://www.dezshira.com/international-desk/north-american.html')
                    i.sprite.sprite-retina.icon-flag-american
                li
                  a(href='https://www.dezshira.com/international-desk/uk-ireland.html')
                    i.sprite.sprite-retina.icon-flag-UK-Ireland
                li
                  a(href='https://www.dezshira.com/international-desk/french.html')
                    i.sprite.sprite-retina.icon-flag-french
                li
                  a(href='https://www.dezshira.com/international-desk/german.html')
                    i.sprite.sprite-retina.icon-flag-german
                li
                  a(href='https://www.dezshira.com/international-desk/italian.html')
                    i.sprite.sprite-retina.icon-flag-italian
                li
                  a(href='https://www.dezshira.com/international-desk/russian.html')
                    i.sprite.sprite-retina.icon-flag-russian
                li
                  a(href='https://www.dezshira.com/international-desk/spanish.html')
                    i.sprite.sprite-retina.icon-flag-spanish
                li
                  a(href='https://www.dezshira.com/cn')
                    i.sprite.sprite-retina.icon-flag-chinese
                li
                  a(href='https://www.dezshira.com/international-desk/australian.html')
                    i.sprite.sprite-retina.icon-flag-australian
          .panel.search
                .panelTab(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Search')
                  a.disable-links(href='javascript:;')
                    i.sprite.sprite-retina.icon-search
                .panelContent.searchtab
                  form.form-inline(action='https://www.dezshira.com/library')
                    .form-group
                      input#SearchInput.form-control(type='text', placeholder='Search', name='s')
                      i

  // navigation bar
  #navbar
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false') About Us
              ul.dropdown-menu
                li
                  a(href='https://www.dezshira.com/about-us/our-firm.html') Overview
                li
                  a(href='https://www.dezshira.com/personnel') Personnel
                li
                  a(href='https://www.dezshira.com/updates') News
                li
                  a(href='https://www.dezshira.com/events') Events
                li
                  a(href='https://www.dezshira.com/career') Careers
                li
                  a(href='https://www.dezshira.com/about-us/history-milestones.html') History
                li
                  a(href='https://www.dezshira.com/about-us/media.html') Media
                li
                  a(href='https://www.dezshira.com/partnerships/global') Partnerships
                li
                  a(href='https://www.dezshira.com/international-desk') International Desks
            li.dropdown
              a.dropdown-toggle(href='https://www.dezshira.com/services', data-toggle='dropdown', aria-expanded='false') Services
              ul.dropdown-menu
                li
                  a(href='https://www.dezshira.com/services/business-intelligence-solutions') Business Intelligence
                li
                  a(href='https://www.dezshira.com/services/business-advisory') Corporate Establishment and Structuring
                li
                  a(href='https://www.dezshira.com/services/legal-financial-due-diligence') Due Diligence
                li
                  a(href='https://www.dezshira.com/services/accounting-reporting') Accounting
                li
                  a(href='https://www.dezshira.com/services/payroll-human-resource-administration') HR and Payroll
                li
                  a(href='https://www.dezshira.com/services/tax') Tax
                li
                  a(href='https://www.dezshira.com/services/audit-financial-review') Audit and Risk Advisory
                li
                  a(href='https://www.dezshira.com/services/information-technology-solutions') Technology
                li
                  a(href='https://www.dezshira.com/services/outbound-direct-investment') Outbound Direct Investment
            li.dropdown
              a.dropdown-toggle(href='https://www.dezshira.com/industries', data-toggle='dropdown', aria-expanded='false') Industries
              ul.dropdown-menu
                li
                  a(href='https://www.dezshira.com/industries/education') Education
                li
                  a(href='https://www.dezshira.com/industries/entertainment-sports') Entertainment and Sports
                li
                  a(href='https://www.dezshira.com/industries/environment-cleantech') Environment and Cleantech
                li
                  a(href='https://www.dezshira.com/industries/food-beverage') Food and Beverage
                li
                  a(href='https://www.dezshira.com/industries/healthcare') Healthcare
                li
                  a(href='https://www.dezshira.com/industries/information-technology') Information Technology
                li
                  a(href='https://www.dezshira.com/industries/manufacturing') Manufacturing
                li
                  a(href='https://www.dezshira.com/industries/non-governmental-organizations') Non-Governmental Organizations
                li
                  a(href='https://www.dezshira.com/industries/professional-services') Professional services
                li
                  a(href='https://www.dezshira.com/industries/trade-and-e-commerce') Trade and E-commerce
            li.dropdown.mega-dropdown
              a.dropdown-toggle(href='https://www.dezshira.com/office', data-toggle='dropdown', aria-expanded='false') locations
              ul.dropdown-menu.mega-dropdown-menu
                li.col-sm-6
                  ul
                    li
                      a(href='https://www.dezshira.com/office/china')
                        | China
                        span.sprit.dropdown
                    li
                      a(href='https://www.dezshira.com/office/silk-belt-road.html') Belt &amp; Road Initiative
                    li
                      a(href='https://www.dezshira.com/office/hong-kong.html') Hong Kong
                    li
                      a(href='https://www.dezshira.com/office/india')
                        | India
                        span.sprit.dropdown
                    li
                      a(href='https://www.dezshira.com/office/indonesia.html') Indonesia
                    li
                      a(href='https://www.dezshira.com/office/malaysia.html') Malaysia
                    li
                      a(href='https://www.dezshira.com/office/philippines.html') Philippines
                li.col-sm-6
                  ul
                    li
                      a(href='https://www.dezshira.com/office/russia') Russia
                    li
                      a(href='https://www.dezshira.com/office/singapore.html') Singapore
                    li
                      a(href='https://www.dezshira.com/office/thailand.html') Thailand
                    li
                      a(href='https://www.dezshira.com/office/vietnam')
                        | Vietnam
                        span.sprit.dropdown
                    li
                      a(href='https://www.dezshira.com/office/italy')
                        | Italian Liaison Office
                        span.sprit.dropdown
                    li
                      a(href='https://www.dezshira.com/office/germany')
                        | German Liaison Office
                        span.sprit.dropdown
                    li
                      a(href='https://www.dezshira.com/office/united-states.html') United States Liaison Office
            li.dropdown
              a.dropdown-toggle(href='https://www.dezshira.com/library', data-toggle='dropdown', aria-expanded='false') Investor Resources
              ul.dropdown-menu(style='min-width: 100%; margin-top: 0px;')
                li
                  a(href='https://www.dezshira.com/library') Asiapedia
                li
                  a(href='https://www.dezshira.com/investor-resource.html') Asia Briefing
          ul.nav.navbar-nav.navbar-right
            li
              a(href='https://twitter.com/dezanshira', target='_blank')
                i.fab.fa-twitter
            li
              a(href='https://www.linkedin.com/company/51688', target='_blank')
                i.fab.fa-linkedin-in
            li
              a(href='https://www.facebook.com/DezanShira', target='_blank')
                i.fab.fa-youtube
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fab.fa-weixin
              ul.dropdown-menu(style='margin-top: 0px;')
                li
                  a(href='#')
                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/WeChat-QR-code.jpg', width='115')
      // /.navbar-collapse
