extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Careers
                        h4 Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.

    section.pb-5.pt-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    .border-top.border-bottom.pt-3.pb-4.mb-4.borderTopDarkblue
                        h1.heading.mb-3 Editorial Assistant (Singapore)
                        em
                            strong Location:
                        |  Singapore, Singapore  
                        br
                        em
                            strong Function:
                        |  Asia Briefing Editorial 
                        br
                        em
                            strong Role:
                        |  Assistant (Intern)
                        .clearfix
                        span.btn-label-default.mt-4.text-uppercase.disabled Internship

                    p
                        | Dezan Shira &amp; Associates (DSA) is a specialist foreign direct investment practice with a pan-Asia presence. The firm has grown into one of Asia&apos;s most versatile full-service consultancies with over 28 offices in China, Vietnam, Singapore, and India. DSA primarily provides legal, tax, and operational advisory to international corporate investors.
                    p
                        | The firm publishes business news and analysis through its subsidiary 
                        a(href='http://www.dezshira.com/career/') Asia Briefing
                        |  (AB), which produces articles and magazines for 
                        a(href='http://www.china-briefing.com/') China
                        | , 
                        a(href='http://www.vietnam-briefing.com/') Vietnam
                        | , 
                        a(href='http://www.aseanbriefing.com/') ASEAN
                        | , and 
                        a(href='http://www.india-briefing.com/') India
                        | . The editorial team consists of a diverse array of professionals from across the world with experience in academia, professional services, business intelligence, and journalism.
                    p
                        | DSA manages a 
                        a(href='http://www.dezshira.com/career/internship-philosophy') highly successful internship program
                        |  for students and young professionals from across the world. Under this program, AB recruits, coaches, and mentors Editorial Assistants to play a key role in our editorial operations. We are currently recruiting interns on a rolling basis for our 
                        a(href='http://www.dezshira.com/office/singapore.html') Singapore office
                        | .
                    p
                        strong The Editorial Assistant will assume the following roles:
                    ul(type='disc')
                        li Monitor business, economic, and political news in Asian markets, such as China, Southeast Asia, and India
                        li Develop, maintain and update AB datasets
                        li Research and analyze complex economic, market, business and regulatory issues
                        li Create, pitch, and develop content ideas for AB content network, including China Briefing, Vietnam Briefing, ASEAN Briefing, and India Briefing
                        li Draft articles for the AB content network, including website articles, magazines, guides, thought leadership reports, case studies
                        li Cultivate a network of sources for information on key industries and regions
                        li Participate in marketing and business development activities when necessary
                    p
                        strong Preferred qualifications and skills:
                        ul(type='disc')
                            li Excellent written and verbal communication skills
                            li Educational background in regional, business, economic, legal or political studies
                            li Exposure to formal research, editorial work and/or international business issues in Asia
                            li Ability to produce professional research on complex issues and developments
                            li Ability to work independently in a deadline-driven environment
                            li Demonstrable interest in Asia and/or its business environment
                            li Interest in developing a career as a journalist, editor, analyst, or consultant
                            li Interest in working with a multinational corporation to help foreign investors succeed
                    p
                        strong The advantages of working for us:
                    ul(type='disc')
                        li A formal position title
                        li Editorial and professional training from senior staff
                        li Frequent opportunities for article bylines
                        li Opportunity to develop a regional or thematic specialization
                        li Ability to serve in multiple regional offices
                        li Capstone projects for professional portfolios
                        li Career advancement opportunities, including networking and full-time positions
                        li Identification with a well-known regional publication
                    p
                        | Editorial Assistants typically conduct research, write at least one article a week, and develop a specialization during a three or six month internship. Many Assistants use this experience to improve their writing, gain a publication history, learn about business in Asia, and/or make a transition in the job market. You may review previous Assistants&rsquo; experiences 
                        a(href='http://www.dezshira.com/career/previous-interns-experience') here
                        | .
                    p
                        | The position is an ideal opportunity for individuals that would like to work in a positive, constructive, and supportive environment. We also provide a local stipend for basic costs.
                    p
                        | DSA is committed to creating a diverse work environment. All qualified applicants will receive consideration for employment without regard to race, color, religion, gender, gender identity or expression, sexual orientation, national origin, genetics, disability, or age. DSA is proud to be an equal opportunity employer.
                    <hr>
                    a.btn.btn-outline-secondary.mr-2.mb-2(href='https://www.dezshira.com/login?redirect=https:~~www.dezshira.com~career~details~singapore~editorial-assistant-singapore-124.html') LOGIN TO APPLY
                    a.btn.btn-outline-dark.mb-2(href='http://www.dezshira.com/register.html', target='_blank') CREATE AN ACCOUNT



                    
       

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection
                        h4.section-title Other openings in Singapore 
                        ul.list
                            li
                             .designation
                                    a(href='https://www.dezshira.com/career/details/singapore/junior-company-secretary-178.html') Junior Company Secretary
                             .duration.mt-3 Associate | Business Advisory Services
                             .country Singapore

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal