extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Careers
                        h4 Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.

    section#featuredOffers
        .container
            h1.text-center.display-4.mb-4 Featured Offers
            .row
                .col-lg-4.col-md-4.col-sm-4
                    .boxContent.border
                        h4
                            a(href='https://www.dezshira.com/career/details/singapore/junior-company-secretary-178.html') Junior Company Secretary
                        h5 Associate | Business Advisory Services  
                        h6 Singapore | Singapore
                .col-lg-4.col-md-4.col-sm-4
                    .boxContent.border
                        h4
                            a(href='https://www.dezshira.com/career/details/vietnam/business-intelligence-intern-176.html') Business Intelligence Intern
                        h5 Assistant (Intern) | Business Intelligence  
                        h6 HCMC / Hanoi | Vietnam
                .col-lg-4.col-md-4.col-sm-4
                    .boxContent.border
                        h4
                            a(href='https://www.dezshira.com/career/details/india/graphic-designer-asia-briefing-175.html') Graphic Designer, Asia Briefing
                        h5 Associate | Marketing  
                        h6 Delhi | India
    section#jobs
        .container-fluid
            .row
                .col-sm-6.col-md-6.col-lg-6.internship
                    h2 Internship program
                    p
                        | Find your fit in an environment where you can explore new skills and interests. We offer a flexible internship for personal and professional growth.
                    a.btn.btn-outline-white.text-uppercase(href='https://www.dezshira.com/career/search?role=Assistant+%28Intern%29') see OFFERS
                .col-sm-6.col-md-6.col-lg-6.banner.fullTime
                    h2 Full time jobs
                    p
                        | Make your next move with a growing team of entrepreneurial professionals from across the world. We provide the platform for success.
                    a.btn.btn-outline-white.text-uppercase(href='https://www.dezshira.com/career/search?type=permanent') SEE OFFERS

    section#OurCoreValues
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    h1.text-center.heading.mb-2 Our Core Values
                    p.text-center
                        | We are motivated by our core values. These values have enabled our continued success as 
                        br
                        | trusted advisors for international businesses across Asia.
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-innoCreat
                        |  Innovation and Creativity
                    p
                        | We are always looking to expand our boundaries, knowing that an environment of sharing and collaboration will foster the continual development of our practice.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-ethics
                        |  Ethics
                    p
                        | We act with highest standards of personal and professional integrity; our business is run honestly, without cutting corners.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-culturaldiver
                        |  Cultural Diversity
                    p
                        | Our clients come from all over the world, and so do we. We are proud to attract and retain diverse talent to ensure our offices have multiple perspectives and global insight.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-diligence
                        |  Diligence
                    p
                        | We love what we do, and our commitment to quality means that we approach our work with unmatched enthusiasm and dedication, to our people and to our clients.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-prudence
                        |  Prudence
                    p
                        | We take our work seriously, which is why our clients feel confident that we will provide sound advice in increasingly complex emerging markets.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    h2
                        i.sprite.sprite-retina.icon-perseverance
                        |  Perseverance
                    p
                        | We know that the best solutions don&rsquo;t always come easily. Our employees are empowered to challenge their assumptions in an environment where they have the freedom to reach their full potential.

    section.MeetOurPeople
        .container
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    h2.heading Meet Our People
                    p
                        | Since its establishment in 1992, Dezan Shira &amp; Associates has grown into one of Asia&apos;s most versatile full-service consultancies with operational offices across China, Hong Kong, India, Singapore and Vietnam as well as liaison offices in Italy and the United States. By joining our international team, you will be one of many business professionals committed to improving the understanding and transparency of investing in emerging Asia.
                    a.btn.btn-outline-dark.text-uppercase.mb-2(href='#testimonial') see testimonies
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    #meetOurPeople.carousel.slide(data-ride='carousel')
                        // Indicators
                        ol.carousel-indicators
                            li(data-target='#meetOurPeople', data-slide-to='0')
                            li.active(data-target='#meetOurPeople', data-slide-to='1')
                            li(data-target='#meetOurPeople', data-slide-to='2')
                            li(data-target='#meetOurPeople', data-slide-to='3')
                            li(data-target='#meetOurPeople', data-slide-to='4')
                            li(data-target='#meetOurPeople', data-slide-to='5')
                            li(data-target='#meetOurPeople', data-slide-to='6')
                        // Wrapper for slides
                        .carousel-inner
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide1.jpg')
                            .item.active
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide2.jpg')
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide3.jpg')
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide4.jpg')
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide5.jpg')
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide6.jpg')
                            .item
                                img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide7.jpg')

    section.TopBanner.get-in-touch
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/Resources-Foreign-Investors.jpg')
        .BannerCaption
            .container
                .row
                    .col-xs-12.col-sm-8.col-md-8.col-lg-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.text-center
                        h1.text-center.heading Get in touch
                        p.text-center.mb-2 We want to connect with professionals that have a diverse array of experiences, skills, and goals. Log-in to our career portal so that we can start a conversation.
                        a.btn.btn-outline-white.mr-2.text-uppercase(href='https://www.dezshira.com/login') Log in now
                        a.btn.btn-outline-white.text-uppercase(href='https://www.dezshira.com/register.html') SIGN UP 

    section#testimonial
        .container
            .row
                .col-sm-4.col-md-4.col-lg-4
                    .testimonial-wrapper
                        .testimonial
                            | &ldquo; For a company that values talent and provides the environment for it to be developed, putting in hard work and taking your career seriously would ensure that your roles and responsibilities will grow each year. &rdquo;
                        .media
                            .media-left.d-flex.mr-3
                                img(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Hannah_Feng200200.jpg', alt='')
                            .media-body
                                .overview
                                    .name
                                        b Hannah Feng
                                    .details
                                        | Senior Manager | Corporate Accounting Services | Beijing
                .col-sm-4.col-md-4.col-lg-4
                    .testimonial-wrapper
                        .testimonial
                            | &ldquo;  I am very proud of my Dalian HR and payroll team, which has grown to be more proficient in coping with the demands of clients from multinational backgrounds. &rdquo;
                        .media
                            .media-left.d-flex.mr-3
                                img(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Helen_kong_200x200.jpg', alt='')
                            .media-body
                                .overview
                                 .name
                                    b Helen Kong
                                .details
                                    | Manager | Human Resources | Dalian Office

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal