extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-History-banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left History


    section#history.pb-7.pt-7
        .container-fluid.p-0
          .row
            .col-sm-12.col-md-12.col-lg-12
              #carousel-history.carousel.slide(data-ride='carousel')
                // Indicators
                .container-fluid
                  .row
                    .col-sm-12.col-md-12.col-lg-12
                      .container
                        .row
                          .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                            ol.carousel-indicators.mb-4
                              li.active(data-target='#carousel-history', data-slide-to='0')
                                a(href='#1992')
                                  | 1992 
                                  span.dotOuter
                                    span.dotInner
                              li(data-target='#carousel-history', data-slide-to='1')
                                a(href='#1993')
                                  | 1993 
                                  span.dotOuter
                                    span.dotInner
                              li(data-target='#carousel-history', data-slide-to='2')
                                a(href='#1994')
                                  | 1994 
                                  span.dotOuter
                                    span.dotInner
                              li(data-target='#carousel-history', data-slide-to='3')
                                a(href='#1999')
                                  | 1999 
                                  span.dotOuter
                                    span.dotInner
                              li(data-target='#carousel-history', data-slide-to='4')
                                a(href='#2004')
                                  | 2004 
                                  span.dotOuter
                                    span.dotInner
                              li(data-target='#carousel-history', data-slide-to='5')
                                a(href='#2005')
                                  | 2005 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='6')
                                a(href='#2006')
                                  | 2006 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='7')
                                a(href='#2007')
                                  | 2007 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='8')
                                a(href='#2000')
                                  | 2008 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='9')
                                a(href='#2010')
                                  | 2010 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='10')
                                a(href='#2011')
                                  | 2011 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='11')
                                a(href='#2012')
                                  | 2012 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='12')
                                a(href='#2013')
                                  | 2013 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='13')
                                a(href='#2014')
                                  | 2014 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='14')
                                a(href='#2015')
                                  | 2015 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='15')
                                a(href='#2016')
                                  | 2016 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='16')
                                a(href='#2017')
                                  | 2017 
                                  span.dotOuter
                                    span.dotInner                                    
                              li(data-target='#carousel-history', data-slide-to='17')
                                a(href='#2018')
                                  | 2018 
                                  span.dotOuter
                                    span.dotInner                                    
                // Wrapper for slides
                .carousel-inner.borderTopDarkblue.mt-4(role='listbox')
                  .item.active
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 1992
                            h2 Founding of Dezan Shira &amp; Associates
                            p
                              | Dezan Shira Business Management Services (China) Ltd. is formed in 
                              a(href='http://www.dezshira.com/office/hong-kong.html') Hong Kong
                              |  with a remit to provide business advisory services to foreign investors in mainland China, including both post and pre-incorporation assistance, trademark registration, and related advice. The new company also opens a small office in Shekou, the deep water port of 
                              a(href='http://www.dezshira.com/office/china/shenzhen.html') Shenzhen
                              | , which has become a focal point for foreign investment due to its special status as China&lsquo;s first &rdquo;Special Economic Zone.&quot;
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1992-Founding of Dezan Shira & Associates.jpg', width='')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 1993
                            h2 Dezan Shira acquires its first clients.
                            p
                              | The firm services its first clients, which involved various China trademark applications, representative office establishments and joint venture contractual reviews, mainly within the offshore oil industry. The practice hires its first Chinese staff.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1993-Dezan Shira acquires its first clients..jpg', width='')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 1994
                            h2 Beijing and Shanghai offices open.
                            p
                              | The firm changes its name to Dezan Shira &amp; Associates, moves its Shekou office to downtown Shenzhen, and opens additional offices in Beijing at the Lufthansa Center and in Shanghai in the Sen Mao Tower.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1994-Beijing Shanghai offices.jpg', width='')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 1999
                            h2 First issue of China Briefing Magazine published.
                            p
                              | To better promote the firm and to bring all marketing needs directly under its own control, Dezan Shira &amp; Associates launches its first magazine: 
                              a(href='http://www.china-briefing.com', target='_blank') China Briefing
                              | . The issue is distributed throughout five-star hotels in Shenzhen and Guangzhou and immediately runs out of the 1,000 copies printed. Over the next decade, distribution becomes national with circulation reaching 25,000 copies a month.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1999-China Briefing.jpg', width='')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2004
                            h2 Opening of Dezan Shira&apos;s Dalian office
                            p
                              | Dezan Shira &amp; Associates opens its office in 
                              a(href='http://www.dezshira.com/office/china/dalian.html') Dalian
                              | .
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2004-Dalian offices.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2005
                                ol.carousel-indicators
                                  li.active(data-target='#01', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#02', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #01.tab-pane.tab-pane1.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2005
                                          h2 Guangzhou office opens
                                          p
                                            | The practice embarks on a specific campaign to establish offices throughout China. An immediate result of this is the establishment of an office in downtown 
                                            a(href='http://www.dezshira.com/office/china/guangzhou.html') Guangzhou
                                            | .
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2005-Guangzhou offices.jpg', width='')

                                  #02.tab-pane.tab-pane1
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2005
                                          h2 Dezan Shira &amp; Associates joins Leading Edge Alliance of Global Auditors.
                                          p
                                            | The firm is invited to join the 
                                            a(href='http://www.leadingedgealliance.com/', target='_blank') Leading Edge Alliance
                                            | , a significant global network of international accountants and auditors, with a combined annual turnover of US$2.3 billion among its members.
                                      .col-sm-6.col-md-6.col-lg-6
                                        .historyThumb
                                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2005-LEA.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2006
                            h2 Opening of Dezan Shira offices in Zhongshan and Ningbo
                            p
                              | Further South China expansion is realized through the opening of an office in Zhongshan, serving the development of the West Pearl River Delta region. Additionally, as Ningbo's deep water port facilities are developed, and improved road, rail and air connections with Shanghai are built-up, the practice opens an office in the city. 
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2006-Zhongshan Ningbo offices.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2007
                                ol.carousel-indicators
                                  li.active(data-target='#03', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#04', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#05', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#06', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #03.tab-pane.tab-pane3.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2007
                                          h2 Hangzhou office opens.
                                          p
                                            | International development arises with the opening of a liaison office in Italy to better service the firm's growing Italian client base.
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2007-Hangzhou office.jpg', width='')

                                  #04.tab-pane.tab-pane4
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2007
                                          h2 Italian liaison office opens in Treviso.
                                          p
                                            | International development arises with the opening of a liaison office in Italy to better service the firm's growing Italian client base.
                                      .col-sm-6.col-md-6.col-lg-6
                                        .historyThumb
                                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2007-Italy liaison office.jpg', width='')
                                  #05.tab-pane.tab-pane5
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2007
                                          h2 Expansion into India
                                          p
                                            | The practice expands into India by setting up operations in 
                                            a(href='http://www.dezshira.com/office/india/mumbai.html') Mumbai
                                            |  and New Delhi.
                                      .col-sm-6.col-md-6.col-lg-6
                                        .historyThumb
                                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2007-India office.jpg', width='')
                                  #06.tab-pane.tab-pane6
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2007
                                          h2 Launch of India Briefing
                                          p
                                            | Launch 
                                            a(href='http://www.india-briefing.com/', target='_blank') India Briefing
                                            |  to support the marketing of the India practice
                                      .col-sm-6.col-md-6.col-lg-6
                                        .historyThumb
                                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2007-India Briefing.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2008
                                ol.carousel-indicators
                                  li.active(data-target='#07', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#08', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #07.tab-pane.tab-pane7.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2008
                                          h2 Dezan Shira opens office in New Delhi, India.
                                          p
                                            | The practice opens a new office in 
                                            a(href='http://www.dezshira.com/office/india/delhi.html') Delhi
                                            | , India.

                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2008-India office.jpg', width='')
                                  #08.tab-pane.tab-pane8
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2008
                                          h2 Expansion into Vietnam
                                          p
                                            | Dezan Shira &amp; Associates expands into Vietnam by opening an office in 
                                            a(href='http://www.dezshira.com/office/vietnam/hanoi.html') Hanoi
                                            | , and launches 
                                            a(href='http://www.vietnam-briefing.com/', target='_blank') Vietnam Briefing
                                            | .

                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2008-Vietnam office.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2010
                            h2 Qingdao office opens.
                            p
                              | China expansion continues with the establishment of an office in 
                              a(href='http://www.dezshira.com/office/china/qingdao.html') Qingdao
                              | .
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2010-Qingdao office.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2011
                            h2 Expansion continues with office openings in Singapore and in Ho Chi Minh City, Vietnam.
                            p
                              | Dezan Shira &amp; Associates expands into South Vietnam with the opening of an office in 
                              a(href='http://www.dezshira.com/office/vietnam/ho-chi-minh-city.html') Ho Chi Minh City
                              | , Vietnam&#x4B3; largest commercial port. An office is established in 
                              a(href='http://www.dezshira.com/office/singapore.html') Singapore
                              |  as the practice eyes development in ASEAN and Southeast Asia as key to its strategic regional development as an Asia-focused firm.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2011-Vietnam%20office.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2012
                                ol.carousel-indicators
                                  li.active(data-target='#09', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#10', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #09.tab-pane.tab-pane9.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2012
                                          h2 Special liaison office opens in the United States.
                                          p
                                            | In the 
                                            a(href='http://www.dezshira.com/office/united-states.html') United States
                                            |  , Dezan Shira &amp; Associates establishes a client liaison office in Charlotte, North Carolina.
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2012-DSA 20th anniversary(1).jpg', width='')
                                  #10.tab-pane.tab-pane10
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2012
                                          h2 Dezan Shira & Associates is recognized for its innovative Asia Briefing publishing house.
                                          p
                                            | The firm wins one of the Leading Edge Alliance highest accolades: Most Innovative Firm of the Year. The practice also celebrates its 20th anniversary by releasing a specially commissioned piece of classical music, with live premieres taking place at celebratory events in Beijing, Shanghai and Guangzhou.
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2012-DSA 20th anniversary(2).jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2013
                            h2 Dezan Shira's expansion as an Asia-focused practice
                            p
                              | As foreign direct investment flows increase throughout Southeast Asia due to the growing regional clout of the 10-nation ASEAN bloc, the practice rolls out a newly reinvigorated Asia Briefing portal. In line with Dezan Shira &amp; Associates&apos; Asia-focused approach, 
                              a(href='http://www.aseanbriefing.com', target='_blank') ASEAN Briefing
                              |  is also launched, which contains details of free trade and double tax agreements throughout Asia, including those between ASEAN, China and India.

                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2013-ASEAN Briefing.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2014
                                ol.carousel-indicators
                                  li.active(data-target='#11', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#12', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #11.tab-pane.tab-pane11.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2014
                                          h2 Dezan Shira Asian Alliance
                                          p
                                            | Seeking to provide legal, tax and audit advisory services in multiple Asian jurisdictions, Dezan Shira creates the 
                                            a(href='http://www.dezshira.com/about-us/asian-alliance.html') Dezan Shira Asian Alliance
                                            |  with selected local practices in  
                                            a(href='http://www.dezshira.com/office/thailand.html') Thailand
                                            | ,  
                                            a(href='http://www.dezshira.com/office/malaysia.html') Malaysia
                                            | ,  
                                            a(href='http://www.dezshira.com/office/indonesia.html') Indonesia
                                            |  and the  
                                            a(href='http://www.dezshira.com/office/philippines.html') Philippines
                                            | .

                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2014-Asian Alliance.jpg', width='')
                                  #12.tab-pane.tab-pane12
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2014
                                          h2 Vietnam Briefing
                                          p
                                            | In 2014, just as Vietnam was currently undergoing dynamic changes in its economy and culture, we felt it was time to create a logo that more accurately represented this exciting country
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2014-Vietnam Briefing.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2015
                            h2 Office opened in Dongguan
                            p
                              | Dezan Shira &amp; Associates opens an office in <a href="http://www.dezshira.com/office/china/dongguan.html">Dongguan</a>.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2015-dongguan-office.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2016
                            h2 HR and Payroll team creates ERP service
                            p
                              | IT, HR, and accounting expertise integrated into one dynamic ERP solution developed by our in-house team.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2016 ERP.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-5.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .carousel-caption
                            h1 2017
                            h2 25th Anniversary Celebrations
                            p
                              | On November 10 2017, Dezan Shira &amp; Associates hosted a gala dinner in Shanghai to celebrate the firm’s 25th anniversary of doing business in Asia. More than 150 clients, partners, employees, and alumni joined this celebration event, sharing their story with Dezan Shira &amp; Associates.
                            a.btn.btn-outline-dark.text-uppercase(href='https://www.dezshira.com/press/25th-anniversary/welcome.html') Visit 25th Anniversary
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/2016 ERP.jpg', width='')
                  .item
                    .container
                      .row
                        .col-sm-10.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
                          .item
                            .inner_carousel
                              #carousel-history-2018
                                ol.carousel-indicators
                                  li.active(data-target='#13', data-toggle='tab', aria-expanded='false')
                                  li(data-target='#14', data-toggle='tab', aria-expanded='false')
                                .tab-content
                                  #13.tab-pane.tab-pane11.active
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2018
                                          h2 Indonesia presence established
                                          p
                                            | Dezan Shira &amp; Associates sets up in Indonesia following years of foreign direct investment work in the region.

                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2018-Indonesia.jpg', width='')
                                  #14.tab-pane.tab-pane12
                                    .row
                                      .col-sm-6.col-md-6.col-lg-6
                                        .caption
                                          h1 2018
                                          h2 Asiapedia launched
                                          p
                                            | Dezan Shira &amp; Associates redesigned its knowledge sharing platform for businesspeople in Asia
                                      .col-sm-6.col-md-6.col-lg-6
                                        img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2018 Asiapeida launched.jpg', width='400')
                      // row
                    // conatiner
                // Controls
                a.left.carousel-control(href='#carousel-history', role='button', data-slide='prev')

                a.right.carousel-control(href='#carousel-history', role='button', data-slide='next')

                  



            // /col
          // /row
        // /container


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal