extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left History


    section#history.pb-7.pt-7
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              #carousel-history.carousel.slide(data-ride='carousel')
                // Indicators
                .container
                  .row
                    .col-sm-12.col-md-12.col-lg-12
                      ol.carousel-indicators
                        li.active(data-target='#carousel-history', data-slide-to='0')
                        li(data-target='#carousel-history', data-slide-to='1')
                        li(data-target='#carousel-history', data-slide-to='2')
                        li(data-target='#carousel-history', data-slide-to='3')
                        li(data-target='#carousel-history', data-slide-to='4')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                  .item.active
                    .container
                      .row
                        .col-sm-7.col-md-7.col-lg-7
                          .carousel-caption
                            h1 1992
                            h2 Founding of Dezan Shira &amp; Associates
                            p
                              | Dezan Shira Business Management Services (China) Ltd. is formed in 
                              a(href='http://www.dezshira.com/office/hong-kong.html') Hong Kong
                              |  with a remit to provide business advisory services to foreign investors in mainland China, including both post and pre-incorporation assistance, trademark registration, and related advice. The new company also opens a small office in Shekou, the deep water port of 
                              a(href='http://www.dezshira.com/office/china/shenzhen.html') Shenzhen
                              | , which has become a focal point for foreign investment due to its special status as China&lsquo;s first &rdquo;Special Economic Zone.&quot;
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/1992-Founding of Dezan Shira & Associates.jpg', width='400')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-7.col-md-7.col-lg-7
                          .carousel-caption
                            h1 1993
                            h2 Dezan Shira acquires its first clients.
                            p
                              | The firm services its first clients, which involved various China trademark applications, representative office establishments and joint venture contractual reviews, mainly within the offshore oil industry. The practice hires its first Chinese staff.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/1993-Dezan Shira acquires its first clients..jpg', width='400')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-7.col-md-7.col-lg-7
                          .carousel-caption
                            h1 1994
                            h2 Beijing and Shanghai offices open.
                            p
                              | The firm changes its name to Dezan Shira &amp; Associates, moves its Shekou office to downtown Shenzhen, and opens additional offices in Beijing at the Lufthansa Center and in Shanghai in the Sen Mao Tower.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1994-Beijing Shanghai offices.jpg', width='400')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-7.col-md-7.col-lg-7
                          .carousel-caption
                            h1 1999
                            h2 First issue of China Briefing Magazine published.
                            p
                              | To better promote the firm and to bring all marketing needs directly under its own control, Dezan Shira &amp; Associates launches its first magazine: 
                              a(href='http://www.china-briefing.com', target='_blank') China Briefing
                              | . The issue is distributed throughout five-star hotels in Shenzhen and Guangzhou and immediately runs out of the 1,000 copies printed. Over the next decade, distribution becomes national with circulation reaching 25,000 copies a month.
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive.center-block(src='https://www.dezshira.com/themes/dsa/images/history/1999-China Briefing.jpg', width='400')
                      // row
                    // conatiner
                  .item
                    .container
                      .row
                        .col-sm-7.col-md-7.col-lg-7
                          .carousel-caption
                            h1 2004
                            h2 Opening of Dezan Shira&apos;s Dalian office
                            p
                              | Dezan Shira &amp; Associates opens its office in 
                              a(href='http://www.dezshira.com/office/china/dalian.html') Dalian
                              | .
                        .col-sm-5.col-md-5.col-lg-5
                          img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/history/2004-Dalian offices.jpg', width='400')
                      // row
                    // conatiner
                // Controls
                a.left.carousel-control(href='#carousel-history', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                  span.sr-only Previous
                a.right.carousel-control(href='#carousel-history', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                  span.sr-only Next



            // /col
          // /row
        // /container


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal