extends layouts/_layout_default

block setting
    - title = "Dezan shira"

block content
// Banner section
section.bannerSlide
  #HomeBannerSlide.carousel.slide(data-ride='carousel', data-interval='500')
    // Indicators
    .container
      ol.carousel-indicators
        li.active(data-target='#HomeBannerSlide', data-slide-to='0')
        li(data-target='#HomeBannerSlide', data-slide-to='1')
        li(data-target='#HomeBannerSlide', data-slide-to='2')
        li(data-target='#HomeBannerSlide', data-slide-to='3')
        li(data-target='#HomeBannerSlide', data-slide-to='4')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img.fill(src='https://www.dezshira.com/themes/dsa/images/home-banners-slide/An-award-winning-professional-services-firm-in-Asia.jpg', alt='An award winning professional services firm in Asia.')
        .container
          .carousel-caption
            h1
              a(href='https://www.dezshira.com/about-us/our-firm.html')
                | An award winning professional services firm in Asia.
            p
              a(href='https://www.dezshira.com/about-us/our-firm.html') Independent legal, tax, and advisory services since 1992.
      .item
        img.fill(src='https://www.dezshira.com/themes/dsa/images/home-banners-slide/Need-to-set-up-a-business-in-Asia.jpg', alt='Need to set up a business in Asia?')
        .container
          .carousel-caption
            h1
              a(href='https://www.dezshira.com/services/business-advisory')
                | Need to set up a business in Asia?
            p
              a(href='https://www.dezshira.com/services/business-advisory')
                | Talk to our lawyers and tax advisors to find the most effective corporate structure for your needs.
      .item
        img.fill(src='https://www.dezshira.com/themes/dsa/images/home-banners-slide/Looking-at-new-developing-markets.jpg', alt='Is your company managing taxes in multiple jurisdictions?')
        .container
          .carousel-caption
            h1
              a(href='https://www.dezshira.com/services/tax') Is your company managing taxes in multiple jurisdictions?
            p
              a(href='https://www.dezshira.com/services/tax')
                | Consult our tax experts about maximizing revenue and minimizing unnecessary costs for your business.
      .item
        img.fill(src='https://www.dezshira.com/themes/dsa/images/home-banners-slide/Your-reporting-requirements-taking-too-much-time.jpg', alt='Are your reporting requirements taking too much time?')
        .container
          .carousel-caption
            h1
              a(href='https://www.dezshira.com/services/accounting-reporting') Are your reporting requirements taking too much time?
            p
              a(href='https://www.dezshira.com/services/accounting-reporting')
                | Talk with our accounting team about managing country-specific and international standards.
      .item
        img.fill(src='https://www.dezshira.com/themes/dsa/images/home-banners-slide/Do-you-need-to-improve-employee-engagement-and-retention.jpg', alt='Do you need to improve employee engagement and retention?')
        .container
          .carousel-caption
            h1
              a(href='https://www.dezshira.com/services/payroll-human-resource-administration') Do you need to improve employee engagement and retention?
            p
              a(href='https://www.dezshira.com/services/payroll-human-resource-administration')
                | Meet our HR and payroll team to streamline admin and implement best local practices.

// resource section
section.resource
  .container
    .row
      .col-sm-4.col-md-4.col-lg-4
        // events section
        h4.section-title Upcoming Events
        .event-block
          ul.list-unstyled
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/maria-kotova-s-trip-to-uk-8383.html') Sep 10, 2019 | Leeds, Manchester, and London
              h5.item-title
                a(href='https://www.dezshira.com/events/details/maria-kotova-s-trip-to-uk-8383.html') Meet DSA in London, Leeds, and Manchester
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/global-business-expo-2019-8320.html') Sep 12, 2019 | Leeds
              h5
                a(href='https://www.dezshira.com/events/details/global-business-expo-2019-8320.html') Global Business Expo 2019
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/how-to-register-a-foreign-invested-entity-in-china-8327.html') Sep 12, 2019 | Webinar
              h5.item-title
                a(href='https://www.dezshira.com/events/details/how-to-register-a-foreign-invested-entity-in-china-8327.html') How to Register a Foreign-invested Entity in China
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/us-china-trade-war-mitigating-risk-in-uncertain-times-8369.html') Sep 17, 2019 | Webinar
              h5.item-title
                a(href='https://www.dezshira.com/events/details/us-china-trade-war-mitigating-risk-in-uncertain-times-8369.html') US-China Trade War: Mitigating Risk in Uncertain Times
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/navigating-asia-s-business-landscape-how-vietnam-could-complement-your-china-operation-8384.html') Sep 17, 2019 | Guangzhou, China
              h5.item-title
                a(href='https://www.dezshira.com/events/details/navigating-asia-s-business-landscape-how-vietnam-could-complement-your-china-operation-8384.html')
                  | NAVIGATING ASIA&rsquo;S BUSINESS LANDSCAPE: HOW VIETNAM COULD COMPLEMENT YOUR CHINA OPERATION
            li
              .date
                i.fas.fa-calendar-alt
                a(href='https://www.dezshira.com/events/details/navigating-asia-s-business-landscape-how-vietnam-could-complement-your-china-operation-8385.html') Sep 18, 2019 | Shenzhen, China
              h5.item-title
                a(href='https://www.dezshira.com/events/details/navigating-asia-s-business-landscape-how-vietnam-could-complement-your-china-operation-8385.html')
                  | NAVIGATING ASIA&rsquo;S BUSINESS LANDSCAPE: HOW VIETNAM COULD COMPLEMENT YOUR EXPANSION STRATEGY IN ASIA
            li
              a.btn.btn-link(href='//www.dezshira.com/events/')
                strong  Show Me More &gt;
      .col-sm-4.col-md-4.col-lg-4
        // latest news section
        h4.section-title Latest News
        .latest-news-block
          ul.list-unstyled
            li
              .thumb_block
                img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/09/Dezan-Shira-team-sharing-on-new-technology-in-the-accounting-payroll-and-data-processing-industry.jpg?fit=300%2C225&ssl=1', alt='Brainstorming Session: Disruptive Tech in Accounting, Payroll & Data Processing')
              h5.item-title
                a(href='https://www.dezshira.com/updates/2019/09/disruptive-tech-in-accounting-payroll-data-processing.html') Brainstorming Session: Disruptive Tech in Accounting, Payroll &amp; Data Processing
              .date September 05, 2019
              .clearfix
            li
              .thumb_block
                img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Shanghai-team-with-gradutes-from-the-University-of-New-South-Wales-Australia.jpg?fit=300%2C225&ssl=1', alt='Workshop on FDI in China for Graduates from New South Wales, Australia')
              h5.item-title
                a(href='https://www.dezshira.com/updates/2019/08/workshop-fdi-china-new-south-wales-graduates-shanghai.html') Workshop on FDI in China for Graduates from New South Wales, Australia
              .date August 30, 2019
              .clearfix
            li
              .thumb_block
                img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Ellen-Yin-and-Allan-Xu-addresses-welcome-note-to-audience.jpg?fit=300%2C225&ssl=1', alt='HR Audit, Compliance and Risk Avoidance During Hiring')
              h5.item-title
                a(href='https://www.dezshira.com/updates/2019/08/presentation-hr-audit-compliance-risk-hiring.html') HR Audit, Compliance and Risk Avoidance During Hiring
              .date August 23, 2019
              .clearfix
            li
              .thumb_block
                img(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Allan-Xu-explained-on-payroll-regulations-in-Shanghai.jpg?fit=300%2C226&ssl=1', alt='New Practices of Compensation Incentives and Legal Interpretation')
              h5.item-title
                a(href='https://www.dezshira.com/updates/2019/08/hr-payroll-service-in-china.html') New Practices of Compensation Incentives and Legal Interpretation
              .date August 21, 2019
              .clearfix
            li
              .thumb_block
                img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/India-Briefing-Indias-Top-Investment-Destinations.jpg?fit=300%2C169&ssl=1', alt='What is the Impact of India’s Union Budget 2019 on Foreign Companies?')
              h5.item-title
                a(href='https://www.dezshira.com/updates/2019/08/impact-india-union-budget-2019-foreign-companies.html') What is the Impact of India&rsquo;s Union Budget 2019 on Foreign Companies?
              .date August 19, 2019
              .clearfix
            li
            li.seeMore
              a.btn.btn-link(href='http://www.dezshira.com/updates/')
                strong Show Me More &gt;
      .col-sm-4.col-md-4.col-lg-4
        // resources section
        h4.section-title RESOURCES
        .featureResources
          #featureResourcesCarousel.carousel.slide(data-ride='carousel')
            // Carousel indicators
            ol.carousel-indicators
              li(data-target='#featureResourcesCarousel', data-slide-to='0')
              li(data-target='#featureResourcesCarousel', data-slide-to='1')
              li(data-target='#featureResourcesCarousel', data-slide-to='2')
              li.active(data-target='#featureResourcesCarousel', data-slide-to='3')
              li(data-target='#featureResourcesCarousel', data-slide-to='4')
              li(data-target='#featureResourcesCarousel', data-slide-to='5')
            // Wrapper for carousel items
            .carousel-inner
              .item
                a(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html', target='_blank', title='The New Foreign Investment Law in China ')
                  img(src='//resource.dezshira.com/resize/360x495/Publications/8325/CB_Mag_2019_06_issue_Cover.jpg', srcset='//resource.dezshira.com/Publications/8325/CB_Mag_2019_06_issue_Cover.jpg 2x', alt='The New Foreign Investment Law in China ', width='360')
                .carousel-caption
                  p
                    | China has faced a deluge of international criticism over its treatment of foreign businesses and the perceived slow pace of market opening over the past year. Looking to restore the......
              .item
                a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html', target='_blank', title='Import and Export in Vietnam')
                  img(src='//resource.dezshira.com/resize/360x495/Publications/8317/VB_2019_07_issue_Cover.jpg', srcset='//resource.dezshira.com/Publications/8317/VB_2019_07_issue_Cover.jpg 2x', alt='Import and Export in Vietnam', width='360')
                .carousel-caption
                  p
                    | Vietnam has followed an export-led growth model, combining trade liberalization and policies to attract foreign direct investment to spur exports. This has allowed Vietnam to accelerate growth in recent years,......
              .item
                a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank', title='The Goods and Services Tax in India')
                  img(src='//resource.dezshira.com/resize/360x495/Publications/8301/IB_2019_06_issue_Cover.jpg', srcset='//resource.dezshira.com/Publications/8301/IB_2019_06_issue_Cover.jpg 2x', alt='The Goods and Services Tax in India', width='360')
                .carousel-caption
                  p
                    | In this issue of India Briefing, we first introduce various provisions of the GST system to help companies understand and implement GST compliance for their businesses. Next, we enumerate the......
              .item.active
                a(href='http://www.asiabriefing.com/store/book/how-to-set-up-non-profit-organization-singapore.html', target='_blank', title='How to Set Up a Non-Profit Organization in Singapore')
                  img(src='//resource.dezshira.com/resize/360x495/Publications/8264/ASB_2019_05_issue_Cover.jpg', srcset='//resource.dezshira.com/Publications/8264/ASB_2019_05_issue_Cover.jpg 2x', alt='How to Set Up a Non-Profit Organization in Singapore', width='360')
                .carousel-caption
                  p
                    | In this issue of ASEAN Briefing magazine, we discuss the options available to foreign nationals and entities for setting up a non-profit organization (NPO) in Singapore. We begin by introducing......
              .item
                a(href='http://www.asiabriefing.com/store/book/growing-opportunities-foreign-investors-indonesia-7971.html', target='_blank', title='Growing Opportunities for Foreign Investors in Indonesia')
                  img(src='//resource.dezshira.com/resize/360x495/Publications/7971/ASB-2018-11-issue_Cover600.jpg', srcset='//resource.dezshira.com/Publications/7971/ASB-2018-11-issue_Cover600.jpg 2x', alt='Growing Opportunities for Foreign Investors in Indonesia', width='360')
                .carousel-caption
                  p
                    | In this issue of ASEAN Briefing magazine, we focus on emerging FDI opportunities in Indonesia and highlight the country&rsquo;s potential as a sound investment destination, including for those looking to......
              .item
                a(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593', target='_blank', title="China's New Economic Silk Road: The Great Eurasian Game & The String of Pearls (PDF Download Version)")
                  img(src='//resource.dezshira.com/resize/360x495/Publications/5185/Silk_Road_-_Cover_1.jpg', srcset='//resource.dezshira.com/Publications/5185/Silk_Road_-_Cover_1.jpg 2x', alt="China's New Economic Silk Road: The Great Eurasian Game & The String of Pearls (PDF Download Version)", width='360')
                .carousel-caption
                  p
                    | This unique and currently only available study into the proposed Silk Road Economic Belt  examines the institutional, financial and infrastructure projects that are currently underway and in the planning......
            // Carousel controls

// brouchure-section
section.brochure.pt-7.pb-7
  .container
    .row
      .gray-light-bg
        .col-sm-6.col-md-6.col-lg-6
          .brochureCaption
            .downloadIcon
              a(href=' https://www.dezshira.com/brochure')
                img(alt='', src='https://www.dezshira.com/themes/dsa/images/downloadIcon.png?v1', srcset='https://www.dezshira.com/themes/dsa/images/downloadIcon.png?v1 2x', width='85px')
            h3
              a(href='https://www.dezshira.com/brochure') ABOUT US
            h2
              a(href='https://www.dezshira.com/brochure')
                | Learn more about how we can support your business in Asia by downloading our company brochures.
            a.btn.btn-default(href='https://www.dezshira.com/brochure')  DOWNLOAD 
        .col-sm-6.col-md-6.col-lg-6
          img.img-responsive(alt='', src='https://www.dezshira.com/themes/dsa/images/brochure-img.jpg', srcset='https://www.dezshira.com/themes/dsa/images/brochure-img.jpg 2x')
      .clearfix
// asiapedia-section
section.asiapedia_homepage.pt-7.pb-7
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12.text-center
        a(href='//www.dezshira.com/library')
          img(alt='', src='//www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='//www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
        p
          | Asiapedia is a collection of resources based on what we have learned about doing business in Asia. 
          br
          | It&rsquo;s the product of more than 300 team members collaborating across 25 offices in Asia, Europe, and North America.
        a.btn.btn-default(href='//www.dezshira.com/library') Visit Business Library 
    ul.mt-2.list-inline
      li
        .multimediaSmallThumbnail
          .icon_player
            a(href='//www.dezshira.com/library/video/introducing-dezan-shira-associates-your-partner-for-growth-in-asia-7384.html')
              i.far.fa-play-circle.fa-2x
          .hoverImage
            figure
              a(href='//www.dezshira.com/library/video/introducing-dezan-shira-associates-your-partner-for-growth-in-asia-7384.html')
                img.img-responsive(alt='Introducing Dezan Shira & Associates: Your Partner for Growth in Asia', src='//www.dezshira.com/themes/dsa/images/Multimedia-cover-for-web.jpg')
      li
        .multimediaSmallThumbnail
          .icon_player
            a(href='http://www.dezshira.com/multimedia/view/employment-conditions-abroad-041218')
              i.far.fa-play-circle.fa-2x
          .hoverImage
            figure
              a(href='http://www.dezshira.com/multimedia/view/employment-conditions-abroad-041218')
                img.img-responsive(alt='Employment Conditions Abroad', src='//www.dezshira.com/themes/dsa/images/Employment Conditions Abroad.jpg')
      li
        .multimediaSmallThumbnail
          .icon_player
            a(href='http://www.dezshira.com/multimedia/view/vietnam-s-new-transfer-pricing-laws-and-environment-7532.html', alt='')
              i.far.fa-play-circle.fa-2x
          .hoverImage
            figure
              a(href='http://www.dezshira.com/multimedia/view/vietnam-s-new-transfer-pricing-laws-and-environment-7532.html')
                img.img-responsive(alt='Vietnam’s New Transfer Pricing Laws and Environment', src='//www.dezshira.com/themes/dsa/images/Vietnam’s New Transfer Pricing Laws and Environment.jpg')
      li
        .multimediaSmallThumbnail
          .icon_player
            a(href='//www.dezshira.com/library/video/setting-up-a-business-in-china-7575.html')
              i.far.fa-play-circle.fa-2x
          .hoverImage
            figure
              a(href='//www.dezshira.com/library/video/setting-up-a-business-in-china-7575.html')
                img.img-responsive(alt='Setting up a Business in China by Thibaut Minot', src='//www.dezshira.com/themes/dsa/images/setting-up-a-business-in-china.png')
// DAS-info-section
section.darkBlue.pt-7.pb-7
  .container
    .row
      .col-sm-4.col-md-4.col-lg-4
        h2
          a(href='//www.dezshira.com/services') Services
        p
          | Dezan Shira &amp; Associates is a multidisciplinary professional services firm. Local experts at the firm provide services tailored to the unique challenges facing international businesses in Asia.
        a.btn.btn-default.mb-2(href='//www.dezshira.com/services') Show Me More  &gt; 
      .col-sm-4.col-md-4.col-lg-4
        h2
          a(href='//www.dezshira.com/events') Events
        p
          | Our team is on the move. Plan to join our next event so that we can collaborate.
        a.btn.btn-default.mb-2(href='//www.dezshira.com/events') Show Me More  &gt; 
      .col-sm-4.col-md-4.col-lg-4
        h2
          a(href='//www.dezshira.com/career') Careers
        p
          | Working at Dezan Shira &amp; Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.
        a.btn.btn-default.mb-2(href='//www.dezshira.com/career') Show Me More  &gt; 

block js

block modal
    |
    |
    // Start modal
    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', data-prefix='far', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z')
                                        // <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-lock.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='lock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z')
                                        // <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls
    // End modal
