extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.services-banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/industries/banner-education.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        h1 Industries
                        h4 The education industry is growing rapidly across Asia to meet high market demand. However, investors often need to manage restrictive investment caps and fast evolving regulations in many markets.
                       

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                        li
                            a(href='#') Industries
                        li.active(aria-current='page') Education

    section.pt-7.pb-7
        .container
          .row
            .col-sm-3.col-md-3.col-lg-3
              .leftBlockSection
                h4.section-title industries
                #sidebarnav.block.no-padding
                  ul.collapsible
                    li.level2.active
                      a(href='https://www.dezshira.com/industries/education') Education
                    li.level2
                      a(href='https://www.dezshira.com/industries/entertainment-sports') Entertainment and Sports
                    li.level2
                      a(href='https://www.dezshira.com/industries/environment-cleantech') Environment and Cleantech
                    li.level2
                      a(href='https://www.dezshira.com/industries/food-beverage') Food and Beverage
                    li.level2
                      a(href='https://www.dezshira.com/industries/healthcare') Healthcare
                    li.level2
                      a(href='https://www.dezshira.com/industries/information-technology') Information Technology
                    li.level2
                      a(href='https://www.dezshira.com/industries/manufacturing') Manufacturing
                    li.level2
                      a(href='https://www.dezshira.com/industries/non-governmental-organizations') Non-Governmental Organizations
                    li.level2
                      a(href='https://www.dezshira.com/industries/professional-services') Professional services
                    li.level2
                      a(href='https://www.dezshira.com/industries/trade-and-e-commerce') Trade and E-commerce
            .col-sm-5.col-md-6.col-lg-6
              p
                | The market for reliable, high-quality schools, universities, and training is growing rapidly across Asia. The region&rsquo;s demographic dividend, upwardly mobile middle-class, and increasingly competitive labor environment has placed a premium on quality educational experiences. The market is well established in many tier one cities across Asia, but it continues to expand to keep pace with growing economies, while emerging markets in lower tier and developing regions continue to record high levels of growth.
              p
                | Despite this high market demand, foreign investors still need to manage a number of challenges. Many countries in Asia place restrictive investment caps on the education industry, which affect business structures, planning, and service offerings. Meanwhile, regulations for the industry are rapidly evolving in response to higher levels of private sector investment, increasingly high-demands of consumers, and the need to incentivize subsectors that help countries meet development goals.
              p
                | Dezan Shira &amp; Associates has helped a wide-array of foreign investors successfully enter the education market in Asia: from studying the market, managing investments, and structuring the business model at the pre-investment phase to managing statutory compliances and maintaining best practices once operational. Dezan Shira &amp; Associates is well-acquainted with the industry on a country-to-country basis, and positioned to help you manage your investment in this growing industry.
              a.btn.btn-outline-dark.mt-25.mb-25(href='https://www.dezshira.com/industries') &lt; Back To Industries 
              h4.section-title INDUSTRY SPECIALIST
              ul.list-unstyled.list
                li
                  a(href='https://www.dezshira.com/personnel/ines-liu.html')
                    img.img-circle.img-thumbnail.pull-left.mr-3(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Ines_200x200.jpg', alt='Ines Liu', width='120', height='120')
                  .social_media.pull-right
                    a.marginleft(href='mailto:ines.liu@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/ines-liu.html')  Ines Liu 
                  .duration
                    p
                      | Assistant Manager
                      br
                      |               International Business Advisory
                  .clearfix
            // /col
            .col-sm-4.col-md-3.col-lg-3
              .rightBlockSection
                .asiapediaResources
                  h4.section-title Asiapedia
                  #asiapediaResourcesCarousel.carousel.slide(data-ride='carousel')
                    // Carousel indicators
                    ol.carousel-indicators
                      li(data-target='#asiapediaResourcesCarousel', data-slide-to='0')
                      li.active(data-target='#asiapediaResourcesCarousel', data-slide-to='1')
                      li(data-target='#asiapediaResourcesCarousel', data-slide-to='2')
                      li(data-target='#asiapediaResourcesCarousel', data-slide-to='3')
                    // Wrapper for carousel items
                    .carousel-inner
                      .item
                        .asiapedia
                          .ThumbBlock.hoverImage
                            figure
                              img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-article.jpg', itemprop='image')
                            .eventLable article
                            .pediashare
                          .eventBody
                            h4
                              a(title='Case Study: Education Sector in China', href='https://www.dezshira.com/library/article/case-study-education-sector-china.html') Case Study: Education Sector in China
                            .dateTime August 2019
                          .credit
                            strong FREE
                      // /.item
                      .item.active
                        .asiapedia
                          .ThumbBlock.hoverImage
                            figure
                              img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-infographic.jpg', itemprop='image')
                            .eventLable infographic
                            .pediashare
                          .eventBody
                            h4
                              a(title="China's Education Industry at a Glance", href='https://www.dezshira.com/library/infographic/china-s-education-industry-at-a-glance-6324.html') China&apos;s Education Industry at a Glance
                            .dateTime August 2016
                          .credit
                            strong FREE
                            i.fas.fa-lock.pull-right.mt-1(title='Requires Login to Access This Resource')
                      // /.item
                      .item
                        .asiapedia
                          .ThumbBlock.hoverImage
                            figure
                              img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-infographic.jpg', itemprop='image')
                            .eventLable infographic
                            .pediashare
                          .eventBody
                            h4
                              a(title="Comparison of the Paths for Foreign Investors to Operate in China's Education Sector", href='https://www.dezshira.com/library/infographic/comparison-of-the-paths-for-foreign-investors-to-operate-in-china-s-education-sector-6327.html') Comparison of the Paths for Foreign Investors...
                            .dateTime August 2016
                          .credit
                            strong FREE
                      // /.item
                      .item
                        .asiapedia
                          .ThumbBlock.hoverImage
                            figure
                              img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-qa.jpg', itemprop='image')
                            .eventLable Q&amp;A
                            .pediashare
                          .eventBody
                            h4
                              a(title='How is the current education market in China?', href='https://www.dezshira.com/library/qa/how-is-the-current-education-market-in-china-6330.html') How is the current education market in China?
                            .dateTime August 2016
                          .credit
                            strong FREE
                      // /.item
                .light-blue-bg.mt-2.mb-2
                  .BannerCaption.min
                    a(href='https://www.dezshira.com/brochure')
                      img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                    h3
                      a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                    p
                      a(href='https://www.dezshira.com/brochure') Learn more about how we can support your business in Asia
          // /col




    

   
    


    
        // /container
        
    section.blue.pt-5.pb-5
        .container
            .row
                .col-sm-2.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.text-right
                    a(href='http://dezshira.in/register.html')
                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png 2x')
                .col-sm-8.col-md-8.col-lg-8
                    h5 SUBSCRIBE
                    h1
                        a(href='https://www.dezshira.com/register.html') Join over thousands of people who receive weekly foreign investment news in Asia




    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal