extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/services/banner-services.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        h1 Industries
                        h4 Asia’s dynamic marketplace has helped industry grow rapidly in the region. Dezan Shira & Associates has partnered with many businesses to help them achieve success.

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                       
                        
                        li.active(aria-current='page') Industries

    section.pt-5.pb-5
        .container
            .row
                
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-education.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//industries/education') Education
                        a(href='https://www.dezshira.com//industries/education')
                            .mask
                                h2 Education
                                p
                                    | The education industry is growing rapidly across Asia to meet high market demand. However, investors often need to manage restrictive investment caps and fast evolving regulations in many markets.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-entertainment-sports.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//industries/entertainment-sports') Entertainment and Sports
                        a(href='https://www.dezshira.com//industries/entertainment-sports')
                            .mask
                                h2 Entertainment and Sports
                                p
                                    | The industry is expanding throughout Asia, guided by new consumer trends and technology. Navigating the industry’s unique market and regulatory landscape, however, remains challenging for foreign firms.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-environment-cleantech.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//industries/environment-cleantech') Environment and Cleantech
                        a(href='https://www.dezshira.com//industries/environment-cleantech')
                            .mask
                                h2 Environment and Cleantech
                                p
                                    | Local innovation and government support have combined to create new opportunities in the industry, which has taken on increased importance for sustainable development agendas across Asia.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-food-beverage.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/accounting-reporting') Food and Beverage
                        a(href='https://www.dezshira.com/services/accounting-reporting')
                            .mask
                                h2 Food and Beverage
                                p
                                    | The increase of disposable income, fast-changing consumption behavior, and tighter government regulations across Asia are ushering in a new era for the industry
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-healthcare.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//industries/healthcare') Healthcare
                        a(href='https://www.dezshira.com//industries/healthcare')
                            .mask
                                h2 Healthcare
                                p
                                    | Asia’s healthcare industry is rapidly filling a gap in worldwide market demand. Fast-paced innovation and investments in healthcare infrastructure have, however, attracted new government regulation.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-information-technology.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com/industries/information-technology') Information Technology
                        a(href='https://www.dezshira.com/industries/information-technology')
                            .mask
                                h2 Information Technology
                                p
                                    | Innovation and adoption continue to drive the rapidly growing industry across Asia. However, the fast-changing investment conditions and overall regulatory landscape require diligence.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-manufacturing.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com/industries/manufacturing') Manufacturing
                        a(href='https://www.dezshira.com/industries/manufacturing')
                            .mask
                                h2 Manufacturing
                                p
                                    | Internal and statutory audits are a core concern issue for all businesses. Our regional teams of qualified auditors are accustomed to providing local expertise to an international standard.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-non-governmental-organizations.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com/industries/non-governmental-organizations') Non-Governmental Organizations
                        a(href='https://www.dezshira.com/industries/non-governmental-organizations')
                            .mask
                                h2 Non-Governmental Organizations
                                p
                                    | NGOs have played an important role in Asia’s development. However, like the private sector, NGOs in Asia are subject to increasingly stringent regulations and compliance requirements.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-professional-services.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com/industries/professional-services') Professional Services
                        a(href='https://www.dezshira.com/industries/professional-services')
                            .mask
                                h2 Professional Services
                                p
                                    | The industry is still developing in Asia, where growth led by manufacturing and exports has created increased demand for professional services that meet international standards.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-trade-and-e-commerce.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com/industries/trade-and-e-commerce') Trade and E-commerce
                        a(href='https://www.dezshira.com/industries/trade-and-e-commerce')
                            .mask
                                h2 Trade and E-commerce
                                p
                                    | The incredible scale and growth of Asia’s trade and e-commerce market is attractive to overseas investors, but the fluid regulatory environment remains a major challenge for any investor.
                                .info learn more &gt;

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal