extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/International-desks_banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left International Desks
                        h4 Our clients are as diverse as our team. We can help investors find their way in Asia in a variety languages and business cultures.

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                       
                        
                        li.active(aria-current='page') International Desk

    section.pt-5.pb-5
        .container
            .row
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/north-american.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-north-american.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/north-american.html') North American Desk
                            p
                                | Dezan Shira &amp; Associates has over 20 years of on-the-ground experience in Asia, and has grown into one of the region&acute;s most versatile full-service consultancies. As over 45% of our clientele is from North America, Dezan Shira &amp; Associates has pulled together a dedicated platform to specifically service those businesses and investors in North America.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/uk-ireland.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-UK-Ireland.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/uk-ireland.html') UK and Ireland Desk
                            p
                                | Dezan Shira &amp; Associates has a long history serving British and Irish clients in Asia. Our UK and Ireland Desk aims to support investors in defining and executing the best strategies for structuring their international investments in the region. Our blended service solutions were designed to unify the local expertise of each Asian jurisdiction with understanding of UK and Ireland standards and business objectives.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/german.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-german.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/german.html') German Desk
                            p
                                | Wir bei Dezan Shira &amp; Associates sehen es als unsere Mission an, ausl&auml;ndischen Unternehmen bei allen Fragen rund um die Gr&uuml;ndung, den Betrieb und die Weiterentwicklung ihres Asiengesch&auml;fts zur Seite zu stehen und sie sicher durch das Dickicht sich st&auml;ndig &auml;ndernder Bestimmungen zu f&uuml;hren. &Uuml;ber 20 Jahre Erfahrung vor Ort und ein professionelles Team kompetenter Berater machen uns zu einem verl&auml;sslichen Partner f&uuml;r Ihre Investitionst&auml;tigkeit in Asien.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/italian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-italian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/italian.html') Italian Desk
                            p
                                | Dezan Shira &amp; Associates &egrave; specializzata nell&rsquo;assistenza agli investimenti diretti esteri. A mezzo di un Desk Italia offre supporto in lingua e anche in Italia. Specificatamente offriamo consulenza strategica all&rsquo;investimento, costituzione societaria, consulenza fiscale, contabilit&agrave; e revisione dei conti, amministrazione tesoreria, verifica contabile e adempimento degli obblighi fiscali, gestione dei libri paga e del personale, controllo di gestione, due diligence, deposito marchi, consulenza informatica.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/french.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-french.jpg')
                        .eventBody
                             h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/french.html') French Desk
                             p
                                | Dezan Shira &amp; Associates est une soci&eacute;t&eacute; de conseil sp&eacute;cialis&eacute;e dans l&apos;investissement direct &eacute;tranger en Asie. Nos services comprennent, entre autres, les proc&eacute;dures d&apos;implantation, de gestion juridique, de fusions et d&acute;acquisitions, de fiscalit&eacute; et de comptabilit&eacute; pour toute entreprise &eacute;trang&eacute;re d&eacute;sirant s&apos;implanter et poursuivre ses op&eacute;rations en Asie.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/russian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-russian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/russian.html') Russian Desk
                            p
                                | &Ocy;&scy;&ncy;&ocy;&vcy;&ycy;&vcy;&acy;&yacy;&scy;&softcy; &bcy;&ocy;&lcy;&iecy;&iecy; &chcy;&iecy;&mcy; &ncy;&acy; 20 &gcy;&ocy;&dcy;&acy;&khcy; &pcy;&rcy;&acy;&kcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &ocy;&pcy;&ycy;&tcy;&acy; &vcy; &scy;&tcy;&rcy;&acy;&ncy;&acy;&khcy; &Acy;&zcy;&icy;&icy;, Dezan Shira &amp; Associates &pcy;&rcy;&iecy;&vcy;&rcy;&acy;&tcy;&icy;&lcy;&acy;&scy;&softcy; &vcy; &ocy;&dcy;&ncy;&ucy; &icy;&zcy; &scy;&acy;&mcy;&ycy;&khcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &rcy;&iecy;&gcy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&scy;&acy;&lcy;&tcy;&icy;&ncy;&gcy;&ocy;&vcy;&ycy;&khcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&jcy; &scy; &pcy;&ocy;&lcy;&ncy;&ycy;&mcy; &scy;&pcy;&iecy;&kcy;&tcy;&rcy;&ocy;&mcy; &ucy;&scy;&lcy;&ucy;&gcy;.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                     .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/spanish.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-spanish.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/spanish.html') Spanish Desk
                            p
                                | Dezan Shira &amp; Associates es una firma especializada en el apoyo de la inversi&oacute;n directa extranjera en Asia. A trav&eacute;s de nuestro Spanish Desk ofrecemos apoyo en espa&ntilde;ol para nuestros clientes hispanohablantes. Espec&iacute;ficamente, ofrecemos asesoramiento en inversi&oacute;n estrat&eacute;gica, constituci&oacute;n de empresas, asesoramiento fiscal, contabilidad y auditor&iacute;a, gesti&oacute;n de tesorer&iacute;a, cumplimiento de obligaciones fiscales, recursos humanos y gesti&oacute;n de n&oacute;minas, due diligence y registro de marcas entre otros.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/australian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-australian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/australian.html') Australian Desk
                            p
                                | Dezan Shira &amp; Associates is a multi-disciplinary professional services firm operating throughout the Asia-pacific (APAC) region providing tax, legal, audit, accounting and advisory services. Of the total foreign investment we have facilitated over the years, a significant and valuable proportion has been from Australian businesses, making Dezan Shira &amp; Associates a long term, proven, and trusted advisor to Australian companies and individuals.


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal