extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.services-banner
        img(alt='', src='https://www.asiabriefing.com/mockups/dsa-mockup/dsa-newSite/international-desk/banner-north-american.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12.text-center
                        h1 We are your partner for growth in Asia
                        h4 Our North America Desk provides on the ground support to US and Canadian companies looking to expand their operations in Asia
                        a.btn.btn-secondary.mt-4.CTAscrollTo(href='#CTA_form') Contact us for more information

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                        li  
                            a(href='#') International Desk
                        li.active(aria-current='page') North America Desk

    section.pt-7.pb-7
        .container
          .row
            .col-sm-7.col-md-8.col-lg-8
              p
                | Dezan Shira &amp; Associates has been assisting North American businesses formulate market entry strategies, set up operations and maintain compliance in Asia for over 25 years.
              p
                | As a full-service firm FDI advisory firm, we understand the unique challenges your business may face when expanding into a foreign market or operating in one and thus deliver conscientious support throughout the project lifestyle. Arranged as we are in offices throughout Asia, we pride ourselves on responsive communication between departments, offices and clients.
              p
                | When even minor mistakes can cost a foreign invested enterprise down the road, our experts are committed to providing our North American clients with their in-depth familiarity of the Asian investment landscape and their wealth of experience in finding the right solutions for unique business problems.
              p
                | Our North American clients access Asian markets through one or a combination of our services in:
              ul
                li Pre-entry strategy advice
                li Corporate establishment
                li Tax, legal, &amp; accounting advice
                li HR and payroll services
                li
                  | And 
                  a(href='https://www.dezshira.com/services')
                    strong more
              p
                | Ready to enter the Chinese or other Asian markets? 
                a(href='#mini_contact_form') Contact our
                |  North American associates today.
              h2.section-title.margin20Top Regular business updates
              br
              p
                | Make informed decisions regarding your investments in Asia by following 
                a(href='http://www.asiabriefing.com/', target='_blank') Asia Briefing
                | . Underpinned by our expertise and on-the-ground experience in Asia, our dedicated editorial team regularly publishes business intelligence articles, reports and detailed guides to keep you up-to-date and informed.
              p
                | Asia Briefing content is available for syndication, we regularly partner with respected organizations such as US government agencies to provide their audience with resources to remain updated in the region. Contact our team to 
                a(href='#mini_contact_form') discuss syndication
                | .
              h2.section-title.mt-2 Our clients
              br
              p
                | Our North American clients are primarily mid-market companies, privately-owned enterprises, multinational corporations and subsidiaries of larger, publicly-listed companies. They come from industries such as:
              .row
                .col-sm-6.col-md-6.col-lg-6
                  ul.arrow_bullet
                    li Automotive
                    li Construction
                    li Education
                    li Entertainment and sports
                    li Environment and cleantech
                    li Healthcare
                    li Information technology
                .col-sm-6.col-md-6.col-lg-6
                  ul.arrow_bullet
                    li Manufacturing
                    li Non-governmental organizations (NGO)
                    li Professional services
                    li Retail and consumer goods
                    li Trade and E-commerce
                    li
                      | And 
                      a(href='https://www.dezshira.com/industries')
                        strong more
              p
                | Talk to one of our experts today about establishing a presence or managing your business in an Asian marketplace
              a.btn.btn-primary.text-uppercase.mb-2(href='#mini_contact_form') Contact us
            // /col
            .col-sm-5.col-md-4.col-lg-4
              h4.section-title
                a(href='#') PERSONNEL
              ul.list.mb-2
                li
                  a(href='https://www.dezshira.com/personnel/dustin-daugherty.html')
                    img.img-circle.img-thumbnail.pull-left.mr-2(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Dustin-Daugherty-5.png', alt='Dustin Daugherty', width='80', height='80')
                  .social.pull-right
                    a.marginleft(href='mailto:dustin.daugherty@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/dustin-daugherty.html')  Dustin Daugherty 
                  .duration  Head of North America Business Development 
                  .country United States
                    
                li
                  a(href='https://www.dezshira.com/personnel/kyle-freeman.html')
                    img.img-circle.img-thumbnail.pull-left.mr-2(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Kyle_Freeman_200x200.jpg', alt='Kyle Freeman', width='80', height='80')
                  .social.pull-right
                    a.marginleft(href='mailto:kyle.freeman@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/kyle-freeman.html')  Kyle Freeman 
                  .duration  Manager, International Business Advisory 
                  .country Beijing
                li
                  a(href='https://www.dezshira.com/personnel/holly-mccleery.html')
                    img.img-circle.img-thumbnail.pull-left.mr-2(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Holly_McCleery200200px.jpg', alt='Holly McCleery', width='80', height='80')
                  .social.pull-right
                    a.marginleft(href='mailto:holly.mccleery@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/holly-mccleery.html')  Holly McCleery 
                  .duration  Associate, Marketing 
                  .country Shanghai
                // <li><a href="https://www.dezshira.com/personnel" class="btn-link">Finden Sie hier mehr Ansprechpartner &gt;</a></li>
              h4.section-title.mb-2
                a(href='#') More Case Studies
              ul.arrow_bullet(style='padding-left:33px;')
                li
                  a(target='_blank', href='https://www.dezshira.com/brochure_download_status/case_studies~us~Case 22 - Mid-Cap _ SaaS_ Private- 2017 _Conversion') Case 22 - Mid-Cap SaaS Private 2017 Conversion
                li
                  a(target='_blank', href='https://www.dezshira.com/brochure_download_status/case_studies~us~Case_12_-_Mid-Cap_Ecommerce_Private-2017_Market_Entry') Case 12 - Mid-Cap Ecommerce Private 2017 Market Entry
                li
                  a(target='_blank', href='https://www.dezshira.com/brochure_download_status/case_studies~us~Direct-Selling-in-India-Case-Study-2019') Direct Selling in India
                li
                  a(target='_blank', href='https://www.dezshira.com/brochure_download_status/case_studies~us~Manufacturer Moves to Vietnam - Case Study 2019') Power Tools Manufacturer Reduces Costs by Moving to Vietnam
                li
                  a(target='_blank', href='https://www.dezshira.com/brochure_download_status/case_studies~us~2019_Partners_in_China_Edu_Industry - Case Study') 2019 Partners in China&apos;s Education Industry
            // /col
          // /row
    section.blue.pt-5.pb-5
        .container
            .row
                .col-sm-2.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.text-right
                    a(href='http://dezshira.in/register.html')
                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='//www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                .col-sm-8.col-md-8.col-lg-8
                    h5 DOWNLOAD BROCHURE
                    h1
                        a(href='https://www.dezshira.com/brochure_download_status/english') Learn more about how we can support your business in Asia
    section.pb-5.pt-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    h4.section-title Events
                    ul.list-unstyled.list
                        li
                            .event_block
                                .date_block
                                    .date
                                        | Sep
                                        br
                                        span 04
                                .dec_block
                                    .title
                                        a(href='https://www.dezshira.com/events/details/eastern-economic-forum-2019-8318.html') Eastern Economic Forum  2019
                                    .dec
                                        | Chris Devonshire-Ellis, Chairman &amp; Founding Partner 
                                        br
                                        | Maria Kotova, Head of UK and Ireland Business Development 
                                        br
                                    .date_time
                                        small
                                            | Vladivostok | 4-6 September, 2019
                                            br


                    
       

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection
                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='310', href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                        a(name='mini_contact_form')
    section#partners.gray-light-bg.pb-5.pt-5
      .container
        .row
          .col-sm-12.col-md-12.col-lg-12
            .owl-carousel.owl-theme#partners-carousel
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/BPM_4.png', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/BPM_4.png 2x')
              .item
                .view.view-first
                  img(src='https:https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/28cceuv57ku8wsogw8.jpg', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/28cceuv57ku8wsogw8.jpg 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/11vxf88kyuuoogw8ww.png', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/11vxf88kyuuoogw8ww.png 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/qanmgnx9xuogc0kgw.png', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/qanmgnx9xuogc0kgw.png 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/f.png', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/f.png 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_10.01.30.png', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_10.01.30.png 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/sikich_logo_1.jpg', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/sikich_logo_1.jpg 2x')
              .item
                .view.view-first
                  img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/SwensonAdvisors_Logo_FINAL_COLOR.jpg', srcset='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/SwensonAdvisors_Logo_FINAL_COLOR.jpg 2x')
          // /carousel-inner
          .row
            #mini_contact_form.row
            .text-center.col-sm-6.col-md-6.col-lg-6.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.mt-4
              p
                | We partner with organisations across the world to give us a truly global presence. Discover our region&rsquo;s key partners above.
      
        // /row
      // /books_carousel
      // /container



        
    section.contact.service_cta
      .container
        .row
          .col-sm-2.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1
            i.far.fa-envelope
          .col-sm-7.col-md-7.col-lg-7
            h5.mt-1 CONTACT US
            h4 Ask a question
        form#contact_form.material.signup.mt-4(method='post', action='https://www.dezshira.com/submit_mini_contact', novalidate='novalidate')
          input(type='hidden', name='dsa_contact_token', value='5453b4ace478ca26fdff03864860feacbe0d38cfb00ee34bbf4771e2be2b81b9')
          input(type='hidden', name='request_uri', value='https://www.dezshira.com/services2/business-intelligence-solutions')
          input(type='hidden', name='to', value='info@dezshira.com')
          #loading(style='display:none;')  Processing, please wait...
          .row.row_2
            .col-md-3.col-md-offset-1
              input#fname(type='text', name='fname', placeholder='First Name', required='')
              .helper.error_fname
            .col-md-3
              input#lname(type='text', name='lname', placeholder='Last Name', required='')
              .helper.error_lname
            .col-md-4
              input#email_address(type='email', name='email_address', placeholder='Email', required='')
              .helper.error_email_address
          .row.row_2
            .col-md-4.col-md-offset-1
              .material-select
                select#country(name='country', placeholder='* Country', required='', aria-required='true')
                  option.text-muted(value='') Country
                  option(value='Belt & Road Initiative') Belt &amp; Road Initiative
                  option(value='Afghanistan, Islamic State') Afghanistan, Islamic State
                  option(value='Åland Islands') &angst;land Islands
                  option(value='Albania') Albania
                  option(value='Algeria') Algeria
                  option(value='American Samoa') American Samoa
                  option(value='Andorra, Principality of') Andorra, Principality of
                  option(value='Angola') Angola
                  option(value='Anguilla') Anguilla
                  option(value='Antarctica') Antarctica
                  option(value='Antigua and Barbuda') Antigua and Barbuda
                  option(value='Argentina') Argentina
                  option(value='Armenia') Armenia
                  option(value='Aruba') Aruba
                  option(value='Australia') Australia
                  option(value='Austria') Austria
                  option(value='Azerbaijan') Azerbaijan
                  option(value='Bahamas') Bahamas
                  option(value='Bahrain') Bahrain
                  option(value='Bangladesh') Bangladesh
                  option(value='Barbados') Barbados
                  option(value='Belarus') Belarus
                  option(value='Belgium') Belgium
                  option(value='Belize') Belize
                  option(value='Benin') Benin
                  option(value='Bermuda') Bermuda
                  option(value='Bhutan') Bhutan
                  option(value='Bolivia') Bolivia
                  option(value='Bosnia-Herzegovina') Bosnia-Herzegovina
                  option(value='Botswana') Botswana
                  option(value='Bouvet Island') Bouvet Island
                  option(value='Brazil') Brazil
                  option(value='British Indian Ocean Terr.') British Indian Ocean Terr.
                  option(value='Brunei Darussalam') Brunei Darussalam
                  option(value='Bulgaria') Bulgaria
                  option(value='Burkina Faso') Burkina Faso
                  option(value='Burundi') Burundi
                  option(value='Cambodia, Kingdom of') Cambodia, Kingdom of
                  option(value='Cameroon') Cameroon
                  option(value='Canada') Canada
                  option(value='Cape Verde') Cape Verde
                  option(value='Cayman Islands') Cayman Islands
                  option(value='Central African Republic') Central African Republic
                  option(value='Chad') Chad
                  option(value='Chile') Chile
                  option(value='China') China
                  option(value='Taiwan') Taiwan
                  option(value='Christmas Island') Christmas Island
                  option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands
                  option(value='Colombia') Colombia
                  option(value='Comoros') Comoros
                  option(value='Congo') Congo
                  option(value='Cook Islands') Cook Islands
                  option(value='Costa Rica') Costa Rica
                  option(value='Croatia') Croatia
                  option(value='Cuba') Cuba
                  option(value='Curaçao') Cura&ccedil;ao
                  option(value='Cyprus') Cyprus
                  option(value='Czech Republic') Czech Republic
                  option(value='Congo, Democratic Republic') Congo, Democratic Republic
                  option(value='Denmark') Denmark
                  option(value='Djibouti') Djibouti
                  option(value='Dominica') Dominica
                  option(value='Dominican Republic') Dominican Republic
                  option(value='East Timor') East Timor
                  option(value='Ecuador') Ecuador
                  option(value='Egypt') Egypt
                  option(value='El Salvador') El Salvador
                  option(value='Equatorial Guinea') Equatorial Guinea
                  option(value='Eritrea') Eritrea
                  option(value='Estonia') Estonia
                  option(value='Ethiopia') Ethiopia
                  option(value='Falkland Islands') Falkland Islands
                  option(value='Faroe Islands') Faroe Islands
                  option(value='Fiji') Fiji
                  option(value='Finland') Finland
                  option(value='France') France
                  option(value='French Guyana') French Guyana
                  option(value='French Polynesia') French Polynesia
                  option(value='French Southern Territories') French Southern Territories
                  option(value='Gabon') Gabon
                  option(value='Gambia') Gambia
                  option(value='Georgia') Georgia
                  option(value='Germany') Germany
                  option(value='Ghana') Ghana
                  option(value='Gibraltar') Gibraltar
                  option(value='Greece') Greece
                  option(value='Greenland') Greenland
                  option(value='Grenada') Grenada
                  option(value='Guadeloupe (French)') Guadeloupe (French)
                  option(value='Guam (USA)') Guam (USA)
                  option(value='Guatemala') Guatemala
                  option(value='Guernsey') Guernsey
                  option(value='Guinea') Guinea
                  option(value='Guinea Bissau') Guinea Bissau
                  option(value='Guyana') Guyana
                  option(value='Haiti') Haiti
                  option(value='Heard and McDonald Islands') Heard and McDonald Islands
                  option(value='Holy See (Vatican City)') Holy See (Vatican City)
                  option(value='Honduras') Honduras
                  option(value='Hong Kong') Hong Kong
                  option(value='Hungary') Hungary
                  option(value='Iceland') Iceland
                  option(value='India') India
                  option(value='Indonesia') Indonesia
                  option(value='Iran') Iran
                  option(value='Iraq') Iraq
                  option(value='Ireland') Ireland
                  option(value='Isle of Man') Isle of Man
                  option(value='Israel') Israel
                  option(value='Italy') Italy
                  option(value="Ivory Coast (Cote D'Ivoire)") Ivory Coast (Cote D&apos;Ivoire)
                  option(value='Jamaica') Jamaica
                  option(value='Japan') Japan
                  option(value='Jersey') Jersey
                  option(value='Jordan') Jordan
                  option(value='Kazakhstan') Kazakhstan
                  option(value='Kenya') Kenya
                  option(value='Kiribati') Kiribati
                  option(value='Kuwait') Kuwait
                  option(value='Kyrgyz Republic (Kyrgyzstan)') Kyrgyz Republic (Kyrgyzstan)
                  option(value='Laos') Laos
                  option(value='Latvia') Latvia
                  option(value='Lebanon') Lebanon
                  option(value='Lesotho') Lesotho
                  option(value='Liberia') Liberia
                  option(value='Libya') Libya
                  option(value='Liechtenstein') Liechtenstein
                  option(value='Lithuania') Lithuania
                  option(value='Luxembourg') Luxembourg
                  option(value='Macau') Macau
                  option(value='Macedonia') Macedonia
                  option(value='Madagascar') Madagascar
                  option(value='Malawi') Malawi
                  option(value='Malaysia') Malaysia
                  option(value='Maldives') Maldives
                  option(value='Mali') Mali
                  option(value='Malta') Malta
                  option(value='Marshall Islands') Marshall Islands
                  option(value='Martinique') Martinique
                  option(value='Mauritania') Mauritania
                  option(value='Mauritius') Mauritius
                  option(value='Mayotte') Mayotte
                  option(value='Mexico') Mexico
                  option(value='Micronesia') Micronesia
                  option(value='Moldavia') Moldavia
                  option(value='Monaco') Monaco
                  option(value='Mongolia') Mongolia
                  option(value='Montenegro') Montenegro
                  option(value='Montserrat') Montserrat
                  option(value='Morocco') Morocco
                  option(value='Mozambique') Mozambique
                  option(value='Myanmar') Myanmar
                  option(value='Namibia') Namibia
                  option(value='Nauru') Nauru
                  option(value='Nepal') Nepal
                  option(value='Netherlands') Netherlands
                  option(value='New Caledonia (French)') New Caledonia (French)
                  option(value='New Zealand') New Zealand
                  option(value='Nicaragua') Nicaragua
                  option(value='Niger') Niger
                  option(value='Nigeria') Nigeria
                  option(value='Niue') Niue
                  option(value='Norfolk Island') Norfolk Island
                  option(value='North Korea') North Korea
                  option(value='Northern Mariana Islands') Northern Mariana Islands
                  option(value='Norway') Norway
                  option(value='Oman') Oman
                  option(value='Other') Other
                  option(value='Pakistan') Pakistan
                  option(value='Palau') Palau
                  option(value='Palestine, State of') Palestine, State of
                  option(value='Panama') Panama
                  option(value='Papua New Guinea') Papua New Guinea
                  option(value='Paraguay') Paraguay
                  option(value='Peru') Peru
                  option(value='Philippines') Philippines
                  option(value='Pitcairn Island') Pitcairn Island
                  option(value='Poland') Poland
                  option(value='Portugal') Portugal
                  option(value='Puerto Rico') Puerto Rico
                  option(value='Qatar') Qatar
                  option(value='Reunion (French)') Reunion (French)
                  option(value='Romania') Romania
                  option(value='Russia') Russia
                  option(value='Rwanda') Rwanda
                  option(value='S. Georgia & S. Sandwich Is.') S. Georgia &amp; S. Sandwich Is.
                  option(value='Saint Barthélemy') Saint Barth&eacute;lemy
                  option(value='Saint Helena') Saint Helena
                  option(value='Saint Kitts & Nevis Anguilla') Saint Kitts &amp; Nevis Anguilla
                  option(value='Saint Lucia') Saint Lucia
                  option(value='Saint Martin') Saint Martin
                  option(value='Saint Pierre and Miquelon') Saint Pierre and Miquelon
                  option(value='Saint Tome (Sao Tome)') Saint Tome (Sao Tome)
                  option(value='Saint Vincent & Grenadines') Saint Vincent &amp; Grenadines
                  option(value='Samoa') Samoa
                  option(value='San Marino') San Marino
                  option(value='Saudi Arabia') Saudi Arabia
                  option(value='Senegal') Senegal
                  option(value='Serbia') Serbia
                  option(value='Seychelles') Seychelles
                  option(value='Sierra Leone') Sierra Leone
                  option(value='Singapore') Singapore
                  option(value='Slovak Republic') Slovak Republic
                  option(value='Slovenia') Slovenia
                  option(value='Solomon Islands') Solomon Islands
                  option(value='Somalia') Somalia
                  option(value='South Africa') South Africa
                  option(value='South Korea') South Korea
                  option(value='South Sudan') South Sudan
                  option(value='Spain') Spain
                  option(value='Sri Lanka') Sri Lanka
                  option(value='Sudan') Sudan
                  option(value='Suriname') Suriname
                  option(value='Svalbard and Jan Mayen Is.') Svalbard and Jan Mayen Is.
                  option(value='Swaziland') Swaziland
                  option(value='Sweden') Sweden
                  option(value='Switzerland') Switzerland
                  option(value='Syria') Syria
                  option(value='Tadjikistan') Tadjikistan
                  option(value='Tanzania') Tanzania
                  option(value='Thailand') Thailand
                  option(value='Togo') Togo
                  option(value='Tokelau') Tokelau
                  option(value='Tonga') Tonga
                  option(value='Trinidad and Tobago') Trinidad and Tobago
                  option(value='Tunisia') Tunisia
                  option(value='Turkey') Turkey
                  option(value='Turkmenistan') Turkmenistan
                  option(value='Turks and Caicos Islands') Turks and Caicos Islands
                  option(value='Tuvalu') Tuvalu
                  option(value='Uganda') Uganda
                  option(value='Ukraine') Ukraine
                  option(value='United Arab Emirates') United Arab Emirates
                  option(value='United Kingdom') United Kingdom
                  option(value='United States') United States
                  option(value='Uruguay') Uruguay
                  option(value='USA Minor Outlying Islands') USA Minor Outlying Islands
                  option(value='Uzbekistan') Uzbekistan
                  option(value='Vanuatu') Vanuatu
                  option(value='Venezuela') Venezuela
                  option(value='Vietnam') Vietnam
                  option(value='Virgin Islands (British)') Virgin Islands (British)
                  option(value='Virgin Islands (USA)') Virgin Islands (USA)
                  option(value='Wallis and Futuna Islands') Wallis and Futuna Islands
                  option(value='Western Sahara') Western Sahara
                  option(value='Yemen') Yemen
                  option(value='Yugoslavia (former)') Yugoslavia (former)
                  option(value='Zambia') Zambia
                  option(value='Zimbabwe') Zimbabwe
                .helper.error_country
            .col-md-3
              input#organization(type='text', name='organization', placeholder='Company', required='')
              .helper.error_organization
            .col-md-3
              input#telephone(type='text', name='telephone', placeholder='Telephone', required='')
              .helper.error_telephone
          .row.row_1
            .col-md-10.col-md-offset-1
              textarea#comments(name='comments', placeholder='Comments', required='')
              .helper.error_comments
          .row.row_1
            .col-md-6.col-md-offset-1
              .captcha_block
                .captcha_left_block
                  span
                    | Security Check 
                    a#reload_captcha.btn(title='Reload Code')
                        i.fas.fa-sync-alt
                  br
                  img#siimage(src='https://www.dezshira.com/includes/modules/securimage/securimage_show_mini.php', alt='captcha image')
                .captcha_right_block
                  input#captcha_code(type='text', name='captcha_code', placeholder='Security Code', required='')
                  .helper.error_captcha_code
                  span The code is case-sensitive 
            .col-md-4
              input#submit.btn.btn-secondary.submit_btn.btnNormalWidth(type='submit', value='SEND', name='SEND')
              .clearfix
              p.text-align.mt-1.mb-1.text_white * Required
        br
        #message.text-center.bg-danger.radius-none(style='max-width:800px;margin:auto; font-size:12px; line-height:normal; font-weight:normal;')
    section#books_carousel.pb-5.pt-5
      .container
        .row
          .col-sm-12.col-md-12.col-lg-12
            h4.section-title Publications
        .row
          ul.list-inline
            li.col-sm-3.col-md-3.col-lg-3
              .desc
                h3
                  a(href='http://www.asiabriefing.com/store/search?language=21', target='_blank') Asia Briefing Publications
                p
                  | Download magazines and guides on doing business in China, Vietnam, ASEAN, India, and other Asian countries from our on-the-ground experts.
                a.btn.btn-outline-dark.text-uppercase.mt-3(href='http://www.asiabriefing.com/store/search', target='_blank')
                  i.fa.fa-shopping-cart(aria-hidden='true')
                  |  GO TO STORE
            li.col-sm-9.col-md-9.col-lg-9
              .owl-carousel.owl-theme#publication-carousel
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8465/CB_Guide_Tax_and_Accounting_11_Edition_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/tax-accounting-audit-china-2019.html') Tax, Accounting and Audit in China 2019 (11th Edition)
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/tax-accounting-audit-china-2019.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8325/CB_Mag_2019_06_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html') The New Foreign Investment Law in China 
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/new-foreign-investment-law-china.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8317/VB_2019_07_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html') Import and Export in Vietnam
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/importing-exporting-vietnam.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8325/CB_Mag_2019_06_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html') The New Foreign Investment Law in China 
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/new-foreign-investment-law-china.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8317/VB_2019_07_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html') Import and Export in Vietnam
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/importing-exporting-vietnam.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8301/IB_2019_06_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html') The Goods and Services Tax in India
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/goods-services-tax-india.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8317/VB_2019_07_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html') Import and Export in Vietnam
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/importing-exporting-vietnam.html')") Quick View
                .item
                  .view.view-first
                    img(src='//resource.dezshira.com/resize/200x275/Publications/8301/IB_2019_06_issue_Cover.jpg')
                    .mask
                      h2
                        a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html') The Goods and Services Tax in India
                      a.info(href='#', data-toggle='modal', data-target='#quickViewModal', onclick="bookView('http://www.asiabriefing.com/store/book-preview/goods-services-tax-india.html')") Quick View
            .clearfix





    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal