extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/International-desks_banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left International Desks
                        h4 Our clients are as diverse as our team. We can help investors find their way in Asia in a variety languages and business cultures.

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                       
                        
                        li.active(aria-current='page') International Desk

    section.pt-5.pb-5
        .container
            .row
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/north-american.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-north-american.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/north-american.html') North American Desk
                            p
                                | Dezan Shira &amp; Associates has over 20 years of on-the-ground experience in Asia, and has grown into one of the region&acute;s most versatile full-service consultancies. As over 45% of our clientele is from North America, Dezan Shira &amp; Associates has pulled together a dedicated platform to specifically service those businesses and investors in North America.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/uk-ireland.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-UK-Ireland.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/uk-ireland.html') UK and Ireland Desk
                            p
                                | Dezan Shira &amp; Associates has a long history serving British and Irish clients in Asia. Our UK and Ireland Desk aims to support investors in defining and executing the best strategies for structuring their international investments in the region. Our blended service solutions were designed to unify the local expertise of each Asian jurisdiction with understanding of UK and Ireland standards and business objectives.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/german.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-german.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/german.html') German Desk
                            p
                                | Wir bei Dezan Shira &amp; Associates sehen es als unsere Mission an, ausl&auml;ndischen Unternehmen bei allen Fragen rund um die Gr&uuml;ndung, den Betrieb und die Weiterentwicklung ihres Asiengesch&auml;fts zur Seite zu stehen und sie sicher durch das Dickicht sich st&auml;ndig &auml;ndernder Bestimmungen zu f&uuml;hren. &Uuml;ber 20 Jahre Erfahrung vor Ort und ein professionelles Team kompetenter Berater machen uns zu einem verl&auml;sslichen Partner f&uuml;r Ihre Investitionst&auml;tigkeit in Asien.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/italian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-italian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/italian.html') Italian Desk
                            p
                                | Dezan Shira &amp; Associates &egrave; specializzata nell&rsquo;assistenza agli investimenti diretti esteri. A mezzo di un Desk Italia offre supporto in lingua e anche in Italia. Specificatamente offriamo consulenza strategica all&rsquo;investimento, costituzione societaria, consulenza fiscale, contabilit&agrave; e revisione dei conti, amministrazione tesoreria, verifica contabile e adempimento degli obblighi fiscali, gestione dei libri paga e del personale, controllo di gestione, due diligence, deposito marchi, consulenza informatica.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/french.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-french.jpg')
                        .eventBody
                             h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/french.html') French Desk
                             p
                                | Dezan Shira &amp; Associates est une soci&eacute;t&eacute; de conseil sp&eacute;cialis&eacute;e dans l&apos;investissement direct &eacute;tranger en Asie. Nos services comprennent, entre autres, les proc&eacute;dures d&apos;implantation, de gestion juridique, de fusions et d&acute;acquisitions, de fiscalit&eacute; et de comptabilit&eacute; pour toute entreprise &eacute;trang&eacute;re d&eacute;sirant s&apos;implanter et poursuivre ses op&eacute;rations en Asie.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/russian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-russian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/russian.html') Russian Desk
                            p
                                | &Ocy;&scy;&ncy;&ocy;&vcy;&ycy;&vcy;&acy;&yacy;&scy;&softcy; &bcy;&ocy;&lcy;&iecy;&iecy; &chcy;&iecy;&mcy; &ncy;&acy; 20 &gcy;&ocy;&dcy;&acy;&khcy; &pcy;&rcy;&acy;&kcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &ocy;&pcy;&ycy;&tcy;&acy; &vcy; &scy;&tcy;&rcy;&acy;&ncy;&acy;&khcy; &Acy;&zcy;&icy;&icy;, Dezan Shira &amp; Associates &pcy;&rcy;&iecy;&vcy;&rcy;&acy;&tcy;&icy;&lcy;&acy;&scy;&softcy; &vcy; &ocy;&dcy;&ncy;&ucy; &icy;&zcy; &scy;&acy;&mcy;&ycy;&khcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &rcy;&iecy;&gcy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&scy;&acy;&lcy;&tcy;&icy;&ncy;&gcy;&ocy;&vcy;&ycy;&khcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&jcy; &scy; &pcy;&ocy;&lcy;&ncy;&ycy;&mcy; &scy;&pcy;&iecy;&kcy;&tcy;&rcy;&ocy;&mcy; &ucy;&scy;&lcy;&ucy;&gcy;.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                     .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/spanish.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-spanish.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/spanish.html') Spanish Desk
                            p
                                | Dezan Shira &amp; Associates es una firma especializada en el apoyo de la inversi&oacute;n directa extranjera en Asia. A trav&eacute;s de nuestro Spanish Desk ofrecemos apoyo en espa&ntilde;ol para nuestros clientes hispanohablantes. Espec&iacute;ficamente, ofrecemos asesoramiento en inversi&oacute;n estrat&eacute;gica, constituci&oacute;n de empresas, asesoramiento fiscal, contabilidad y auditor&iacute;a, gesti&oacute;n de tesorer&iacute;a, cumplimiento de obligaciones fiscales, recursos humanos y gesti&oacute;n de n&oacute;minas, due diligence y registro de marcas entre otros.
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .international-desks
                        .ThumbBlock.hoverImage
                            figure
                                a(href='https://www.dezshira.com/international-desk/australian.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-australian.jpg')
                        .eventBody
                            h3.pt-3
                                a(href='https://www.dezshira.com/international-desk/australian.html') Australian Desk
                            p
                                | Dezan Shira &amp; Associates is a multi-disciplinary professional services firm operating throughout the Asia-pacific (APAC) region providing tax, legal, audit, accounting and advisory services. Of the total foreign investment we have facilitated over the years, a significant and valuable proportion has been from Australian businesses, making Dezan Shira &amp; Associates a long term, proven, and trusted advisor to Australian companies and individuals.


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', data-prefix='far', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z')
                                        // <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-lock.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='lock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z')
                                        // <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>


    // End modal