extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Investor Resources

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                        
                        
                        li.active(aria-current='page') Investor Resources

    section.pt-7.pb-7
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8.mt-5.mb-5
                    p
                         | Asia Briefing is a wholly owned subsidiary of Dezan Shira & Associates, a specialist foreign direct investment practice with a pan-Asia presence. 
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            .lightGraybg.mt-2.mb-2
                                a(href='http://www.asiabriefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB.png', alt='')

                    p
                        | Asia Briefing was founded in 1999 as a  complimentary service. The publication house produces articles, magazines, and  guides on doing business in 
                        a(href='http://www.china-briefing.com/', target='_blank') China
                        | , 
                        a(href='http://www.vietnam-briefing.com/', target='_blank') Vietnam
                        | , 
                        a(href='http://www.aseanbriefing.com/', target='_blank') ASEAN
                        | , 
                        a(href='http://www.indonesiabriefing.com/') Indonesia
                        | , 
                        a(href='http://www.india-briefing.com/', target='_blank') India
                        | , 
                        a(href='https://www.russia-briefing.com/') Russia
                        | , and the 
                        a(href='https://www.silkroadbriefing.com/') Silk Road
                        | . It publishes business  news and analysis, particularly as it relates to foreign direct investment and  related legal, tax, and operational concerns.

                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='http://www.aseanbriefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/ASB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='http://www.china-briefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/CB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='https://www.india-briefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/IB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='http://www.vietnam-briefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/VB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='http://www.indonesiabriefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/INDOB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            .lightGraybg.mt-2.mb-2
                                a(href='https://www.russia-briefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/RB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6.col-md-offset-3.col-sm-offset-3.col-lg-offset-3
                            .lightGraybg.mt-2.mb-2
                                a(href=' https://www.silkroadbriefing.com', target='_blank')
                                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/SKB.png', alt='')
                        .clearfix
                    p
                        | Asia Briefing subscription is free and  provides you with the Asia Briefing Weekly, a roundup of the latest business  news and analysis from across the region.
                            
                            

                .col-sm-4.col-md-4.col-lg-4.col-lg-4.mt-5.mb-5
                    .rightBlockSection
                        .contactUs.mb-2
                            .BannerCaption
                                h3 To learn more about how we can support you, contact one of our local experts.
                                p
                                    | We provide professional services tailored to Asia´s business environment across the full business cycle.
                                a.btn.btn-outline-white.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
                        .light-blue-bg.mt-2.mb-2
                            .BannerCaption.min
                                a(href='https://www.dezshira.com/brochure')
                                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                                h3
                                    a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                                p
                                    a(href='https://www.dezshira.com/brochure')
                                        | Get access to our Asiapedia resource, magazines and guides, as well as our monthly newsletter                                      
                        
                        // /flyersBrochures

                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600', href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                        a(name='mini_contact_form')
            // /col
            // /row

    

   
    


    
        // /container
        
    section.blue.pt-5.pb-5
        .container
            .row
                .col-sm-2.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.text-right
                    a(href='http://dezshira.in/register.html')
                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png 2x')
                .col-sm-8.col-md-8.col-lg-8
                    h5 SUBSCRIBE
                    h1
                        a(href='https://www.dezshira.com/register.html') Join over thousands of people who receive weekly foreign investment news in Asia

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal