extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Company News
 
    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                        li
                            a(href='#') News
                        li.active(aria-current='page') Trent Davies On How Vietnam Can Complement Your China Business
    section.pb-5.pt-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    .border-top.pt-3.borderTopDarkblue
                        h1.heading.mb-3 Trent Davies On How Vietnam Can Complement Your China Business
                    .meta.mb-3.mt-3
                        time.entry-date.pr-2(datetime='2019-09-26T10:52:57+00:00')
                            i.far.fa-calendar-alt
                            |   September 26, 2019
                        span.sep  Posted by 
                        span.author.vcard.pl-1
                            a.url.fn.n(href='https://www.dezshira.com/updates/author/dsa-2', title='View all posts by Dezan Shira & Associates', rel='author') Dezan Shira &amp; Associates
                    .clearfix
                    p
                        | Vietnam has successfully established itself as a leading destination for foreign direct investment thanks to its increasing integration with world markets.
                    .wp-caption
                        img.img-responsive(alt='', src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/09/trent-davies-sep19-events-sz-gz.jpg?resize=918%2C689&ssl=1')
                        .wp-caption-text L-R: Oliver Regner EuroCham Vietnam, Trang Bui JLL, Francine Hadjisotiriou EuroCham Shenzhen, Hans Kerstens Deep C Industrial Zones, Trent Davies DSA
                    p
                        | Vietnam&rsquo;s network of free trade agreements (FTAs) currently connects Vietnam to 68% of the world&rsquo;s consumers. The recently signed European Union-Vietnam Free Trade Agreement further joins Vietnam to one of the third largest players in global trade.
                    
                    h2 
                        | How Vietnam Could Complement Your China Operations
                    p
                        | On 17th -18th September, we co-hosted a seminar with The European Chamber of Commerce Vietnam, Jones Lang LaSalle and DEEP C Industrial Zones titled Navigating Asia&rsquo;s Business Landscape: How Vietnam Could Complement Your China Operations in Guangzhou and Shenzhen.
                    p
                        | The presentation provided an overview of how companies can benefit from the EVFTA and how complementing Chinese operations with production in Vietnam can benefit your business.
                    .wp-caption
                        img.img-responsive(alt='', src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/09/trent-davies-sep19-events-sz.jpg?resize=888%2C666&ssl=1')
                        .wp-caption-text Trent Davies Speaking in Shenzhen
                    .wp-caption
                        img.img-responsive(alt='', src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/09/trent-davies-sep19-events-gz.jpg?resize=964%2C781&ssl=1')
                        .wp-caption-text Trent Davies Speaking in Guangzhou
                    p
                      | An expert panel shared insights regarding recent developments and the key to successfully planning a business in Vietnam.
                    p
                      a(href='https://www.dezshira.com/personnel/trent-davies.html')
                        strong Trent Davies
                      | , Manager of our&nbsp;
                      a(href='https://www.dezshira.com/personnel/tag/business-advisory')
                        strong International Business Advisory
                      | &nbsp;team in Vietnam,&nbsp;delved into&nbsp;
                      a(href='https://www.dezshira.com/industries/manufacturing') manufacturing 
                      | in Vietnam. The focus&nbsp;was on the effect of rules of origin, company incorporation, and regulatory compliance to help investors understand opportunities and challenges for successfully operating in Vietnam.
                    p
                      | Trent opened his speech by comparing Vietnam with China and highlighted the importance of developing a location specific investment strategy in Vietnam:
                    p
                      | &ldquo;
                      em
                        | Vietnam is a really exciting place with plenty of opportunities, but it isn&rsquo;t yet China. Although infrastructure spending in Vietnam is massive, the current infrastructure may not be able to support all the businesses that investors want to enter, and logistics can be complicated due to congested ports.
                    p
                      em
                        | The other key difference is Vietnam doesn&rsquo;t have the depth of supply chain as China does. Companies will have to really work with suppliers in Vietnam to make sure they know your wants clearly. It is important as such to make a right decision when you enter Vietnam, and to choose the right location based on your production strategy, to avoid some of those issues.&rdquo;
                    h2 What is Vietnam&rsquo;s Business Environment Like for Foreign Investors?
                    p
                      | During the panel discussion, many audience members raised their own concerns and questions. Queries such as how to set up a factory in Vietnam, what the workforce in Vietnam is like, and the legal environment in Vietnam in terms of Intellectual property issues were at the forefront of discussions.
                    p
                      | Trent pointed out that Vietnam has benefited significantly from the ongoing trade disputes north of its border. This is largely due to&nbsp;Vietnam&rsquo;s close proximity to China, lower cost of labor, and multiple free trade agreements, all of which are essential to formulating strategies to hedge against US tariffs on exports from China.
                    p Both events were successful and received positive feedback from the audiences.
                    p
                      | We were&nbsp;honored to meet with audience members from Guangzhou, Shenzhen, Foshan, Dongguan and Hong Kong, among&nbsp; others. It is our aim to deliver helpful and professional advice to companies looking to grow within&nbsp;Asia&rsquo;s business environment.
                    h2
                      strong Equip Yourself for Doing Business in Vietnam
                    p
                      | If you are interested in relocating a 
                      a(href='https://www.dezshira.com/industries/manufacturing')
                        strong manufacturing 
                      | operation to Vietnam, read our Vietnam Briefing issue on 
                      a(href='http://www.asiabriefing.com/store/book/china-plus-one-strategy-vietnam-7930.html')
                        strong China plus One Manufacturing
                      | .
                    p In it, we discuss:
                    ul
                      li What Vietnam can do for your China business;
                      li How to plan a supply chain shift;
                      li Trade Agreements, Rules of Origin, and Tariff Avoidance.
                    p
                      | Find out how&nbsp;we can support your business in Vietnam 
                      a(href='https://www.dezshira.com/services')
                        strong here
                      strong ,
                      |  or contact our 
                      a(href='https://www.dezshira.com/office/vietnam')
                        strong Vietnam offices
                      |  directly.
                    p
                      | For an extensive catalogue of business resources, please feel free to subscribe to our investor resource library, 
                      strong
                        a(href='https://www.dezshira.com/library') Asiapedia
                        | .
                    p
                      | To stay up-to-date with news and publications concerning several aspects of doing business in Asia, visit 
                      a(href='http://www.asiabriefing.com/')
                        strong Asia Briefing
                      | .
                    hr 
                    .row
                        .col-md-6
                            p.previous
                                small Previous Article 
                                br
                                | &laquo; 
                                a(href='https://www.dezshira.com/updates/2019/09/market-entry-options-for-foreign-companies-in-india.html', rel='prev') Sunny Makhija Discusses Market Entry Options for Foreign Companies in India
                        .col-md-6
                            p.Next
                                small Next Article 
                                br


                    
       

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection
                        h4.section-title Related reading 
                        ul#related_reading.list-unstyled.list
                          li
                            .publications-thumb
                                a(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html', target='_blank')
                                img.borderGrey.img-responsive(src='https://resource.dezshira.com/resize/200x275/Publications/8325/CB_Mag_2019_06_issue_Cover.jpg', scale='0', width='150')
                            .listRightContent
                              .meta-info
                                span.date July 17, 2019
                              h4
                                a(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html', target='_blank') The New Foreign Investment Law in China 
                              p
                                | China has faced a deluge of international criticism over its treatment of foreign businesses and the perceived...
                              a.btn.btn-outline-dark.text-uppercase(href='http://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html', target='_blank')
                                i.far.fa-arrow-alt-circle-down(aria-hidden='true')
                                |  DOWNLOAD
                            .clearfix
                          li
                            .publications-thumb
                                a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html', target='_blank')
                                img.borderGrey.img-responsive(src='https://resource.dezshira.com/resize/200x275/Publications/8317/VB_2019_07_issue_Cover.jpg', scale='0', width='150')
                            .listRightContent
                              .meta-info
                                span.date June 30, 2019
                              h4
                                a(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html', target='_blank') Import and Export in Vietnam
                              p
                                | Vietnam has followed an export-led growth model, combining trade liberalization and policies to attract foreig...
                              a.btn.btn-outline-dark.text-uppercase(href='http://www.asiabriefing.com/store/book/importing-exporting-vietnam.html', target='_blank')
                                i.far.fa-arrow-alt-circle-down(aria-hidden='true')
                                |  DOWNLOAD
                            .clearfix
                          li
                            .publications-thumb
                                a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank')
                                img.borderGrey.img-responsive(src='https://resource.dezshira.com/resize/200x275/Publications/8301/IB_2019_06_issue_Cover.jpg', scale='0', width='150')
                            .listRightContent
                              .meta-info
                                span.date June 26, 2019
                              h4
                                a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank') The Goods and Services Tax in India
                              p
                                | In this issue of India Briefing, we first introduce various provisions of the GST system to help companies und...
                              a.btn.btn-outline-dark.text-uppercase(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank')
                                i.far.fa-arrow-alt-circle-down(aria-hidden='true')
                                |  DOWNLOAD
                            .clearfix
                          li
                            a.btn-link(href='#')
                              strong See more &gt;

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal