extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content



    // Start Content
    section.TopBanner.TopInnerBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/companyNews.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Company News

    section.breadcrumbBlock
        nav(aria-label='breadcrumb')
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ol.breadcrumb 
                            li.breadcrumb-item.active(aria-current='page') News

    section.pt-5.pb-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                   .featuredNews
                    img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Shanghai-team-with-gradutes-from-the-University-of-New-South-Wales-Australia.jpg?fit=560%2C420&ssl=1', alt='', scale='0')
                    .newsTitle
                        a(href='https://www.dezshira.com/updates/2019/08/workshop-fdi-china-new-south-wales-graduates-shanghai.html') Workshop on FDI in China for Graduates from New South Wales, Australia      

                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .relatedNews
                        img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Ellen-Yin-and-Allan-Xu-addresses-welcome-note-to-audience.jpg?fit=267%2C200&ssl=1', alt='', scale='0')
                        .newsTitle
                            a(href='https://www.dezshira.com/updates/2019/08/presentation-hr-audit-compliance-risk-hiring.html') HR Audit, Compliance and Risk Avoidance During Hiring
                    .relatedNews.mt-4
                        img(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Allan-Xu-explained-on-payroll-regulations-in-Shanghai.jpg?fit=266%2C200&ssl=1', alt='', scale='0')
                        .newsTitle
                            a(href='https://www.dezshira.com/updates/2019/08/hr-payroll-service-in-china.html') New Practices of Compensation Incentives and Legal Interpretation       
            // /col
            // /row
        // /container

     

    section.pb-5
        .container
            .row
                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    h4.section-title latest news
                    ul.list-unstyled.list
                        li
                            .articleThumbnail
                                 a(href='https://www.dezshira.com/updates/2019/08/workshop-fdi-china-new-south-wales-graduates-shanghai.html')
                                    img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Shanghai-team-with-gradutes-from-the-University-of-New-South-Wales-Australia.jpg?fit=300%2C225&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 30, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/workshop-fdi-china-new-south-wales-graduates-shanghai.html') Workshop on FDI in China for Graduates from New South Wales, Australia
                                p
                                    | On August 16th, 2019,&nbsp;our Shanghai team held a workshop for graduates from the University of New South Wales, Australia. Our&nbsp;Director of International Tax and Transfer Pricing, Paul Dwyer, Deputy Regional Manager of International Business Advisory (IBA), Riccardo Benussi, and Senior&nbsp;Business Advisory Associate, Lorena Miera, presented on the topic of &ldquo;FDI environment and overview of financial [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/presentation-hr-audit-compliance-risk-hiring.html')
                                    img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Ellen-Yin-and-Allan-Xu-addresses-welcome-note-to-audience.jpg?fit=300%2C225&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 23, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/presentation-hr-audit-compliance-risk-hiring.html') HR Audit, Compliance and Risk Avoidance During Hiring
                                p
                                    | On 21st August 2019,&nbsp;our&nbsp;HR experts delivered a speech on HR audit and potential risks&nbsp;during hiring to members of the British Chamber of Commerce Shanghai&lsquo;s HR focus group. HR Audit Our&nbsp;Human Resources Assistant Manager, Ellen Yin and our Business Advisory Services Manager,&nbsp;Allan Xu, shared in-depth knowledge and real experiences during the presentation. Ellen&nbsp;recapped the&nbsp;significance of a [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/hr-payroll-service-in-china.html')
                                    img(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Allan-Xu-explained-on-payroll-regulations-in-Shanghai.jpg?fit=300%2C226&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 21, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/hr-payroll-service-in-china.html') New Practices of Compensation Incentives and Legal Interpretation
                                p
                                    | On August 7, 2019, Allan Xu, our manager of Business Advisory Services, made a speech at Sinoval Consulting&rsquo;s new HR &amp; payroll book launch in Shanghai. A collaborative workshop, the event focused on how to motivate talent&nbsp;through&nbsp;incentives and create efficiencies&nbsp;in human capital. Allan shared methodologies and case studies around compensation, performance and motivation, to aid [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/impact-india-union-budget-2019-foreign-companies.html')
                                    img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/India-Briefing-Indias-Top-Investment-Destinations.jpg?fit=300%2C169&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 19, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/impact-india-union-budget-2019-foreign-companies.html') What is the Impact of India&rsquo;s Union Budget 2019 on Foreign Companies?
                                p
                                    | In July 2019, our India Managing Director, Rohit Kapur, hosted a webinar to discuss key announcements in India&rsquo;s budget and their impact on foreign companies. The webinar was well received, drawing in an international audience and covering a wide range of topics useful for foreign companies. India&rsquo;s Union Budget 2019 A number of initiatives and [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/marco-forster-discusses-doing-business-in-china-business.html')
                                    img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Marco-Förster-sharing-on-FDI-in-China.jpg?fit=300%2C200&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 6, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/marco-forster-discusses-doing-business-in-china-business.html') Marco F&ouml;rster Introduces Doing Business in China at ecb Business Breakfast
                                p
                                    | On July 17 2019, International Business Advisory Associate,&nbsp;Marco F&ouml;rster, presented on the topic of &lsquo;Doing Business in China: An Introduction to the Economic, Political, Legal and Cultural Characteristics&rsquo; at the ecb Business Breakfast in Germany. The Chinese Economy The Chinese economy has experienced a remarkable growth in the last few decades that has transformed the [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/christopher-liptau-establishing-career-doing-business-china.html')
                                    img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/08/Christopher-giving-a-speech-to-a-group-of-InternChina-students.jpg?fit=300%2C169&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 5, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/christopher-liptau-establishing-career-doing-business-china.html') Christopher Liptau on Establishing a Career and Doing Business in China
                                p
                                    | On Friday July 19, 2019, Christopher Liptau, Assistant Manager of our International Business Advisory team, spoke with a group of international students about establishing a career in China. Hosted by InternChina, this event gathered students together from across the world who were interested in finding internships and building their careers in China. During his time [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/08/doing-business-china-opportunities-challenges-workshop.html')
                                    img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/07/Lorena-and-Jiao-Tong-University-students.jpg?fit=300%2C225&ssl=1', scale='0')
                            .hideOverflow
                                span.date August 2, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/08/doing-business-china-opportunities-challenges-workshop.html') Workshop with Students from Shanghai Jiao Tong University
                                p
                                    | On July 17 2019, Dezan Shira and Associates welcomed graduates from Shanghai Jiao Tong University to our new conference area for a workshop on Doing Business in China. Our Senior Associate for International Business Advisory, Lorena Miera, presented on the topic of &ldquo;Doing Business in China: Opportunities and Challenges&rdquo;. Lorena analyzed China&rsquo;s foreign direct investment [&mldr;]
                                .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/07/spotlight-lorena-miera-ruiz-head-spanish-desk.html')
                                    img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/07/Lorena-Miera-Ruiz.jpg?fit=299%2C299&ssl=1', scale='0')
                            .hideOverflow
                                span.date July 25, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/07/spotlight-lorena-miera-ruiz-head-spanish-desk.html') Spotlight with Lorena Miera Ruiz, Head of the Spanish Desk
                                p
                                    | We sit down with Lorena Miera Ruiz, Senior Associate on our International Business Advisory team and Head of the Spanish Desk, as she introduces us to what the Spanish Desk is and how it helps Spanish and Latin American companies operate and succeed in the Asian market. What is Dezan Shira&rsquo;s Spanish Desk and what [&mldr;]
                            .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/07/kyle-freeman-on-the-trade-war-at-itagcs-seminar-series.html')
                                    img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/07/China-Briefing-The-US-China-Trade-War-A-Timeline2.jpg?fit=300%2C169&ssl=1', scale='0')
                            .hideOverflow
                                span.date July 17, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/07/kyle-freeman-on-the-trade-war-at-itagcs-seminar-series.html') Kyle Freeman on the Trade War at ITAGC&rsquo;s Seminar Series
                                p
                                    | On July 9th, 2019, International Business Advisory Manager, Kyle Freeman, spoke to an audience of ITAGC members and clients about the Trade War. In US-China Trade War: Where We are and What You Can Do, Kyle provided an on-the-ground perspective for American companies operating in China. He gave an overview of the tariffs and their [&mldr;]
                            .clearfix
                        li
                            .articleThumbnail
                                a(href='https://www.dezshira.com/updates/2019/07/vat-client-seminar-hosted-at-beijing-office.html')
                                    img(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/07/Edith-covering-rates-changes-under-the-reform.jpg?fit=300%2C225&ssl=1', scale='0')
                            .hideOverflow
                                span.date July 8, 2019
                                h4.mt-1
                                    a(href='https://www.dezshira.com/updates/2019/07/vat-client-seminar-hosted-at-beijing-office.html') China&rsquo;s VAT Reform &ndash; Client Seminar Hosted at Beijing Office
                                p
                                    | On 28 June, 2019, our Beijing office held a client seminar on China&rsquo;s VAT reform. Hosted by Hannah Feng, Partner, and Edith Jia, Corporate Accounting Services Assistant Manager, this seminar provided clients with an overview of China&rsquo;s recent reform, explaining its contents and applications. During the seminar, Hannah and Edith shared their insights on the [&mldr;]
                            .clearfix
                    .page
                        span Showing 10 of 829 articles
                        nav.navigation.pagination(role='navigation')
                            .nav-links
                                span.page-numbers.current 1
                                a.page-numbers(href='https://www.dezshira.com/updates/page/2') 2
                                a.page-numbers(href='https://www.dezshira.com/updates/page/3') 3
                                a.page-numbers(href='https://www.dezshira.com/updates/page/4') 4
                                span.page-numbers.dots &mldr;
                                a.page-numbers(href='https://www.dezshira.com/updates/page/83') 83
                                a.next.page-numbers(href='https://www.dezshira.com/updates/page/2') Next


                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    .rightBlockSection
                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600', href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                        a(name='mini_contact_form')

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', data-prefix='far', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z')
                                        // <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        svg.svg-inline--fa.fa-lock.fa-w-14(aria-hidden='true', data-prefix='fas', data-icon='lock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z')
                                        // <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        svg.svg-inline--fa.fa-cloud-download-alt.fa-w-20(aria-hidden='true', data-prefix='fas', data-icon='cloud-download-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 640 512', data-fa-i2svg='')
                                            path(fill='currentColor', d='M640 352c0 70.692-57.308 128-128 128H144C64.471 480 0 415.529 0 336c0-62.773 40.171-116.155 96.204-135.867A163.68 163.68 0 0 1 96 192c0-88.366 71.634-160 160-160 59.288 0 111.042 32.248 138.684 80.159C409.935 101.954 428.271 96 448 96c53.019 0 96 42.981 96 96 0 12.184-2.275 23.836-6.415 34.56C596.017 238.414 640 290.07 640 352zm-246.627-64H328V176c0-8.837-7.164-16-16-16h-48c-8.836 0-16 7.163-16 16v112h-65.373c-14.254 0-21.393 17.234-11.314 27.314l105.373 105.373c6.248 6.248 16.379 6.248 22.627 0l105.373-105.373c10.08-10.08 2.941-27.314-11.313-27.314z')
                                        // <i class="fas fa-cloud-download-alt"></i>


    // End modal