extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Global Locations
                        h4 We provide on-the-ground support from over 25 offices located across China, ASEAN, and India as well as Europe and North America.


    section#global_locations.pb-7.pt-7
        .container
          .row
            .col-sm-5.col-md-5.col-lg-3
              .leftBlockSection
                h4.section-title
                  a(href='#') CHOOSE REGION
                #sidebarnav.block.no-padding
                  ul.collapsible.with_landing
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/china')
                        i.sprite.sprite-retina.icon-chinaMap
                        |  China 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/china/beijing.html') Beijing
                        li
                          a(href='https://www.dezshira.com/office/china/dalian.html') Dalian
                        li
                          a(href='https://www.dezshira.com/office/china/dongguan.html') Dongguan
                        li
                          a(href='https://www.dezshira.com/office/china/guangzhou.html') Guangzhou
                        li
                          a(href='https://www.dezshira.com/office/china/hangzhou.html') Hangzhou
                        li
                          a(href='https://www.dezshira.com/office/china/ningbo.html') Ningbo
                        li
                          a(href='https://www.dezshira.com/office/china/qingdao.html') Qingdao
                        li
                          a(href='https://www.dezshira.com/office/china/shanghai.html') Shanghai
                        li
                          a(href='https://www.dezshira.com/office/china/shenzhen.html') Shenzhen
                        li
                          a(href='https://www.dezshira.com/office/china/suzhou.html') Suzhou
                        li
                          a(href='https://www.dezshira.com/office/china/tianjin.html') Tianjin
                        li
                          a(href='https://www.dezshira.com/office/china/zhongshan.html') Zhongshan
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/silk-belt-road.html')
                        i.sprite.sprite-retina.icon-slikroadMap
                        |  Belt &amp; Road Initiative
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/hong-kong.html')
                        i.sprite.sprite-retina.icon-hong-kongMap
                        |  Hong Kong
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/india')
                        i.sprite.sprite-retina.icon-indiaMap
                        |  India 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/india/bengaluru.html') Bengaluru 
                        li
                          a(href='https://www.dezshira.com/office/india/delhi.html') Delhi
                        li
                          a(href='https://www.dezshira.com/office/india/mumbai.html') Mumbai
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/indonesia.html')
                        i.sprite.sprite-retina.icon-indonesiaMap
                        |  Indonesia
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/malaysia.html')
                        i.sprite.sprite-retina.icon-malaysiaMap
                        |  Malaysia
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/philippines.html')
                        i.sprite.sprite-retina.icon-philippinesMap
                        |  Philippines
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/russia')
                        i.sprite.sprite-retina.icon-russiaMap
                        |  Russia 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/russia/moscow.html') Moscow Office
                        li
                          a(href='https://www.dezshira.com/office/russia/st-petersburg.html') St.Petersburg Office
                        li
                          a(href='https://www.dezshira.com/office/russia/irkutsk.html') Irkutsk Office
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/singapore.html')
                        i.sprite.sprite-retina.icon-singaporeMap
                        |  Singapore
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/thailand.html')
                        i.sprite.sprite-retina.icon-thailandMap
                        |  Thailand
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/vietnam')
                        i.sprite.sprite-retina.icon-vietnamMap
                        |  Vietnam 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/vietnam/da-nang.html') Danang
                        li
                          a(href='https://www.dezshira.com/office/vietnam/hanoi.html') Hanoi
                        li
                          a(href='https://www.dezshira.com/office/vietnam/ho-chi-minh-city.html') Ho Chi Minh City
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/italy')
                        i.sprite.sprite-retina.icon-italyMap
                        |  Italian Liaison Offices 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/italy/conegliano.html') Conegliano Office
                        li
                          a(href='https://www.dezshira.com/office/italy/eurolink-udine.html') Udine Office
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/germany')
                        i.sprite.sprite-retina.icon-germanMap
                        |  German Liaison Offices 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/germany/essen.html') Essen
                        li
                          a(href='https://www.dezshira.com/office/germany/cologne.html') Cologne
                        li
                          a(href='https://www.dezshira.com/office/germany/stuttgart.html') Stuttgart
                    li.level1
                      a.main-menu(href='https://www.dezshira.com/office/usa')
                        i.sprite.sprite-retina.icon-usaMap
                        |  USA Liaison Offices 
                        i.fa.fa-angle-down(aria-hidden='true')
                      ul
                        li
                          a(href='https://www.dezshira.com/office/usa/boston.html') Boston Office
                        li
                          a(href='https://www.dezshira.com/office/usa/san-diego.html') San Diego Office
                        li
                          a(href='https://www.dezshira.com/office/usa/salt-lake-city.html') Salt Lake City Office
            .col-sm-7.col-md-7.col-lg-9
              h4.section-title
                a(href='#') Locations
              script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.js')
              link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.css', rel='stylesheet')
              .map
                #map.regionals-map-engine
              script.
                mapboxgl.accessToken = 'pk.eyJ1Ijoia3N1YmJhIiwiYSI6ImNqdHM4ZzZhazBtbDQ0ZnFuMmdzeWF0MGgifQ.vMXskzpsEGnPdfLjc0sdiw'; //ksubba
                var geojson = {
                "type": "FeatureCollection",
                "features": [
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [116.44300, 39.90610]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/beijing.html" target="_parent">Beijing, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/beijing/thumb.jpg" width="84" height="84">',
                "description": 'Suite EF06, East Tower, Twin Towers<br />B-12, Jian Guo Men Wai Avenue<br />Beijing, China<br />100022'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [121.54016, 38.88699]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/dalian.html" target="_parent">Dalian, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/dalian/thumb.jpg" width="84" height="84">',
                "description": 'Room 501D, Building 12, Dalian Software Park<br />21 Ruan Jian Yuan East Road, <br />Dalian 116023, P.R.China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [113.31733, 23.15225]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/guangzhou.html" target="_parent">Guangzhou, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/guangzhou/thumb.jpg" width="84" height="84">',
                "description": 'Suite 1005, 10/F, Tower B, Center Plaza<br />161 Linhexi Road, Tianhe District<br />Guangzhou 510620, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [120.17346, 30.25003]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/hangzhou.html" target="_parent">Hangzhou, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/hangzhou/thumb.jpg" width="84" height="84">',
                "description": 'Floor 15, West Lake International Trade Plaza<br />1 West Lake Avenue<br />Shangcheng District, Hangzhou<br />Zhejiang Province<br />China<br />310009'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [121.56451, 29.86647]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/ningbo.html" target="_parent">Ningbo, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/ningbo/thumb.jpg" width="84" height="84">',
                "description": 'Room 1105, Building A, Crown World Trade Plaza<br />11 Caihong South Road<br />Ningbo 315040, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [120.39423, 36.07080]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/qingdao.html" target="_parent">Qingdao, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/qingdao/thumb.jpg" width="84" height="84">',
                "description": 'Room 410<br />No. 172 Minjiang Road<br />Software Building<br />Shinan District, Qingdao<br />Shandong Province<br />China 266071'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [121.46508, 31.23376]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/shanghai.html" target="_parent">Shanghai, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/shanghai/thumb.jpg" width="84" height="84">',
                "description": 'Suite 1803-1805, Tian An Centre<br />338 Nanjing Xi Lu, Huangpu District<br />Shanghai 200003, P.R.China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [114.05873, 22.53691]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/shenzhen.html" target="_parent">Shenzhen, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/shenzhen/thumb.jpg" width="84" height="84">',
                "description": 'Unit 2503-2504, 25/F, Modern International Building, 25th Floor<br />3038 Jintian Road, Futian District (CBD)<br />Shenzhen 518033, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [120.64392, 31.32261]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/suzhou.html" target="_parent">Suzhou, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/suzhou/thumb.jpg" width="84" height="84">',
                "description": 'Suite 608, Xing Dong Huan Commerce Building<br />1508 Donghuan Lu<br />Suzhou 215000, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [117.19069, 39.11619]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/tianjin.html" target="_parent">Tianjin, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/tianjin/thumb.jpg" width="84" height="84">',
                "description": 'Unit 20, 29F<br />The Exchange Tower 2<br />189 Nanjing Road<br />Heping District, Tianjin<br />300051, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [113.37924, 22.51371]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/zhongshan.html" target="_parent">Zhongshan, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/zhongshan/thumb.jpg" width="84" height="84">',
                "description": 'Room 921, West Building<br />Yihua Commercial Center Zhongshan San Road<br />Zhongshan 528400, P.R. China'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [77.25183, 28.55028]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/india/delhi.html" target="_parent">Delhi, India</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/delhi/thumb.jpg" width="84" height="84">',
                "description": 'Unit No. 902, 9th Floor, Eros Corporate Tower, Nehru Place<br />New Delhi 110019, India'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [72.86594, 19.11294]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/india/mumbai.html" target="_parent">Mumbai, India</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/mumbai/thumb.jpg" width="84" height="84">',
                "description": 'Office No.212, 2nd Floor, ’A’ Wing, Dynasty Business Park, Andheri Kurla Road, Andheri (East) <br />Mumbai 400059, India'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [114.17918, 22.30004]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/hong kong/hong-kong.html" target="_parent">Hong Kong, Hong Kong</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/hong kong/thumb.jpg" width="84" height="84">',
                "description": 'Unit 507, 5/F, Chinachem Golden Plaza<br />77 Mody Road<br />Tsim Sha Tsui East<br />Kowloon<br />Hong Kong'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [12.31613, 45.88867]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/italy/conegliano.html" target="_parent">Conegliano, Italy</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/placeholder.jpg" width="84" height="84">',
                "description": 'Via Maggior Piovesana, 146/D <br />31015 - Conegliano (TV)'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [103.84805, 1.27805]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/singapore/singapore.html" target="_parent">Singapore, Singapore</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/singapore/thumb.jpg" width="84" height="84">',
                "description": 'SBF Center<br />160 Robinson Road<br />#25-06<br />Singapore 068914'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [-71.05865, 42.35353]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/usa/boston.html" target="_parent">Boston, USA</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/boston/thumb.jpg" width="84" height="84">',
                "description": '99 Summer Street, Suite 520<br />Boston, MA 02210<br />United States'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [105.84185, 21.02387]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/vietnam/hanoi.html" target="_parent">Hanoi, Vietnam</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/hanoi/thumb.jpg" width="84" height="84">',
                "description": 'Room 901, 9th Floor, TNR Hoan Kiem Tower<br />115 Tran Hung Dao Str, Hoan Kiem District<br />Hanoi, Vietnam'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [106.68547, 10.78798]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/vietnam/ho-chi-minh-city.html" target="_parent">Ho Chi Minh City, Vietnam</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/ho chi minh city/thumb.jpg" width="84" height="84">',
                "description": '5th Floor, Anh Dang Building<br />215 Nam Ky Khoi Nghia street, District 3<br />Ho Chi Minh City, Vietnam'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [101.68059, 3.18913]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/malaysia/malaysia.html" target="_parent">Kuala Lumpur, Malaysia</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/kuala lumpur/thumb.jpg" width="84" height="84">',
                "description": 'Christopher Heng & Peng Sam<br />8th Floor, Kompleks Mutiara, Jalan Sultan Azlan Shan<br />(Previously known as 3 ½ Mile Jalan Ipoh)<br />51200 Kuala Lumpur<br />Malaysia'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [100.56205, 13.73696]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/thailand/thailand.html" target="_parent">Bangkok, Thailand</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/bangkok/thumb.jpg" width="84" height="84">',
                "description": 'JNP Legal Co., Ltd.<br />Unit 1, 23rd Floor, Interchange 21 Building<br />North-Klongtoey, Wattana<br />Bangkok, 10110<br />Thailand'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [121.01717, 14.56039]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/the philippines/philippines.html" target="_parent">Manila, The Philippines</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/manila/thumb.jpg" width="84" height="84">',
                "description": 'The Machica Group<br />Unit 1101 Cityland 10 Tower 1<br />156 H.V. dela Costa Street<br />Ayala North<br />Makati City<br />Manila, 1209<br />The Philippines'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [106.79928, -6.20274]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/indonesia/indonesia.html" target="_parent">Jakarta, Indonesia</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/jakarta/thumb.jpg" width="84" height="84">',
                "description": '<!--<br />Dezan Shira Asian Alliance Member in Indonesia<br />Indonesia Global Law Firm<br />GP Plaza 3rd Floor<br />Jl. Gelora II No. 1, Gelora-Tanah Abang<br />Jakarta Pusat 10720<br />Indonesia<br />-->'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [9.155210000000011, 48.72389]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/germany/stuttgart.html" target="_parent">Stuttgart, Germany</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/stuttgart/thumb.jpg" width="84" height="84">',
                "description": 'Verbindungsbüro Stuttgart<br />Berners Consulting GmbH<br />Plieninger Straße 58<br />70567 Stuttgart'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [6.882090000000062, 50.93833]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/germany/cologne.html" target="_parent">Cologne, Germany</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/cologne/thumb.jpg" width="84" height="84">',
                "description": 'Verbindungsbüro Köln<br />Korts Rechtsanwaltsgesellschaft mbH<br />Alter Militärring 10<br />50933 Köln'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [13.238382799999954, 46.0568727]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/italy/eurolink-udine.html" target="_parent">Udine, Italy</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/udine/thumb.jpg" width="84" height="84">',
                "description": 'Via C. Percoto No. 11<br />33100<br />Udine<br />Italy'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [7.01842, 51.44555]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/germany/essen.html" target="_parent">Essen, Germany</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/essen/thumb.jpg" width="84" height="84">',
                "description": 'Verbindungsbüro Essen<br />ETL International AG<br />Steuerberatungsgesellschaft<br />Kronprinzenstraße 10<br />45128 Essen'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [113.75313, 23.04340]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/china/dongguan.html" target="_parent">Dongguan, China</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/dongguan/thumb.jpg" width="84" height="84">',
                "description": 'Room C25, 11/F, Minjian Financial Building,<br />111 Guantai Road<br />Nancheng District Dongguan<br />Guangdong Province China 523070'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [37.61828, 55.75619]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/russia/moscow.html" target="_parent">Moscow, Russia</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/moscow/thumb.jpg" width="84" height="84">',
                "description": '2 bld.6, Andreevskaya naberezhnaya, Moscow'
                }
                },
                {
                "type": "Feature",
                "geometry": {
                "type": "Point",
                "coordinates": [-111.896825, 40.7628816]
                },
                "properties": {
                "title": '<a href="//www.dezshira.com/office/usa/salt-lake-city.html" target="_parent">Salt Lake City, USA</a><img alt="" src="//www.dezshira.com/userfiles/staticpage-assets/office/salt lake city/thumb.jpg" width="84" height="84">',
                "description": '50 West Broadway, 3rd Floor<br />Salt Lake City, UT 84111<br />United States'
                }
                },
                ]
                };
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [20, 35],
                zoom: 1});
                //map.setLayoutProperty('country-label-lg', 'text-field', ['get', 'name_en']);
                map.addControl(new mapboxgl.NavigationControl());
                // add markers to map
                geojson.features.forEach(function(marker) {
                // create a HTML element for each feature
                var el = document.createElement('div');
                el.className = 'marker';
                // make a marker for each feature and add it to the map
                new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({offset: 25}) // add popups
                .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
                .addTo(map);
                });
            // /col
          // /row
        // /container


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal