extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Beijing Office


    section#global_locations.pb-7.pt-7
        .container
          .row
            .col-sm-8.col-md-8.col-lg-8
              h4.section-title.mb-2
                | Contact information
              .row
                .col-sm-4.col-md-4.col-lg-4
                  .officeBuilding
                    img.img-responsive(src='https://www.dezshira.com/themes/dsa/images/offices/detail/Beijing.jpg', alt='')
                .col-sm-8.col-md-8.col-lg-8.paddingLeftNone
                  .office_contact-info
                    ul.list-unstyled.list
                      li
                        address
                          p
                            strong
                              | Dezan Shira &amp; Associates Beijing
                              br
                            | Suite EF06, East Tower, Twin Towers, B-12, Jian Guo Men Wai Avenue
                            br
                            |                   Chaoyang District
                            br
                            |                   Beijing
                            br
                            |                   China
                            br
                            |                   100022
                            // more
                            br
                            br
                            strong &#x534F;&#x529B;&#x7BA1;&#x7406;&#x54A8;&#x8BE2;&#xFF08;&#x6DF1;&#x5733;&#xFF09;&#x6709;&#x9650;&#x516C;&#x53F8; &#x5317;&#x4EAC;&#x529E;&#x516C;&#x5BA4;
                            br
                            |                   &#x4E2D;&#x56FD;&#x5317;&#x4EAC;&#x5E02;&#x671D;&#x9633;&#x533A;&#x5EFA;&#x56FD;&#x95E8;&#x5916;&#x5927;&#x8857;&#x4E59;12&#x53F7;&#x53CC;&#x5B50;&#x5EA7;&#x5927;&#x53A6;&#x4E1C;&#x5854;EF06&#x5BA4;
                            br
                            |                   &#x90AE;&#x7F16;: 100022
                      li
                        .table-responsive
                          table
                            tbody
                              tr
                                td(width='30%')
                                  span
                                    strong Tel
                                td +86 (0)10 6566 0088
                              tr
                                td(width='30%')
                                  span
                                    strong Fax
                                td +86 (0)10 6566 0288
                              tr
                                td(width='30%')
                                  span
                                    strong Email
                                td
                                  a(href='mailto:beijing@dezshira.com') beijing@dezshira.com
                      li
                        h4.pb-1 Regional contact person
                        img.img-circle.img-thumbnail.pull-left.mr-2(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Sabrina-200x200_awb8i4csv81c.jpg', alt='', width='80', height='80')
                        .social.pull-right
                          a.ml-1(href='//www.dezshira.com/contact')
                            i.fa.fa-envelope
                        .name
                          a(href='//www.dezshira.com/personnel/sabrina-zhang.html') Sabrina Zhang
                        .duration  Partner 
                        .clearfix
                      li
                        a.btn-link.text-uppercase(href='//www.dezshira.com/personnel/tag/china-beijing') see more experts &gt;
            .col-sm-4.col-md-4.col-lg-4
              .rightBlockSection
                h4.section-title.mb-2
                  | MAP
                .officeMap
                  iframe(src='//www.dezshira.com/office/map?id=1', width='100%', height='500px', frameborder='0')
                  p.text-center
                    a.btn.btn-outline-dark.text-uppercase.mb-2(href='//www.dezshira.com/userfiles/staticpage-assets/office/beijing/beijing-map.pdf', target='_blank')
                      i.far.fa-arrow-alt-circle-down
                      |  Download Map

            // /col
          // /row
        // /container

    section.TopBanner.bottom-banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/Briefings-Ads-SRB.jpg')
        .BannerCaption
            .container
                .row
                  .col-sm-2.col-md-2.col-lg-2.col-sm-offset-2.col-md-offset-2.col-lg-offset-2.text-right
                    a(href='http://www.china-briefing.com/', target='_blank')
                      img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/cbLogoS.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-2x.png 2x', width='85', height='85')
                  .col-sm-6.col-md-6.col-lg-6
                    h4.text-uppercase
                      strong
                        a(href='http://www.china-briefing.com/', target='_blank') China
                    h2 
                      strong 
                        a(href='http://www.china-briefing.com/', target='_blank') Visit our China business and investment website: www.china-briefing.com 

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal