extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Our Global Partners
                        h4 We partner with organisations across the world to give us a truly global presence. Discover each of our regions’ key partners below.


    section.pb-7.pt-7
        .container
            .row
                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    h4.section-title CHOOSE REGION
                    #sidebarnav.block.no-padding
                        ul.collapsible
                            li.level2.active
                                a.main-menu(href='https://www.dezshira.com/partnerships/global')
                                    i.sprite.sprite-retina.icon-globalMap
                                    |  Global
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/china')
                                    i.sprite.sprite-retina.icon-chinaMap
                                    |  China
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/india')
                                    i.sprite.sprite-retina.icon-indiaMap
                                    |  India
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/hong kong')
                                    i.sprite.sprite-retina.icon-hong-kongMap
                                    |  Hong Kong
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/singapore')
                                    i.sprite.sprite-retina.icon-singaporeMap
                                    |  Singapore
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/vietnam')
                                    i.sprite.sprite-retina.icon-vietnamMap
                                    |  Vietnam
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/germany')
                                    i.sprite.sprite-retina.icon-germanMap
                                    |  Germany
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/italy')
                                    i.sprite.sprite-retina.icon-italyMap
                                    |  Italy
                            li.level2
                                a.main-menu(href='https://www.dezshira.com/partnerships/usa')
                                    i.sprite.sprite-retina.icon-usaMap
                                    |  North America

                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    h4.section-title.border-bottom-0 Our Global Partners
                    #quick_search
                        .input-group.col-md-12
                            span.input-group-btn
                                button.btn.btn-info.btn-lg(type='button')
                                     i.fa.fa-search
                            input.form-control.search(type='text', placeholder='Search...')
                    ul.list-unstyled.list
                        li
                            a(href='http://www.etl.de/en/company-profile', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/jucs6qkcslcwc0s4ks.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://www.etl.de/en/company-profile', target='_blank') ETL Global
                                p
                                    | ETL is a professional services firm headquartered in Germany, with a strong SME focus. Founded in 1968, the ETL-Group now has over 870 offices in Germany. ETL is the German market leader in tax consultancy, and among the top 5 auditing and tax consultancy firms in Germany. ETL Global is a worldwide interdisciplinary network of professionals and the international business platform for ETL. Through ETL Global, ETL is represented in over 50 countries worldwide.
                            .clearfix
                        li
                            a(href='https://www.irglobal.com/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/m988lv3e9pw80cko.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='https://www.irglobal.com/', target='_blank') IR Global
                                p
                                    | IR Global is multi-disciplinary professional services network that provides advice to companies and individuals across 155+ jurisdictions.The group&apos;s founding philosophy was based on bringing the best of the advisory community into a sharing economy; a system which is ethical, sustainable and provides significant added value to the client.
                            .clearfix
                        li
                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_09.54.41.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://www.leadingedgealliance.com/', target='_blank') The Leading Edge Alliance (LEA)
                                p
                                    | The Leading Edge Alliance is an alliance of major independently owned accounting and consulting firms that share an entrepreneurial spirit and a drive to be the premier providers of professional services in their chosen markets.
                            .clearfix
                        li
                            a(href='http://www.cci-paris-idf.fr/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/ficluw0gsu800cs4sk.jpg', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://www.cci-paris-idf.fr/', target='_blank') CCI Paris Ile-de-France
                                p
                                    | The CCI Paris Ile-de-France is a French chamber of commerce that supports businesses in Paris and the Ile-de-France.  Created in 2013 it is a merger of several smaller chambers of commerce.
                            .clearfix
                        li
                            a(href='http://eu-asean.eu/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/3x5byghqqvi800kwgg.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://eu-asean.eu/', target='_blank') EU-ASEAN Business Council
                                p
                                    | The EU-ASEAN Business Council is the primary voice for European business within the ASEAN region. It is endorsed by the European Commission and recognised by the ASEAN Secretariat. The Council has been established to promote the interests of European businesses operating within ASEAN and to advocate for changes in policies and regulations to foster trade and investment between Europe and ASEAN.
                            .clearfix
                        li
                            a(href='https://www.excelia.com/en/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/yq7xka2istwcsooo48.jpg', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='https://www.excelia.com/en/', target='_blank') Excelia
                                p
                                    | Excelia is an international Consulting Firm that provides a wide range of Professional BPO Services and Digital Transformation solutions to help their clients reach sustainable and continuous business excellence. Besides their Headquarters in Madrid, Spain,  Excelia has its own offices in M&eacute;xico, Colombia, Peru, Chile, Panam&aacute; and Argentina. With more than 20 years of experience, Exelia has been able to offer solutions in more than 30 countries in mainly two continents, Europe and America. These services are rendered through their own offices or a selected partner network that has been created throughout the years.
                            .clearfix
                        li
                            a(href='http://ihoyeonacc.com/front/intro.html', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/28h2qtcqyvy8wg4ck0.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://ihoyeonacc.com/front/intro.html', target='_blank') Ho Yeon Accounting Corporation
                                p
                                    | Hoyeon is an accounting firm in Korea providing accounting, tax, and advisory services to various international and Korean local clients.  Hoyeon has a very strong sense of obligation to deliver quality and excellent services to its clients; being more specific, all members in Hoyeon have a wealth of experience working either at BIG Four firms (PwC, KPMG, and EY) or at the National Tax Services before joining Hoyeon.  Hoyeon&rsquo;s offices are located in Seoul and Busan
                            .clearfix
                        li
                            a(href='', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/qanmgnx9xuogc0kgw.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='', target='_blank') HSBC Bank
                                p
                                    | HSBC, one of the world&rsquo;s largest banking and financial services organizations, has been connecting Americans to global opportunities since 1865. It serves customers from offices and branches in cities across the United States including New York, Los Angeles, Chicago, Atlanta, Houston, Seattle, Miami, San Francisco, and Washington, DC.
                            .clearfix
                        li
                            a(href='https://www.primexis.eu/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/r7oj27gmfj4g8o0os.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='https://www.primexis.eu/', target='_blank') Primexis
                                p
                                    | With a 300-strong team of employees, Primexis is a specialist accounting and operational consulting firm. Created in the 1980&rsquo;s, the firm has committed itself to developing a range of services for accounting and finance departments, HR departments and IT departments within the context of finance projects. We work with major French groups as well as French subsidiaries of foreign groups and mid-sized companies who rely on Primexis for their recognized expertise in numerous functions.
                            .clearfix
                        li
                            a(href='http://www.regus.com/', target='_blank')
                                img.img-responsive.pull-left(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_10.00.12.png', scale='0', style='max-width:120px;min-width:120px;')
                            .listRightContent
                                h3
                                    a.name(href='http://www.regus.com/', target='_blank') Regus
                                p
                                    | With 1000 business centers in 75 countries, Regus plc is the world&apos;s largest provider of outsourced workplaces for companies of any size.
                            .clearfix

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal