extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content


    section.pb-5.pt-5
        .container
            .row
                .col-sm-4.col-md-4.col-lg-4.col-lg-4
                    h4.section-title CHOOSE REGION
                    #sidebarnav.block.no-padding
                        ul.collapsible
                            li.level2.active
                                a.main-menu(href='https://www.dezshira.com/personnel/location/china')
                                    i.sprite.sprite-retina.icon-chinaMap
                                    |  China 
                                    i.fas.fa-angle-down
                                    span.sprit.dropdown
                                ul(style='display: none;')
                                    li.level3.active
                                        a(href='https://www.dezshira.com/personnel/tag/china-beijing') Beijing
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-dalian') Dalian
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-dongguan') Dongguan
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-guangzhou') Guangzhou
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-hangzhou') Hangzhou
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-ningbo') Ningbo
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-qingdao') Qingdao
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-shanghai') Shanghai
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-shenzhen') Shenzhen
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-suzhou') Suzhou
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-tianjin') Tianjin
                                    li.level3
                                        a(href='https://www.dezshira.com/personnel/tag/china-zhongshan') Zhongshan
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/location/india')
                                        i.sprite.sprite-retina.icon-indiaMap
                                        |  India 
                                        i.fas.fa-angle-down
                                        span.sprit.dropdown
                                    ul(style='display: none;')
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/india-bangalore') Bengaluru
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/india-delhi') Delhi
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/india-mumbai') Mumbai
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/location/vietnam')
                                        i.sprite.sprite-retina.icon-vietnamMap
                                        |  Vietnam 
                                        i.fas.fa-angle-down
                                        span.sprit.dropdown
                                    ul(style='display: none;')
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/') Danang
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/vietnam-hanoi') Hanoi
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/vietnam-ho-chi-minh-city') Ho Chi Minh City
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/singapore')
                                        i.sprite.sprite-retina.icon-singaporeMap
                                        |  Singapore
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/hong-kong')
                                        i.sprite.sprite-retina.icon-hong-kongMap
                                        |  Hong Kong
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/indonesia')
                                        i.sprite.sprite-retina.icon-indonesiaMap
                                        |  Indonesia
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/italy')
                                        i.sprite.sprite-retina.icon-italyMap
                                        |  Italian Liaison Office 
                                        i.fas.fa-angle-down
                                        span.sprit.dropdown
                                    ul(style='display: none;')
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/italy-conegliano') Conegliano
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/italy-udine') Udine
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/usa')
                                        i.sprite.sprite-retina.icon-usaMap
                                        |  USA Liaison Office 
                                        i.fas.fa-angle-down
                                        span.sprit.dropdown
                                    ul(style='display: none;')
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/usa') Boston
                                        li.level3
                                            a(href='https://www.dezshira.com/personnel/tag/usa') Salt Lake City
                                li.level2
                                    a.main-menu(href='https://www.dezshira.com/personnel/tag/german')
                                        i.sprite.sprite-retina.icon-germanMap
                                        |  Germany Liaison Office
                                li.level1
                                    a.main-menu(href='#')
                                        i.sprite.sprite-retina.icon-asian-allianceMap
                                        | Asian Alliance Members 
                                        i.fas.fa-angle-down
                                        span.sprit.dropdown
                                    ul(style='display: none;')
                                        li.level2
                                            a(href='http://www.dezshira.com/personnel/tag/malaysia') Malaysia
                                        li.level2
                                            a(href='http://www.dezshira.com/personnel/tag/philippines') Philippines
                                        li.level2
                                            a(href='http://www.dezshira.com/personnel/tag/thailand') Thailand

                .col-sm-8.col-md-8.col-lg-8.col-xl-8
                    h4.section-title Contact Personnel in China – Beijing
                    ul.list-unstyled.list
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Sabrina-200x200_awb8i4csv81c.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                                a.ml-2(href='http://cn.linkedin.com/pub/sabrina-zhang/35/7a2/595', target='_blank')
                                    i.fab.fa-linkedin-in
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/sabrina-zhang.html') Sabrina Zhang 
                            .dec
                                | Partner
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Hannah_Feng200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/hannah-feng.html') Hannah Feng 
                            .dec
                                | Partner
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/David_Niu.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/david-niu.html') David Niu 
                            .dec
                                | Senior Manager, Human Resources
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/tammy-tian.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                                a.ml-2(href='https://www.linkedin.com/profile/view?id', target='_blank')
                                    i.fab.fa-linkedin-in
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/tammy-tian.html') Tammy Tian 
                            .dec
                                | Senior Manager, Corporate Accounting Services
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Kyle_Freeman_200x200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                                a.ml-2(href='https://cn.linkedin.com/pub/kyle-freeman/27/aba/77', target='_blank')
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/kyle-freeman.html') Kyle Freeman 
                            .dec
                                | Manager, International Business Advisory
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Fanny_Zhang.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/fanny-zhang.html') Fanny Zhang 
                            .dec
                                | Manager, Business Advisory Services
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Vivian_Geng200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/vivian-geng.html') Vivian Geng 
                            .dec
                                | Assistant Manager, Corporate Accounting Services
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Edith_Jia_-_Personnel_Profile.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/edith-jia.html') Edith Jia 
                            .dec
                                | Assistant Manager, Corporate Accounting Services
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Lisa_Li_-_BJ.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/lisa-li.html') Lisa Li 
                            .dec
                                | Assistant Manager, IT
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Monica_Li200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/monica-li.html') Monica Li 
                            .dec
                                | Assistant Manager, Business Advisory Services
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Ines_200x200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                                a.ml-2(href='https://www.linkedin.com/in/inesliu/', target='_blank')
                                    i.fab.fa-linkedin-in
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/ines-liu.html') Ines Liu 
                            .dec
                                | Assistant Manager, International Business Advisory
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Lucy_Lu200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/lucy-lu.html') Lucy Lu 
                            .dec
                                | Assistant Manager, Business Intelligence
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Angela_Zhang200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/angela-zhang.html') Angela Zhang 
                            .dec
                                | Assistant Manager, Payroll
                                br
                            .clearfix
                        li
                            img.img-circle.img-thumbnail.pull-left.mr-4(alt='', src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Marco200200.jpg', width='120')
                            .social_media.pull-right
                                a(href='https://www.dezshira.com/contact')
                                    i.fa.fa-envelope
                                a.ml-2(href='https://www.linkedin.com/in/mdfoerster/', target='_blank')
                                    i.fab.fa-linkedin-in
                            .name.mt-2
                                a(href='https://www.dezshira.com/personnel/marco-foerster.html') Marco F&ouml;rster 
                            .dec
                                | Associate, International Business Advisory
                                br
                            .clearfix

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal