extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-10.col-lg-10
                        h1.text-left Key Regional Professionals
                        h4 Dezan Shira & Associates employs over 300 professionals, including lawyers, accountants, auditors and business specialists in our offices throughout Asia. Our key Asia Regional personnel are as follows: 

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                       
                        
                        li.active(aria-current='page') Personnel

    section.pt-7.pb-7
        .container
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/china-beijing')
                                .title China
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/china.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                     .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/india-delhi')
                                .title India
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/India.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/vietnam-hanoi')
                                .title Vietnam
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Vietnam.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                     .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/singapore')
                                .title Singapore
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Singapore.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/hong-kong')
                                .title Hong Kong
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/HK.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/indonesia')
                                .title Indonesia
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Jakarta.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                        .locationThumbnail
                            .hoverImage
                                a(href='https://www.dezshira.com/personnel/tag/german')
                                    .title Germany Liaison Office
                                    figure
                                        img(src='https://www.dezshira.com/themes/dsa/images/personnel/Germany.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                        .locationThumbnail
                            .hoverImage
                                 a(href='https://www.dezshira.com/personnel/tag/asean')
                                    .title ASEAN Alliance Members
                                    figure
                                        img(src='https://www.dezshira.com/themes/dsa/images/personnel/asean.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                        a(href='https://www.dezshira.com/personnel/tag/italy')
                            .title Italian Liaison Office
                            figure
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/Italy.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/usa')
                                .title USA Liaison Office
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/USA.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/russia')
                                .title Russia
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/russia.jpg', alt='')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .locationThumbnail
                        .hoverImage
                            a(href='https://www.dezshira.com/personnel/tag/silk-road')
                                .title The New Silk Belt &amp; Road
                                figure
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Silk-Road.jpg', alt='')

    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal