extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.services-banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/services/banner-services.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12.text-center
                        h1 Services
                        h4 Dezan Shira & Associates is a multidisciplinary professional services firm. Local experts at the firm provide services tailored to the unique challenges facing international businesses in Asia.
                        a.btn.btn-secondary.mt-4(href='#mini_contact_form') Contact us for more information
    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                       
                        
                        li.active(aria-current='page') Services

    section.pt-5.pb-5
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    p.mb-5
                        | The services provided by Dezan Shira &amp; Associates incorporate more than two decades of on-the-ground experience in Asia&rsquo;s dynamic business environment. The firm&rsquo;s services help decision makers manage the legal, tax, and operational challenges facing multinational businesses in China, ASEAN, and India.
            .row
                
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-intelligence-solutions.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/business-intelligence-solutions') Business Intelligence
                        a(href='https://www.dezshira.com/services/business-intelligence-solutions')
                            .mask
                                h2 Business Intelligence
                                p
                                    | Business intelligence is a critical component of the decision making process when considering where and how an investment into Asia should be made. Our pan-Asia team can help your business with its strategic direction.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-advisory.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/business-advisory') Corporate Establishment and Structuring
                        a(href='https://www.dezshira.com/services/business-advisory')
                            .mask
                                h2 Corporate Establishment and Structuring
                                p
                                    | The incorporation and structure of your investment define the early stages of your Asia expansion and impact your future success. A well-planned legal structure can help to make the difference.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-legal-financial-due-diligence.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/legal-financial-due-diligence') Due Diligence
                        a(href='https://www.dezshira.com/services/legal-financial-due-diligence')
                            .mask
                                h2 Due Diligence
                                p
                                    | Minimizing risks to realize opportunities is a unique challenge in Asia. Our team integrates local legal and financial expertise to help our clients de-risk their investments.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-accounting-reporting.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/accounting-reporting') Accounting
                        a(href='https://www.dezshira.com/services/accounting-reporting')
                            .mask
                                h2 Accounting
                                p
                                    | International accounting standards are applicable in Asia, but still vary greatly in practice. We provide local expertise on country-specific accounting issues to help you manage your investment.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-payroll-human-resource-administration.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/payroll-human-resource-administration') HR and Payroll
                        a(href='https://www.dezshira.com/services/payroll-human-resource-administration')
                            .mask
                                h2 HR and Payroll
                                p
                                    | Managing personnel in Asia requires a robust approach to local regulations and customs. Our services are designed to help foreign invested companies with compliance and best practices.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-tax.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/tax') Tax
                        a(href='https://www.dezshira.com/services/tax')
                            .mask
                                h2 Tax
                                p
                                    | Tax laws and regulations throughout Asia are continuously being updated and refined. Our team of professionals are accustomed to navigating this fast-paced environment.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-audit-financial-review.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/audit-financial-review') Audit and Risk Advisory
                        a(href='https://www.dezshira.com/services/audit-financial-review')
                            .mask
                                h2 Audit and Risk Advisory
                                p
                                    | Internal and statutory audits are a core concern issue for all businesses. Our regional teams of qualified auditors are accustomed to providing local expertise to an international standard.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-information-technology-solutions.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/information-technology-solutions') Technology
                        a(href='https://www.dezshira.com/services/information-technology-solutions')
                            .mask
                                h2 Technology
                                p
                                    | We understand that Asia&rsquo;s Information Technology (IT) environment is unique and encompasses the need to understand different languages and softwares.Our advisors can help you find solutions that help you improve your business efficiency.
                                .info learn more &gt;
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .viewOnHover.viewOnHover-first
                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-outbound-direct-investment.jpg', alt='')
                        .title
                            a(href='https://www.dezshira.com//services/outbound-direct-investment') Outbound Direct Investment
                        a(href='https://www.dezshira.com/services/outbound-direct-investment')
                            .mask
                                h2 Outbound Direct Investment
                                p
                                    | Dezan Shira &amp; Associates&rsquo; outbound investment team is committed to providing a specialized and comprehensive range of advisory services to Chinese and Asian companies interested in an overseas expansion.
                                .info learn more &gt;


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center.mb-2 Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal