extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.TopBanner.services-banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/services/banner-services.jpg')
        .BannerCaption
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12.text-center
                        h1 Business Intelligence
                        h4 Business intelligence is a critical component of the decision making process when considering where and how an investment into Asia should be made. Our pan-Asia team can help your business with its strategic direction.
                        a.btn.btn-secondary.mt-4(href='#mini_contact_form') Contact us for more information

    section.breadcrumbBlock
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ol.breadcrumb
                        li
                            a(href='#') services
                        li.active(aria-current='page') Business Intelligence

    section.pt-7.pb-7
        .container
          .row
            .col-sm-3.col-md-3.col-lg-3
              .leftBlockSection
                h4.section-title
                  a(href='#') Our services
                #sidebarnav.block.no-padding
                  ul.collapsible
                    li.level2.active
                      a.main-menu(href='https://www.dezshira.com/services/business-intelligence-solutions') Business Intelligence
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/business-advisory') Corporate Establishment and Structuring
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/legal-financial-due-diligence') Due Diligence
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/accounting-reporting') Accounting
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/payroll-human-resource-administration') HR and Payroll
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/tax') Tax
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/audit-financial-review') Audit and Risk Advisory
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/information-technology-solutions') Technology
                    li.level2
                      a.main-menu(href='https://www.dezshira.com/services/outbound-direct-investment') Outbound Direct Investment
            .col-sm-5.col-md-6.col-lg-6
              p
                | Asia&rsquo;s relentless economic growth and diverse range of economies present amazing opportunities for foreign investment. Foreign companies exploring opportunities in the region can, however, become exposed to shifting costs, complex regulatory requirements, and conflicting information.
              p
                | Dezan Shira &amp; Associates&rsquo; Business Intelligence professionals have a deep understanding of market entry across Asia, as well as strong connections with local suppliers, distributors, and industrial zones. Dezan Shira&rsquo;s Business Intelligence solutions provide investors with the tools to clarify their options and the means to capitalize on opportunities across Asia.
              p
              p
                strong Market Research
              p
                | Our Market research solutions quantify opportunities in specific industries, clarify regulatory requirements for individual business lines, and help companies to better understand their long-term costs in new markets.
              ul
                li Industry Trend and Sizing Analysis
                li Regulatory and Licensing Compliance
                li Salary Benchmarking
                li Consumer Segmentation and Preferences
              p
              p
                strong Market Entry Strategy
              p
                | Our Market Selection and Entry Strategy advisory helps companies to choose a market, method for incorporation, and supply chain structure that meets the needs of their local and regional operations.
              ul
                li Cross Country Competitiveness Benchmarking
                li Tariff and Supply Chain Engineering
                li Corporate Structuring Analysis
                li Comprehensive Entry Strategy Development
              p
              p
                strong Business Matchmaking
              p
                | Our Business Matchmaking service profiles, qualifies, and connects foreign companies to local suppliers, distributors, customers, and M&amp;A targets.
              ul
                li Target Identification
                li Candidate Qualification
                li Meeting Setup
                li Translation Support
              p
              p
                strong Location Analysis and Site Selection
              p
                | Our Location Analysis and Site Selection service zeros in on optimal geographies for investment, profiles special economic zones, and supports companies during visits to individual sites.
              ul
                li Cross Regional Cost Comparison
                li Infrastructure Quality Analysis
                li Industrial Zone Identification and Benchmarking
                li Site Visit Support
              ul.list-inline
                li
                  a.btn.btn-primary.mt-2.mb-2(href='https://www.dezshira.com/services') &lt; Back To Services 
                li
                  a.btn.btn-outline-dark.blue-btn.mt-2.mb-2(href='https://www.dezshira.com/contact', target='_blank') CONTACT US
              h4.section-title
                a(href='#') SPECIALIST
              ul.list-unstyled.list
                li
                  a(href='https://www.dezshira.com/personnel/maxfield-brown.html')
                    img.img-circle.img-thumbnail.pull-left.mr-3(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/max-brown-headshot.jpg', alt='Maxfield Brown', width='120', height='120')
                  .social_media.pull-right
                    a.marginleft(href='mailto:maxfield.brown@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/maxfield-brown.html')  Maxfield Brown 
                  .duration
                    p
                      | Manager
                      br
                      |                         Business Intelligence
                  .clearfix
                li
                  a(href='https://www.dezshira.com/personnel/koushan-das.html')
                    img.img-circle.img-thumbnail.pull-left.mr-3(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Koushan_Das.jpg', alt='Koushan Das', width='120', height='120')
                  .social_media.pull-right
                    a.marginleft(href='mailto:koushan.das@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/koushan-das.html')  Koushan Das 
                  .duration
                    p
                      | Assistant Manager
                      br
                      |                         Business Intelligence
                  .clearfix
                li
                  a(href='https://www.dezshira.com/personnel/lucy-lu.html')
                    img.img-circle.img-thumbnail.pull-left.mr-3(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Lucy_Lu200200.jpg', alt='Lucy Lu', width='120', height='120')
                  .social_media.pull-right
                    a.marginleft(href='mailto:lucy.lu@dezshira.com')
                      i.far.fa-envelope
                  .name
                    a(href='https://www.dezshira.com/personnel/lucy-lu.html')  Lucy Lu 
                  .duration
                    p
                      | Assistant Manager
                      br
                      |                         Business Intelligence
                  .clearfix
            // /col
            .col-sm-4.col-md-3.col-lg-3
              .rightBlockSection
                .contactUs.contact-Us-Small.mb-2
                  .BannerCaption
                    h3 To learn more about how we can support you, contact one of our local experts.
                    p
                      | We provide professional services tailored to Asia&acute;s business environment across the full business cycle.
                    a.btn.btn-outline-white.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
                .light-blue-bg.mt-2.mb-2
                  .BannerCaption.min
                    a(href='https://www.dezshira.com/brochure')
                      img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                    h3
                      a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                    p
                      a(href='https://www.dezshira.com/brochure') Learn more about how we can support your business in Asia
                .asiapedia.flyersBrochures
                  .ThumbBlock.hoverImage
                    figure
                      img(src='https://www.dezshira.com/themes/dsa/images/brochures/business-intelligence-solutions.jpg', itemprop='image')
                  .eventBody
                    h4
                      a(title='Corporate Establishment stricturing', href='#') Business Intelligence
                  .downloadflyersBrochures
                    ul.list-unstyled
                      li
                        a(href='https://www.dezshira.com/brochure_download_status/services~BI', target='_blank')
                          span Location Analysis and Site
                          i.fas.fa-cloud-download-alt.pull-right
                  
                    a.btn.btn-link.p-0.mb-1(href='https://www.dezshira.com/brochure', target='_blank') SEE MORE &gt;
                // /flyersBrochures
                a(name='mini_contact_form')

            // /col
            // /row

    

   
    


    
        // /container
        
    section.blue.pt-5.pb-5
        .container
            .row
                .col-sm-2.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.text-right
                    a(href='http://dezshira.in/register.html')
                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png 2x')
                .col-sm-8.col-md-8.col-lg-8
                    h5 SUBSCRIBE
                    h1
                        a(href='https://www.dezshira.com/register.html') Join over thousands of people who receive weekly foreign investment news in Asia

    section.pt-7.pb-7
      .container
        h4.section-title
          a(href='#') Asiapedia
        .row
          .col-lg-3.col-md-3.col-sm-6
            .asiapedia
              .ThumbBlock.hoverImage
                figure
                  img.img-responsive(src='https://resource.dezshira.com/resize/650x400/Resources/8443/India-Briefing-Pharmaceutical-industry-in-India.jpg', itemprop='image')
                .eventLable industry-profile
                .pediashare
              .eventBody
                h4
                  a(title='The Pharmaceutical Industry in India – Trends and Opportunities', href='https://www.dezshira.com/library/industry-profile/pharmaceutical-industry-india-trends-opportunities.html') The Pharmaceutical Industry in India &ndash; Tren...
                .dateTime September 2019
              .credit
                strong FREE
                |  | credits 0 
                span.L1 L1
          // /.col-lg-3
          .col-lg-3.col-md-3.col-sm-6
            .asiapedia
              .ThumbBlock.hoverImage
                figure
                  img.img-responsive(src='https://resource.dezshira.com/resize/650x400/Resources/8442/India-Briefing-Future-of-Fintech-in-India-Opportunities-and-Challenges.jpg', itemprop='image')
                .eventLable industry-profile
                .pediashare
              .eventBody
                h4
                  a(title='Future of Fintech in India – Opportunities and Challenges', href='https://www.dezshira.com/library/industry-profile/fintech-india-opportunities-challenges.html') Future of Fintech in India &ndash; Opportunities ...
                .dateTime September 2019
              .credit
                strong FREE
                |  | credits 0 
                span.L1 L1
          // /.col-lg-3
          .col-lg-3.col-md-3.col-sm-6
            .asiapedia
              .ThumbBlock.hoverImage
                figure
                  img.img-responsive(src='https://resource.dezshira.com/resize/650x400/Resources/8432/IB-2018-12-issue-p10-Port-Connectivity_Major-and-Intermediate-Seaports.jpg', itemprop='image')
                .eventLable infographic
                .pediashare
              .eventBody
                h4
                  a(title='Port Connectivity in India - Major & Intermediate Seaports ', href='https://www.dezshira.com/library/infographic/port-connectivity-india-major-intermediate-seaports.html') Port Connectivity in India - Major &amp; Intermed...
                .dateTime September 2019
              .credit
                strong FREE
                |  | credits 0 
                span.L1 L1
          // /.col-lg-3
          .col-lg-3.col-md-3.col-sm-6
            .asiapedia
              .ThumbBlock.hoverImage
                figure
                  img.img-responsive(src='https://resource.dezshira.com/resize/650x400/Resources/8433/IB-2018-12-issue-p11-Special-economic-zones.jpg', itemprop='image')
                .eventLable infographic
                .pediashare
              .eventBody
                h4
                  a(title='Special Economic Zones in India ', href='https://www.dezshira.com/library/infographic/special-economic-zones-india.html') Special Economic Zones in India 
                .dateTime September 2019
              .credit
                strong FREE
                |  | credits 0 
                span.L1 L1
          // /.col-lg-3
        // /row
      // /container


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-lg.btn-outline.blue-btn.btnNormalWidth(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal