extends layouts/_layout_default

block setting
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    - title = "Dezan shira"
    - title = "Dezan shira"



block content
    // Start Content
    section.terms-of-use.pt-5.pb-5
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              h2.display-4
                u Terms of Use
              p
                | Please read these terms and conditions (&apos;terms of use&apos;). By viewing and using the website, you are agreeing to the terms that appear below. The section called &apos;Guarantee&apos; contains important information about your rights and our responsibilities.
              h3 Who we are
              p
                | We, Dezan Shira &amp; Associates, own and run the website. We are a company based in Hong Kong - our registration number is 21095826 and our registered office is at Unit 507, 5/F, Chinachem Golden Plaza, 77 Mody Road, Tsim Sha Tsui East, Kowloon, Hong Kong. If you have any questions about this website or these terms, please use the relevant contact details set out on the &apos;Contact us&apos; page.
              p
                | The information on this website (the &ldquo;Website&rdquo; or &ldquo;Site&rdquo;) has been provided by Dezan Shira &amp; Associates and its affiliates or subsidiaries (collectively, &ldquo;Dezan Shira &amp; Associates&rdquo;) for general information purposes. It does not constitute legal, accounting, tax or other professional advice or services, and it is presented without any representation or warranty as to the accuracy or completeness of the information.
              p
                | While Dezan Shira &amp; Associates has made every attempt to ensure that the information contained at this Website has been obtained from reliable sources, Dezan Shira &amp; Associates is not responsible for any errors or omissions, or for the results obtained from the use of this information. All information in this site is provided &ldquo;as is&rdquo; without warrant or condition of any kind, with no guarantee of the suitability, completeness, accuracy, or timeliness of the publications, articles, videos, podcasts, information, software, products, services and related graphics contained on the website or any results obtained from the use of this information, and without warranty of any kind, express or implied, including, not limited to warranties of performance, merchantability and fitness for a particular purpose. In no event will Dezan Shira &amp; Associates, or Dezan Shira &amp; Associates&rsquo; partners, agents or employees be liable to you or anyone else for any decision made or action taken in reliance on the information in this Website or for any consequential, special or similar damages, even if advised of the possibility of such damages.
              h3 General Rules of Conduct
              p
                | You agree that you will not do or assist any third party to do any of the following:
              ul
                li interfere with another user&apos;s use or enjoyment of our sites;
                li
                  | other than as explicitly stated herein or as posted elsewhere on our sites, reproduce, distribute, &ldquo;frame,&rdquo; &ldquo;mirror,&rdquo; &ldquo;scrape,&rdquo; republish or retransmit information or content which has been provided by Dezan Shira &amp; Associates or found on our sites without express prior written permission provided by Dezan Shira &amp; Associates;
                li
                  | access the Site through an unauthorized interface, or in any unauthorized manner;
                li
                  | take any action that imposes an unreasonable or disproportionately large traffic load on Dezan Shira &amp; Associates systems or infrastructure;
                li
                  | modify, adapt, sublicense, sell, translate, reverse engineer, disassemble or decompile any portion of our sites, or in any way make our sites available through any third party;
                li
                  | use any spider, bot, site search/retrieval application, or other device or process to access, search, download, retrieve, index or &quot;data mine&quot; any content or data from our sites, or in any way reproduce or circumvent the navigational structure or presentation of the content available through our sites;
                li
                  | interfere with or disrupt the proper working or the security of our sites, or any services or activities conducted on or through our sites, including by &quot;hacking&quot; or defacing any portion of our sites;
                li
                  | introduce any virus, Trojan horse, time bomb, worm, cancelbot, easter egg or other computer program or programming routine that may damage or interfere with the operation of the Site, any content from our sites, any services or activities conducted on or through our sites, or any system;
                li unlawfully intercept any data or confidential or personal information; or
                li interfere with or disrupt any network connected to the Site.
              h3 Content
              p
                | We or our licensors own all the rights to all the materials contained in the website, and the information the website collects (we refer to all this as &apos;the content&apos;). This includes patents, copyright, database rights and trademarks.
              h3
                em Use of News Releases, Photographs and Related Content
              p
                | Publication releases and all photos, videos and any other related multimedia assets (collectively, the &ldquo;Publication Content&rdquo;) distributed by Dezan Shira &amp; Associates and its subsidiaries and posted on our sites may be used for editorial use only, meaning news, factual, educational, public interest, informational and/or historical purposes where a specific and separate agreement with us provides for this permission.  Publication Release Content may not be used for commercial use, meaning advertising, marketing, merchandising, promotional or in any way endorsing goods or services.  Except as otherwise provided in these TOU or as otherwise expressly permitted by Dezan Shira &amp; Associates in advance in writing, Publication Content may not be republished, copied, streamed or redistributed without Dezan Shira &amp; Associates&rsquo; prior written consent.  Where you have been granted written permission to make editorial use of photographs, you must: (i) use each photograph only within the context of the news release with which it was distributed; (ii) include any captions and/or text associated with each photograph, including links, if required in the metadata; (iii) include the credit line set forth in the metadata for each photograph, and if no credit line is included, then provide credit to &ldquo;Dezan Shira &amp; Associates,&rdquo; in either case with such credit appearing immediately adjacent to the News Release Content and in a clear and conspicuous manner comparable to the credit customarily provided to licensors of similar content; (iv) if present, display the copyright notice included in the metadata for each photograph; and (v) follow any other instructions contained in the metadata for each photograph, including without limitation the term of any license period, territory or media restrictions.  In connection with editorial use of photographs, you may never: (i) alter, rotate, manipulate, or crop the photograph in any manner that alters the editorial integrity or essential nature of the photograph; (ii) use the photograph in any manner that is obscene, pornographic, defamatory, or otherwise objectionable; or (iii) violate any laws, regulations or industry codes of practice.  Dezan Shira &amp; Associates is not responsible for Publication Release Content in any way, including without limitation, any copyright, trademark, publicity, privacy, contract or other rights clearance, or the accuracy, timeliness, integrity, quality, safety, appropriateness or other aspect of any information or other content contained therein.  You are solely responsible for verifying the accuracy and completeness of Publication Release Content, and for determining if any permissions are necessary to use the Publication Release Content, and, if so, for securing those permissions prior to your use of the Publication Release Content.  If you choose to rely on or otherwise use Publication Release Content in any way you do so solely at your own risk and without any representation or warranty whatsoever from Dezan Shira &amp; Associates, its affiliates or its service providers.
              h3
                em You can:
              p view and display the content on a computer screen;
              p
                | print individual pages on paper or make a reasonable number of photocopies (or both); and
              p
                | store the content in electronic form on your computer&apos;s hard drive for your personal, non-commercial use only.
              p
                | You must not copy, pass on, sell, publish or make profit from any of the content without first getting our written permission. The content includes a number of trademarks (including Dezan Shira &amp; Associates) that are owned by us or our licensors. By making the trademarks available on the website, we are not giving you any permission to use them.
              h3 License
              p
                | Subject to the restrictions regarding the collection and use of your personal information detailed in our 
                a(href='http://www.dezshira.com/privacy-policy.html') Privacy Policy
                | , you specifically grant to Dezan Shira &amp; Associates and its affiliates and service providers a perpetual, worldwide, royalty-free, irrevocable, assignable, sublicensable, non-exclusive right and license to:
              ul
                li
                  | copy, display, distribute, use, perform, transmit, store and archive information and content submitted by you in Dezan Shira &amp; Associates&rsquo; sole discretion, including without limitation: (i) as directed by your actions and/or instructions; (ii) as necessary to provide customer service; and (iii) as otherwise necessary to provide the functionality of the Site;
                li
                  | access and disclose your account information and any other information and content submitted by you, if required to do so by law or if such action is, in our sole judgment, necessary in order to: (i) comply with legal process; (ii) enforce these TOU&rsquo;s; (iii) respond to claims that any information or content violates the rights of any third party; or (iv) protect the rights, property or personal safety of Dezan Shira &amp; Associates or any third party; and
                li
                  | incorporate information and content posted by you into compilations, derivative works, and marketing and promotional materials for the Site and for Dezan Shira &amp; Associates, and publish and otherwise make generally available archives containing the information and content posted by you; any such compilations, derivative works, and marketing and promotional materials may be reproduced, published, performed, displayed and otherwise distributed in any media now known or hereafter developed, for any purpose whatsoever, commercial or otherwise, to any and all third parties without compensation or attribution to you.
              h3 Guarantee
              p
                | The content is only for general information, and we provide it as it becomes available. We take reasonable care to check that the content is accurate and complete before we publish it on the website. However, because we get the content from a number of different sources - and because of the issues involved with providing information through the Internet - we cannot guarantee that the content will always be accurate, available, complete or fit for any particular purpose.
              p
                | We do not guarantee that the content is free from viruses, or that you will always be able to use the website without any interruption or error. If you download any content to your computer or take the content from the website in any other way, you do so at your own risk. We will not be responsible for any damage to your computer or any of the information on it.
              p
                | We do not accept any responsibility for any mistakes, errors or other faults in the website and the content, or for how you use the website and the content.
              p
                | However, nothing in these terms removes or limits our liability for death or personal injury caused by our negligence or for any liability which we cannot limit or exclude under the relevant law.
              h3 Links to other websites
              p
                | The website may contain links or references to products, materials or websites provided by organisations that are independent from us (we call these &apos;third parties&apos;), either directly or through frames (for example, where two or more web pages are displayed as a single page). Although we may make this material available, we do not in any way recommend, endorse or promote it. If you have any complaints about the third-party material we make available, you should contact the relevant third party. You must not link to our website without first getting our written permission.
              h3 Your privacy
              p
                | We take your privacy very seriously. Any information you give to us or we collect from you when you use the website is only used in line with the terms of our 
                a(href='http://www.dezshira.com/privacy-policy.html') Privacy Policy
                |  Statement.
              h3 Services
              p
                | It may be possible, through other websites we run and provide links to from this website, for you to have access to a facility to services. Nothing on this or other websites we run forms an offer on our part to sell any services. How you buy and use services will depend on separate terms and conditions, and you may need to register with us or another organisation.
              h3 Other matters
              p
                | If any court having the appropriate authority finds that any of these terms are not valid, this will not affect the validity of any of the other terms in this notice. If you or we fail to take advantage of any right we have under these terms, it does not mean you or we are giving up that right.
              p
                | We may make changes to any part of the website or the content (including these terms) at any time. We will tell you about any changes to these terms by showing the date of the changes in the &apos;Last updated&apos; section below. By using the website after the date we make any changes, you are agreeing to the changes.
              p Last updated: May 2018


    // End Content

block js
    |
    |
    script(src='https://www.dezshira.com/themes/dsa/js/fontawesome-all.min.js')

block modal
    |
    |
    // Start modal
    #quickViewModal.modal.fade(role='dialog', tabindex='-1', aria-labelledby='gridModalLabel')
        .modal-dialog(role='document')
            .modal-content.radius-none
                .modal-header.section-title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#gridSystemModalLabel.modal-title Our Regional Publications
                .modal-body.top-bg-contain.book-detail-bg-banner
                    #iframeContainer

    #Loginpopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
            .modal-content
                .modal-header.text-center
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    a(href='https://www.dezshira.com/library')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    p.text-center A place to share knowledge and better understand Asia
                .modal-body
                    .row
                        .col-sm-6.col-md-6.col-lg-6
                            h4#myModalLabel.modal-title.text-center Log In
                            form#loginForm.padd15.padd-TopNone(action='https://www.dezshira.com/login?action=post_form', method='POST')
                                input(type='hidden', name='dsa_login_token', value='5643e57dfd6544a0243c8b6f26f7e85c529b77080ccdd61c4209401cfe01ce58')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="far fa-envelope"></i>
                                    input.form-control(type='text', name='email', placeholder='email')
                                .form-group.input-group
                                    span.input-group-addon
                                        
                                        <i class="fas fa-lock"></i>
                                    input.form-control(type='password', name='password', placeholder='password')
                                p.text-right
                                    a(href='http://www.asiabriefing.com/customer/forgot-password')
                                        small Forgot Password?
                                .form-group.text-center
                                    input.btn.btn-primary(type='submit', value='LOGIN')
                                .form-group.text-center
                                    small
                                        | Don't have an account? 
                                        a(href='https://www.dezshira.com/register') Sign Up
                        .col-sm-6.col-md-6.col-lg-6.greyLeftBorder
                            .subscriptionBlock
                                #subscriptionCarousel.carousel.slide(data-ride='carousel')
                                    // Carousel indicators
                                    ol.carousel-indicators
                                        li(data-target='#subscriptionCarousel', data-slide-to='0')
                                        li(data-target='#subscriptionCarousel', data-slide-to='1')
                                        li(data-target='#subscriptionCarousel', data-slide-to='2')
                                        li(data-target='#subscriptionCarousel', data-slide-to='3')
                                    // Wrapper for carousel items
                                    .carousel-inner
                                        .item.next.left
                                            h4.modal-title.text-center.mb-2 Publication
                                            i.sprite.sprite-retina.icon-publications
                                            .carousel-caption
                                                p Download our FREE magazines and guides
                                        .item
                                            h4.modal-title.text-center.mb-2 News 
                                            i.sprite.sprite-retina.icon-news
                                            .carousel-caption
                                                p
                                                    | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                                        .item
                                            h4.modal-title.text-center.mb-2 Multimedia
                                            i.sprite.sprite-retina.icon-ksp
                                            .carousel-caption
                                                p Access presentations, webinars, podcasts, reports, Q&As and more
                                        .item.active.left
                                            h4.modal-title.text-center.mb-2 Dashboard
                                            i.sprite.sprite-retina.icon-dashboard
                                            .carousel-caption
                                                p Track paid orders and connect with our support team
                                    // Carousel controls

    #logoDownload.modal.fade.logoDownload(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    a(href='https://www.dezshira.com/')
                        img.logo.center-block.margin20Top(alt='', src='https://www.dezshira.com/themes/dsa/images/logo.png', srcset='https://www.dezshira.com/themes/dsa/images/logo-2X.png 2x')
                .modal-body
                    h4.section-title Dezan Shira & Associates logos
                    table.table.table-striped
                        tbody
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank') Dezan Shira & Associates logo_vertical(EPS)
                                td.lightgreyColor 254KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank') Dezan Shira & Associates logo_vertical(PNG)
                                td.lightgreyColor 14KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_vertical (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank') Dezan Shira & Associates logo_horizontal(EPS)
                                td.lightgreyColor 566KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank') Dezan Shira & Associates logo_horizontal(PNG)
                                td.lightgreyColor 49KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira & Associates logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank') Dezan Shira Asian Alliance(EPS)
                                td.lightgreyColor 305KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (EPS).eps', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>
                            tr
                                td
                                    a(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank') Dezan Shira Asian Alliance(PNG)
                                td.lightgreyColor 18KB
                                td
                                    a.lightgreyColor(href='https://www.dezshira.com/themes/dsa/images/dsa-logo/Dezan Shira Asian Alliance logo_horizontal (PNG).png', target='_blank')
                                        
                                        <i class="fas fa-cloud-download-alt"></i>


    // End modal