// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #4A4A4A !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$bright-gray:#58595B !default;
$bluish-gray:#94a2ad !default;
$soft-bluish-gray:#e6e7e8 !default;

$black:    #000 !default;
$deep-blue:#1a2940 !default;
$cyan-blue:#344E70 !default;
$bluedark:#0D2338 !default;
$blue:    #1D74CE !default;

$primary:  $blue !default;
$grey:     $gray-400 !default;

// social-media-colors
$facebook:#3b5998;
$twitter:#26a7de;
$youtube:#ff0000 ;
$linkedIn: #007bb5;
$weixin:#7BB32E;

// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-700 !default;

// Links
//
// Style anchor elements.


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   2rem !default;
$spacer: 1rem !default;


$headings-margin-bottom:      ($spacer / 2) !default;
$border-radius-none: 0px;
$border-none: 0px;
$border:1px solid #dee2e6 !default;

// Fonts
//

// stylelint-disable value-keyword-case
$font-path:                   "../fonts/" !default;
$font-family-sans-serif:      'Roboto', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-family-head:            'Hind', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;


$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display-line-height:         $headings-line-height !default;



