// home page top main carousel
#HomeBannerSlide{
.carousel-inner {
	>.item {
		>img {
			background-size: cover;
            width: 100%; 
            height: 400px;
		}
		>a {
			>img {
				background-size: cover;
                width: 100%;
                height: 400px;
			}
		}
    }
    .carousel-caption{
        color: #fff;
        text-align: left;
        left: 12%;
		right: 12%;
		bottom: 20%;
		width: 40%;
        a { color: #fff;
        &:hover { text-decoration: none;}
	}
	h4{ font-size: 22px; line-height:28px; margin-top: 20px;}
    }
}
.carousel-indicators{
	left: 14.5%;
	bottom: 40px;
	li{
	background-color: #8c8e92;
	margin: 0px;
	margin-right: 5px;
	width: 10px; height: 10px;
	border: 0;

	}
	.active {
		background-color: #e1e1e1;
		height: 10px;
		width: 10px;
		border: 0;
	
	}
}
}

// home page resource carousel
.featureResources {
	.carousel-inner {
		>.item {
			height: 590px;
			>a {
				img {
					padding: 30px 64px;
					background-color: #ebebeb;
				}
			}
		}
	}
	.carousel-caption {
		width: 100%;
		text-align: left;
		left: 0;
		right: 0;
		bottom: 50px;
		text-shadow: none;
		padding: 0 18px;
		color: #58595b;
	}
	.carousel-indicators {
		bottom: 0;
		margin-left: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		border-bottom: solid 1px #e7e7e7;
		border-top: solid 1px #e7e7e7;
		margin-bottom: 0px;
		padding-bottom: 10px; padding-top: 10px;
		li {
			background-color: #b7b7b7;
			border: 0;
			width: 12px;
			height: 12px;
			margin: 0px 2px;
		}
		.active {
			background-color: #d5d5d5;
			border: 0;
			margin-top: 0;
		}
	}
}

//inner page top main banner

section.TopBanner {
	position: relative;
	overflow: hidden;
	height: 340px;
	width: 100%;
	z-index: 1;
	top: 0;
	img {
		position: absolute;
		background-size: cover;
		width: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	.BannerCaption {
		vertical-align: middle;
        margin-top: 180px;
		color: #fff;
		h1, h4{ font-weight: normal;}
	}
}

.carousel-indicators {

	li {
		background-color: #b7b7b7;
		border: 0;
		width: 12px;
		height: 12px;
		margin: 0px 2px;
	}
	.active {
		background-color: #d5d5d5;
		border: 0;
		margin-top: 0;
	}
}

section.TopBanner.bottom-banner{
	height: auto;

	.BannerCaption{
		 margin: 0px;
		 padding: 94px 0px;
		 color: #fff;
		 a{ color: #fff;}
		img{ width: auto;
		 position: relative;

		}
	}
}

//history page carousel
#carousel-history{
	.carousel-inner{
		.item{ margin-top: 50px; min-height: 350px;
		 .item{ margin-top: 0px;}
		}
	   }
	.carousel-caption{ 
		position: relative; bottom: inherit; left: inherit; right: inherit; text-align: left; color: inherit;
		text-shadow:none; padding-top: 0px;
		h1{ color: #939598; font-size: 48px;}
		h2{ color: #000;font-size: 30px; }
		h1,h2{margin-bottom: 20px;font-weight: normal;}
	}
	.carousel-control.left{ background-image:url(https://www.india-briefing.com/themes/ib/images/left-indicator.png);background-repeat: no-repeat;
	width: 18px; left: 15%; top: 50%;}
	.carousel-control.right{ background-image:url(https://www.india-briefing.com/themes/ib/images/right-indicator.png); background-repeat: no-repeat;
		width: 18px; right: 15%; top: 50%;
	}
	.carousel-indicators{left: 0; margin: 0; text-align: left; bottom: 0px; width: 100%;
	position: relative; padding-bottom: 20px; padding-top: 20px;

	li{ width: 100px; background-color: inherit;text-indent: inherit; 
		background:url(https://www.dezshira.com/themes/dsa/images/timeline-dot.png) repeat-x center 90% transparent;
		height: 42px;
		font-size: 18px; 
		text-align: center;
		color: #58595b;
		margin: 0px;
		a {
			color: #58595b;
		}
	}
	.dotInner {
		transition:all .35s ease-out;
		border-radius:10px;
		display:block;
		width:10px;
		height:10px;
		margin:0 auto;
		background-color:#1a2940
	   }
	.dotOuter {
		transition:all .35s ease-out;
		border-radius:20px;
		background-color:transparent;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-ms-flex-line-pack:center;
		align-content:center;
		width:20px;
		height:20px;
		margin:0 auto;
		padding:0
	}
	a:focus {
		outline:0;
		text-decoration:none
	}
	.active .dotOuter,
	a:hover .dotOuter {
	 border:1px solid #1a2940
	}
	a:hover .dotInner {
	 background-color:#1a2940
	}
	}
	
	#carousel-history-2005,#carousel-history-2007,#carousel-history-2008,#carousel-history-2012,#carousel-history-2014,#carousel-history-2018{

		.caption{ 
			
			h1{ color: #939598; font-size: 48px;}
			h2{ color: #000;font-size: 30px; }
			h1,h2{margin-bottom: 20px;font-weight: normal;}
		}

		.carousel-indicators{ position: absolute; bottom: 10%; left: 15px;

			li{
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 2px;
				text-indent: -999px;
				cursor: pointer;
				background-color:#b7b7b7;
				border: 1px solid #b7b7b7;
				border-radius: 10px;}
				.active {
					background-color: #a3a3a3;
					border: 0;
					margin-top: 0;
				}
				background-image: none;
		}
	}
}

.owl-carousel#partners-carousel {
	.view {
		img {
			box-shadow: none;
			margin: 0 auto;
			position: absolute;
			transform: translate(-50%,-50%);
			width: 120px;
			top: 50%;
			left: 50%;
		}
		background-color: #FFF;
		height: 120px;
		float: none;
		margin: 0 auto;
		position: relative;
		width: 150px;
	}
	.owl-nav {
		button.owl-next {
			position: absolute;
			top: 30%;
			right: 0px;
			font-size: 0 !important;
			color: #FFF;
			background: url(//www.dezshira.com/themes/dsa/images/angle-right.png) no-repeat left top;
			height: 42px;
			width: 18px;
			outline: 0;
			text-shadow:0 1px 2px rgba(0,0,0,.6);
			background-color:rgba(0,0,0,0);
			filter:alpha(opacity=50);
			opacity:.5;

		}
		button.owl-prev {
			position: absolute;
			top: 30%;
			left: 0px;
			font-size: 0 !important;
			color: #FFF;
			background: url(//www.dezshira.com/themes/dsa/images/angle-left.png) no-repeat left top;
			height: 42px;
			width: 18px;
			outline: 0;
			text-shadow:0 1px 2px rgba(0,0,0,.6);
			background-color:rgba(0,0,0,0);
			filter:alpha(opacity=50);
			opacity:.5;
			
		}
	}
}


#books_carousel {
	.list-inline {
		border-bottom: 1px solid #e6e7e8; margin-left: 0; padding-top: 30px; padding-bottom: 30px;
		>li {
			h4 {
				padding: 10px 40px;
				margin: 0;
				a {
					color: #000;
					font-weight: 400;
				}
			}
			padding: 0;
		}
	}
	.list-inline.borderNone {
		border-bottom: 0;
	}
	.carousel-control {
		width: 10%;
		right: 0;
	}
	li {
		.desc {
			background-color: #fff;
			padding: 10px 35px;
			h3 {
				font-size: 24px;
				
				a {
					color: #000;
					&:hover {
						text-decoration: none;
					}
				}
			}
			h4 {
				padding-left: 0;
				a {
					font-weight: 400;
					color: #1a2940;
				}
			}
		}
	}

	.owl-carousel#publication-carousel {
		.view {
			img {
				box-shadow: none;
				margin: 0 auto;
				position: absolute;
				transform: translate(-50%,-50%);
				top: 50%;
				left: 50%;
				width: 200px;
			}
			background-color: #FFF;
			float: none;
			margin: 0 auto;
			position: relative;
			height: 320px;
		
		}
		.owl-nav {
			button.owl-next {
				position: absolute;
				top: 0;
				right: 0px;
				font-size:80px ;
				color: #FFF;
				background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
				height: 100%;
				width: 40px;
				outline: 0;
				text-shadow: 0 1px 1px rgba(0,0,0,.4);
			}
			button.owl-prev {
				position: absolute;
				top: 0;
				left: 0px;
				font-size:80px ;
				color: #FFF;
				background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
				height: 100%;
				width: 40px;
				outline: 0;
				text-shadow: 0 1px 1px rgba(0,0,0,.4);
			}
		}
	}
}
