// home page top main carousel
#HomeBannerSlide{
.carousel-inner {
	>.item {
		>img {
			background-size: cover;
            width: 100%; 
            height: 400px;
		}
		>a {
			>img {
				background-size: cover;
                width: 100%;
                height: 400px;
			}
		}
    }
    .carousel-caption{
        color: #fff;
        text-align: left;
        left: 12%;
		right: 12%;
		bottom: 20%;
		width: 40%;
        a { color: #fff;
        &:hover { text-decoration: none;}
	}
	h4{ font-size: 22px; line-height:28px; margin-top: 20px;}
    }
}
.carousel-indicators{
	left: 14.5%;
	bottom: 40px;
	li{
	background-color: #8c8e92;
	margin: 0px;
	margin-right: 5px;
	width: 10px; height: 10px;
	border: 0;

	}
	.active {
		background-color: #e1e1e1;
		height: 10px;
		width: 10px;
		border: 0;
	
	}
}
}

// home page resource carousel
.featureResources {
	.carousel-inner {
		>.item {
			height: 590px;
			>a {
				img {
					padding: 30px 64px;
					background-color: #ebebeb;
				}
			}
		}
	}
	.carousel-caption {
		width: 100%;
		text-align: left;
		left: 0;
		right: 0;
		bottom: 50px;
		text-shadow: none;
		padding: 0 18px;
		color: #58595b;
	}
	.carousel-indicators {
		bottom: 0;
		margin-left: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		border-bottom: solid 1px #e7e7e7;
		border-top: solid 1px #e7e7e7;
		margin-bottom: 0px;
		padding-bottom: 10px; padding-top: 10px;
		li {
			background-color: #b7b7b7;
			border: 0;
			width: 12px;
			height: 12px;
			margin: 0px 2px;
		}
		.active {
			background-color: #d5d5d5;
			border: 0;
			margin-top: 0;
		}
	}
}

//inner page top main banner

section.TopBanner {
	position: relative;
	overflow: hidden;
	height: 340px;
	width: 100%;
	z-index: 1;
	top: 0;
	img {
		position: absolute;
		background-size: cover;
		width: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	.BannerCaption {
		vertical-align: middle;
        margin-top: 180px;
		color: #fff;
		h1, h4{ font-weight: normal;}
	}
}

.carousel-indicators {

	li {
		background-color: #b7b7b7;
		border: 0;
		width: 12px;
		height: 12px;
		margin: 0px 2px;
	}
	.active {
		background-color: #d5d5d5;
		border: 0;
		margin-top: 0;
	}
}

section.TopBanner.bottom-banner{
	height: auto;

	.BannerCaption{
		 margin: 0px;
		 padding: 94px 0px;
		 color: #fff;
		 a{ color: #fff;}
		img{ width: auto;
		 position: relative;

		}
	}
}
#carousel-history{

	.carousel-caption{ 
		position: relative; bottom: inherit; left: inherit; right: inherit; text-align: left; color: inherit;
		text-shadow:none;
	}
	.carousel-control.left, .carousel-control.right{ background-image: inherit;}
	.carousel-indicators{left: 0; margin: 0; text-align: left; bottom: 0px; width: 100%;
	position: relative; padding-bottom: 20px; padding-top: 20px;
	}

	#next {
		right:0;
		background-image:url(https://www.india-briefing.com/themes/ib/images/right-indicator.png)
	   }
	#prev {
		left:0;
		background-image:url(https://www.india-briefing.com/themes/ib/images/left-indicator.png)
	   }
}
