.footer{ color: #fff;
    .footer-menu{
        ul.list-inline {
            padding: 0;
            margin: 0 0 0px;
            li {
                padding-left: 20px;
                padding-right: 20px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
    .footer-social{
        ul.list-inline {
            padding:0;
            margin:0;
            list-style:none
           }
           ul.list-inline li {
            padding:0 5px;
            margin:0;
            color:#94a2ad;
           }
           ul.list-inline li:first-child {
            padding-left:0;
            font-size:16px;
            text-transform:uppercase;
            vertical-align:bottom
           }
    }
    .footer-note {
        font-size:12px;
        color:#94a2ad;
        margin:0;
        border-bottom:solid 1px #94a2ad
       }
    .footer-copyright{ color:#94a2ad;
        .copyright{ font-size: 11px;}
        .links{
            ul.list-inline {
                padding: 0;
                margin: 0;
                text-align: right;
                li {
                    padding: 0;
                    margin: 0;
                    border-right: solid 1px #94a2ad;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:last-child {
                        border: 0;
                        padding-right: 0;
                    }
                    a {
                        color: #94a2ad;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
            }
            
        }
    }
    .footer-signup-block{
        .input-group-lg>.form-control,
        .input-group-lg>.input-group-addon {
            border-radius:0;
            border:0;
            background-color:#3c495c;
            color:#95a3b0;
            font-style:italic;
            height:47px
        }
           .input-group-lg>.input-group-btn>.btn {
            border-radius:0;
            width:122px;
            line-height:30px
        }
    }
}