.logo{
    padding-bottom: 14px; 
    padding-top: 14px;
}
.header-right-block{
    .connectdevelop  {    
    margin: 20px 10px 0;        
    margin-right: 10px;        
    margin-left: 10px;    
    font-size: 18px;    
    color: #666;    
    outline: 0;    
    float: left;
    }
    #accordion{
    width: 67%;
    margin-top: 20px;
    }
}