div#sidebarnav {
	background-color: $white;
	min-height: 430px;
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		 li {
			display: block;
			color: $white;
			font-weight: normal;
			line-height: normal;
			position: relative;
			text-transform: capitalize;
			padding-bottom: 0px;
			a {
				text-decoration: none;
				display: block;
				padding: 10px 19px 10px 19px;
				color: $cyan-blue;
				border-bottom: solid 1px #f1f2f2;
				font-weight: 400;
				&:hover {
					color: $blue;
				}
			}
			 ul {
				li {
					a {
						color: $bright-gray;
						font-weight: normal;
						padding-left: 30px;
						border-bottom: solid 1px #f1f2f2;
						&:hover {
							color: $blue;
						}
					}
				}
				 li.active {
					a {
						background-color: $gray-800;
						color: $white;
					}
				}
			}
		}
		 li.level3.active {
			a {
				color: $blue;
				background-color: $white;
			}
		}
		 li.active {
			a {
				color: $blue;
			}
		}
		 li.level1.active {
			a {
				color: $blue;
			}
            background-color: $white;
            ul{
                li{
                    a{ color: $bright-gray;}
                }
            }
		}
		 li.level1 {
			a {
				&:hover {
					color: $blue;
				}
			}
			li {
				a {
					&:hover {
						color: $blue;
					}
				}
			}
			&:hover {
				background-color: #f8f8f8;
			}
		}
		li.level2 {
			&:hover {
				background-color: #f8f8f8;
            }
            ul{
                li{
                    a{ color: $bright-gray;}
                }
            }
		}
		li.level1.active {
			a.main-menu {
                background-color: $white;
                color: $blue;
			}
		}
		li.level2.active {
            background-color: $white;
            color: $blue;
		}
	}
	ul.collapsible {
		li.active {
			ul {
				display: block;
			}
		}
	}
	ul.news {
		li.current-cat {
			background-color: $gray-900;
			color: $white;
		}
	}
}
body.script {
	div#sidebarnav {
		ul.collapsible {
			li {
				ul {
					display: none;
				}
			}
		}
		ul {
			li {
				ul {
					ul {
						padding:0px;
						margin: 0px;
						display: none;
					}
				}
			}
		}
	}
}
