.navbar-inverse {
	background-color: #ebebeb;
    border-color: #1a2940;
    border-top: solid 3px #1a2940;
    border-bottom: none;
    border-radius: 0;
    margin-bottom: 0px;
	.navbar-nav {
		>li {
			>a {
				color: #59595b;
				text-transform: uppercase;
				&:hover {
					color: #fff;
					background-color: #1a2940;
				}
				&:focus {
					color: #fff;
					background-color: #1a2940;
				}
			}
		}
	}
}