doctype html
html(lang=language)
    head
        block setting   
            -var mainActive = 'home';
            -var bodyClass = '';


        //- Add Custom CSS
        block styles

        // New Styles
        link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
        link(rel='stylesheet', href='https://www.dezshira.com/themes/dsa/css/jquery.material.form.css', type='text/css' )
        // End New Styles
    body(class=bodyClass)
        include ../components/_header

        main.wrap
            block content
        // End Main Content

        include ../components/_footer
        
        //- Add Custom Modal
        block modal

        

        //- Add Custom Js
        block js
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        //- JQUERY MATERIAL FORM PLUGIN
        script(src="https://www.dezshira.com/themes/dsa/js/jquery.validate.min.js")
        script(src="https://www.dezshira.com/themes/dsa/js/jquery.material.form.js")

        script(src="assets/js/custom.js")