doctype html
include ../components/_var
include ../components/_mixin
html(lang=language)
    head
        block setting   
            -var mainActive = 'home';
            -var bodyClass = '';

        include ../components/_meta

        //- Add Custom CSS
        block styles

        // New Styles
        link(href=url+"assets/css/styles.css" rel="stylesheet")
        // End New Styles
    body(class=bodyClass)
        include ../components/_header

        main.wrap
            block content
        // End Main Content

        include ../components/_footer
        
        //- Add Custom Modal
        block modal

        // New Script
        script(src="/assets/js/library.js")
        script(async src="/assets/js/main.js")
        // End New Script
        |
        |

        //- Add Custom Js
        block js