doctype html
html(lang=language)
    head
        block setting   
            -var mainActive = 'home';
            -var bodyClass = '';


        //- Add Custom CSS
        block styles

        // New Styles
        link(rel='stylesheet', href='assets/css/style.css', type='text/css' )

        // End New Styles
    body.pt-6(class=bodyClass)
        include ../components/_header

        main.wrap
            block content
        // End Main Content

        include ../components/_footer
        
        //- Add Custom Modal
        block modal

        // New Script
        script(src="/assets/js/library.js")
        script(async src="/assets/js/main.js")
        // End New Script
        |
        |

        //- Add Custom Js
        block js