doctype html
html(lang=language)
    head
        block setting   
            -var mainActive = 'home';
            -var bodyClass = '';


        //- Add Custom CSS
        block styles

        // New Styles
        link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
        // End New Styles
    body.pt-6(class=bodyClass)
        include ../components/_header

        main.wrap
            block content
        // End Main Content

        include ../components/_footer
        
        //- Add Custom Modal
        block modal

        // New Script
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        // Include all compiled plugins (below), or include individual files as needed 
        script(src="./node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js")
        // End New Script
        |
        |

        //- Add Custom Js
        block js